<!-- <div class="wrapper" > 
     <div class="main-content">
         <div class="container-fluid p-xs-0">
             <div class="row w-100">
                 <div class="col-md-12">
                     <div class="card">
                         <div class="card-header card-header-danger" >
                            <p class="card-category">Complete Your Purchase</p>
                         </div>
                         <alert></alert>
                         <div class="row">
                          <div class="col-md-6">
                              <h6><strong>Select Payment Method</strong> &nbsp;&nbsp;</h6>
                                   <mat-radio-group >
                                    <mat-radio-button value="7">PayPal</mat-radio-button> &nbsp; &nbsp;
                                    <mat-radio-button value="15">Google Pay</mat-radio-button> &nbsp; &nbsp;
                                    <mat-radio-button value="5">Stripe</mat-radio-button> &nbsp; &nbsp;
                                  </mat-radio-group>
                              </div>
                        </div>
                         <div class="card-body">
          <form #checkout="ngForm" [formGroup]="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
            <div class="row">
              <div class="col-md-6">
                        <mat-radio-group >
                        <mat-radio-button value="7">Turbo Transcription - $7/Hours</mat-radio-button> 
                        <mat-radio-button value="15">Professionally Edited Transcription - $15/Hours</mat-radio-button> 
                        <mat-radio-button value="5">Normal Transcription - $5/Hours</mat-radio-button> 
                      </mat-radio-group>
                  </div>
            </div>
            
            
            <div class="row">
                 <div class="col-md-6">
                   <mat-form-field class="example-full-width" [formGroup]="ngForm">
                     <input matInput placeholder="Fist Name"  formControlName="firstname" required type="text"  >
                   </mat-form-field>
                 </div>
                 <div class="col-md-6">
                   <mat-form-field class="example-full-width" [formGroup]="ngForm">
                     <input matInput placeholder="Last Name" formControlName="lastname" required type="text"  >
                   </mat-form-field>
                 </div>
             </div>
             <div class="row">
                 <div class="col-md-6">
                   <mat-form-field class="example-full-width" [formGroup]="ngForm">
                     <input matInput placeholder="Address" formControlName="address" required type="text">
                   </mat-form-field>
                 </div>
             </div>
             <div class="row">
                 <div class="col-md-6">
                   <mat-form-field class="example-full-width" [formGroup]="ngForm">
                     <input matInput placeholder="City" formControlName="city" required type="text">
                   </mat-form-field>
                 </div>
                 <div class="col-md-6">
                   <mat-form-field class="example-full-width" >
                     <input matInput placeholder="Country" [formGroup]="ngForm" formControlName="country" required type="text" >
                   </mat-form-field>
                 </div>
                 </div>
                 <div class="row">
                 <div class="col-md-6">
                     <mat-form-field class="example-full-width" [formGroup]="ngForm">
                       <input matInput placeholder="Email address" formControlName="email" required type="email"  >
                     </mat-form-field>
                 </div>
                 <div class="col-md-6">
                     <mat-form-field class="example-full-width" [formGroup]="ngForm">
                       <input matInput placeholder="Telephone" formControlName="phone" required type="tel">
                     </mat-form-field>
                 </div>
 
                 </div>
           <mat-card>
             <mat-card-content>
               <h6><strong> Add Transcription Credits</strong> &nbsp;&nbsp;</h6>
               <section >
                 <mat-radio-group formControlName ='pamount' [formGroup]="ngForm">
                   <mat-radio-button value="10">2 Hours - $10</mat-radio-button> &nbsp; &nbsp;
                   <mat-radio-button value="25">5 Hours - $25</mat-radio-button> &nbsp; &nbsp;
                   <mat-radio-button value="50">10 Hours - $50</mat-radio-button> &nbsp; &nbsp;
                   <mat-radio-button value="100">20 Hours - $100</mat-radio-button> &nbsp; &nbsp;
                 </mat-radio-group>
               </section>
             </mat-card-content>
           </mat-card> -->
         
         <!-- <div class="group" [formGroup]="ngForm" style="margin-top: 20px">
            <label>
               <span>Specific Amount&nbsp;&nbsp;</span>
               <input class="field" formControlName="amount"  required    placeholder="$100"  />
             </label>
         </div> -->
        <!--  <div class="row">
           <div class="col-md-6" style="margin-top: 20px">
           <mat-form-field>
             <input matInput formControlName="amount" placeholder="Specific Amount" type="number" class="example-right-align">
             <span matPrefix>$&nbsp;</span>
             <span matSuffix>.00</span>
           </mat-form-field>
           </div>
         </div>
      
             <label for="card-info" style="margin-top: 20px"><strong> Card Info</strong></label>
             <div id="card-info"  #cardInfo></div>
         
             <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
             
      
           <button name="pay"   type="submit">Purchase</button>
         </form>
 
         </div>

         </div>

         </div>

         </div>

         </div>
         </div>

 </div>
 -->