.modal-img-style{
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
h1, h2, h3, h4, h5, h6{
    font-family: 'ralewaybold' !important;
}
.start-time{
    cursor: pointer;
}
.start-time:hover{
    font-size: 1.3rem;
}

@media screen and (min-width:0px) and (max-width:992px){
    .podcast-social li p {
        font-size: 11px;
    }
    .podcast-social li a {
        height: 40px;
        width: 40px;
        font-size: 15px;
        line-height: 40px;
    }
}