<!--=================================
 Main content -->
        
     <!-- Left Sidebar End-->
     <!------------------------podcast-start------------------------>
 
     <div class="content-wrapper" style="margin-top: 25px" id="search_result_content">
       <div class="row">
          <div *ngIf="is_loading==true" class="col-12">
            <h1 class="text-center">Loading...</h1>
          </div>
          <div class="col-12" *ngIf="episodes.length==0&&is_loading==false" >
            <h1 class="text-center">No search results.</h1>
          </div>
          <div class="col-12 px-lg-5" *ngIf="episodes.length>0&&is_loading==false">
            <h6 class="float-right">{{total_result}} results</h6>
          </div>
          <div infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50"
            (scrolled)="onScroll()"
            [scrollWindow]="false" style=" height: 58rem; overflow-y: auto;padding-right: 15px;" 
            class="col-12 scrollbar square scrollbar-lady-lips hide_scrollbar" 
            *ngIf="episodes.length>0&&is_loading==false">
           <!--<div  *ngFor="let podkast of podcasts.docSearchResults" >-->
              <div class="row main-podcast_bg mx-lg-5 mt-xs-0"  *ngFor="let episode of episodes|slice:0:scroll_limit; let index=index; "> 
                <div class="col-12 product_bg">
                  <div class="row">
                    <div class="col-12" >
                      <h3>
                        <a [routerLink]="['/episodedetails']" [queryParams]="{episodeId:episode[1].episodeId,podcastId:episode[1].podcastId}" routerLinkActive="active" queryParamsHandling="merge">
                            <a>Episode Name: {{episode[1].title}}</a>
                        </a>
                      </h3>
                    </div> 
                    <div class="col-12">
                      <div class="row">
                        <div class="col-lg-1 col-6 p-0">
                          <a [routerLink]="['/podcastdetails']"  routerLinkActive="active" [queryParams]="{podcastId:episode[0].topPodcast.podcastId}" queryParamsHandling="merge">
                            <img *ngIf="episode[1].thumbnail" src={{episode[1].thumbnail}} alt="" class="img-style"/>
                            <img *ngIf="!episode[1].thumbnail" src="http://www.seiu121rn.org/files/2018/06/blank-avatar1.png" alt="" class="img-style"/>
                          </a>
                        </div>
                        <div class="col-lg-7 col-6 main-podcast-text">
                          <h4 class="podcast_description">Podcast Name: <a [routerLink]="['/podcastdetails']"  routerLinkActive="active" [queryParams]="{podcastId:episode[0].topPodcast.podcastId}" queryParamsHandling="merge">{{episode[0].topPodcast.name}}</a></h4>										
                          <h4 class="podcast_description">Published: <b>{{episode[1].releaseDate | date}}</b></h4>
                          <h4 class="podcast_description">Author: <b>{{episode[0].topPodcast.authorName}}</b></h4>
                          <h4 class="podcast_description d-md-inline d-none">Duration: <b>{{secondsToMinute(episode[1].duration)  }}</b>
                              <span class="ml-2">
                                <button type="button" (click)="playAudios($event,episode[1], episode[0])" class="play-btn play-btn-home">
                                <i class="fas fa-play"></i></button>
                              </span> &nbsp;
                          </h4>
                        </div>
                        <div class="col-lg-4 col-12 p-0">	
                          <div class="row">
                            <div class="col-3 d-md-none d-inline">
                              <span>
                                <button type="button" (click)="playAudios($event,episode[1], episode[0])" class="play-btn mt-2 ml-2">
                                <i class="fas fa-play"></i></button>
                                <span>{{secondsToMinute(episode[1].duration)}}</span>
                              </span>
                            </div>
                            <div class="col-md-4 col-3 p-0 podcast-social">
                              <span>
                                <button class="btn btn-primary" (click)="subscribedPodcasts(episode[0].topPodcast.podcastId)" mat-button title="Subscribe"><li><a><i class="fas fa-thumbs-up"></i></a><p>SUBSCRIBE</p></li></button>
                              </span>
                            </div> 
                            <div class="col-md-4 col-3 p-0 podcast-social"><button class="btn btn-primary" mat-button (click)="apply_transcribe(index, cart)" title="Transcribe"><li><a><i class="fas fa-microphone"></i></a><p>TRANSCRIBE</p></li></button>
                            </div>
                            <div class="col-md-4 col-3 p-0 podcast-social"><button class="btn btn-primary" mat-button (click)="listenLater(episode[0].topPodcast.podcastId,episode[1].episodeId)" title="Listen Later"><li><a><i class="fas fa-headphones"></i></a><p>LISTEN LATER</p></li></button>
                            </div>
                          </div> 
                        </div>
                        <div class="col-lg-1 col-0">
                        </div>
                        <div class="col-12 main-podcast-text">
                          <div class="row">
                            <p class="col-12 podcast_description my-0" [innerHtml]="remove_ptag(episode[0].topPodcast.description)"></p>
                            <!--<div class="col-12 panel-group my-panel-group" id="accordion5" role="tablist" aria-multiselectable="true">
                              <div class="panel panel-default">
                                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                  <div class="panel-body">
                                  </div>
                                </div>
                              </div>
                            </div>-->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>  
             </div>
             <div class="col-12" >
                <div class="row border_bg">
                  <div class="col-12 podcast">
                      <div class="row">

                        <h5 class="col-12">Episode Description: 
                          <button (click)="open_read_more_modal(content, episode[1],episode[0], index)" type="button" class="btn-quick-view btn-quick-view-home ml-xs-0 my-1" title="Quick View"><i class="fas fa-eye"></i></button>
                        </h5>
                        <p class="col-12 black episode_description" *ngIf="episode[1].hasOwnProperty('summary')" [innerHTML]="strip_html_tags(episode[1].summary)"></p>
                        <h5 class="col-12" *ngIf="episode[1].text">Transcript: </h5>
                        <!--<p class="black" *ngIf="episode[1].text" [ngClass]="(view_more_state[index]==false)?'episode_description':'episode_description_10_more'" [innerHTML]="episode[1].text"></p>-->
                        
                        <div class="col-12" *ngIf="episode[1].text">
                          <div class="row">
                            <div class="col-12" *ngFor="let matchedSegment of episode[1].transcriptMatchedSegments|slice:0:view_more_state[index];let odd=odd; let even=even; ">
                              
                              <h6 class="start-time" title="Play" (click)="playAudios($event,episode[1], episode[0], matchedSegment.startTime/1000, true)">
                                {{secondsToMinute(matchedSegment.startTime/1000)}}
                              </h6>
                              <p class="black episode_description" [ngClass]="{ odd: odd, even: even }" [innerHTML]="highlight(matchedSegment.text)"></p>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-12 mt-20 p-xs-0">
                        <button *ngIf="episode[1].text" [routerLink]="['/episodedetails']" [queryParams]="{episodeId:episode[1].episodeId,podcastId:episode[1].podcastId}" type="button" (click)="transcript(episode[1].fileUrl)" class="btn-reguler mr-3" data-toggle="tooltip" data-placement="right" title="Turbo Transcribe in an Estimated 2 Minutes">Full Transcript</button>
                        <button *ngIf="episode[1].text&&view_more_state[index]==3" type="button" class="btn-reguler mr-3 ml-xs-0" (click)="view_more(index)">View More</button>
										    <button *ngIf="episode[1].text&&view_more_state[index]==5" type="button" class="btn-reguler mr-3 ml-xs-0" (click)="view_more(index)">View Less</button> 
                      </div>
                      
                      <div class="col-12" *ngIf="episode[1].hasOwnProperty('businessProfile')">
                        <a style="color:red;" class="float-right" (click)="goToPublicPage(episode[1].businessProfile.userId)" target="_blank" href="javascript:void(0)">
                          Transcript brought to you by {{episode[1].businessProfile.name}}-{{episode[1].businessProfile.tags}}
                        </a>
                      </div>
                  </div>
                  <div class="col-12 border">
                  </div>
                 
                </div>
                
             </div>
            </div>

          <!--</div>-->
        </div>
      </div>
     
             <!------------------------podcast-end------------------------>              
      <!--<div class="text-center" ng-if="episodes.length>0" style="height:120px;">
        <ngb-pagination class="text-center  d-flex justify-content-center" [collectionSize]="totalItems"  [boundaryLinks]="true" [pageSize]="itemsPerPage" [(page)]="pages" [maxSize]="7" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
      </div>-->
 
     </div>

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header row">
      <div class="col-lg-2 col-md-4 col-sm-4 col-4">
        <img class="grid-image" src={{modal_episode.thumbnail}} style="width:120px;height:120px;"/>
        <button *ngIf="!this.playerService.isPlaying" type="button" (click)="playAudios($event, modal_episode, modal_podcast)" class="play-btn play-btn-modal">
          <i class="fas fa-play"></i>
        </button>
        <button *ngIf="this.playerService.isPlaying" type="button" (click)="playAudios($event, modal_episode, modal_podcast)" class="play-btn play-btn-modal">
          <i class="fas fa-pause"></i>
        </button>
      </div>
      <div class="col-2 d-sm-none d-inline float-right">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="col-lg-9 col-md-7 col-sm-7 col-12">
        <h4 class="modal-title text-center font-weight-bold cursor_point episode_description" queryParamsHandling="merge">{{modal_episode.title}}</h4>
        <h6 class="text-primary text-center font-weight-bold cursor_point episode_description" (click)="d('Cross click')" [routerLink]="['/podcastdetails']"  routerLinkActive="active" [queryParams]="{podcastId:modal_podcast.topPodcast.podcastId}" queryParamsHandling="merge">{{modal_podcast.podcastName}}</h6>
      </div>	
      <div class="col-lg-1 col-md-1 col-sm-1 d-sm-inline d-none float-right">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="modal-menu">
      <i class="fa fa-calendar modal-menu-details"></i>
      <span class="mr-2" style="cursor:pointer;">{{modal_podcast.topPodcast.publishDate | date}}</span>
      <i class="fa fa-hourglass modal-menu-details"></i>
      <span style="cursor:pointer;">{{secondsToMinute(modal_episode.duration)}}</span>
      <div class="modal-menu-buttons float-right">
        <button class="btn btn-unique waves-effect waves-light" (click)="subscribedPodcasts(modal_podcast.topPodcast.podcastId)" mat-button title="Subscribe">
          <a><i class="fas fa-thumbs-up"></i></a>
        </button>
        <button class="btn btn-unique waves-effect waves-light" (click)="apply_transcribe(modal_index, cart)" mat-button title="Transcribe">
          <a><i class="fas fa-microphone"></i></a>
        </button>
        <button class="btn btn-unique waves-effect waves-light" (click)="listenLater(modal_podcast.topPodcast.podcastId,modal_episode.episodeId)" mat-button title="Listen Later">
          <a><i class="fas fa-headphones"></i></a>
        </button>						
      </div>
    </div>
    <div class="separator"></div>
    
    <div class="modal-body modal-scroll">
      <p [innerHTML]="modal_episode.summary"></p>
    </div>
</ng-template>

<ng-template #cart let-c="close" let-d="dismiss">
    
    <div class="modal-header row">
      <div class="col-sm-11 col-10">
        <h2 class="text-center">Your carts</h2>
        
      </div>
      <div class="col-sm-1 col-2">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <div class="modal-medium row">
      <div class="col-7 col-sm-8 col-md-10 col-lg-10 float-left">
        <span class="text-secondary mt-2">Tot Amount: {{this.cartService.tprice | currency:"USD":true:"1.1-2"}}</span>&nbsp;&nbsp; 
        <span class="text-secondary mt-2">Tot Duration: {{this.cartService.totalDuration}} mins</span>
      </div>  
      <div class="col-5 col-sm-4 col-md-2 col-lg-2 md-float-right">
        <button class="btn btn-success float-right" (click)= "creditCheckout()">Pay {{this.cartService.tprice | currency:"USD":true:"1.1-2"}}</button>
      </div>  
    </div>

    <div class="separator"></div>

    <div class="modal-body modal-scroll">
      <div *ngIf="this.cartService.cartItems.length>0">
        <div  *ngFor="let podkast of this.cartService.cartItems; index as i" >
          <div class="row py-3 bottom-border mt-0" >
            <div class="col-lg-2 col-md-3 col-sm-3 col-6 px-0">
                <a [routerLink]="['/podcastdetails']"  routerLinkActive="active" [queryParams]="{podcastId:podkast.podcastId}" queryParamsHandling="merge">
                  <img *ngIf="podkast.imgPath" src="{{podkast.imgPath}}" alt="" class="img-style"/>
                  <img *ngIf="!podkast.imgPath" src="http://www.seiu121rn.org/files/2018/06/blank-avatar1.png" alt="" class="img-style"/>
                </a>
            </div>
            <div class="col-lg-5 col-md-4 col-sm-4 col-6 listen-text pl-0 mt-lg-3" style="padding-left:8px !important;">
                <h6 class="podcast_description" title="{{podkast.episodeName}}"><a [routerLink]="['/episodedetails']" [queryParams]="{episodeId:podkast.episodeId,podcastId:podkast.podcastId}" routerLinkActive="active" queryParamsHandling="merge"><a>{{podkast.episodeName}}</a></a></h6>
                <h6 class="text-muted"><a [routerLink]="['/podcastdetails']"  routerLinkActive="active" [queryParams]="{podcastId:podkast.podcastId}" queryParamsHandling="merge">{{podkast.podcastName}}</a></h6>										
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-4 mt-md-5">
                <span class="text-secondary">{{podkast.durations}} mins</span>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-4 mt-md-5">
                <span class="text-secondary">{{this.cartService.array_price[i] | currency:"USD":true:"1.2-2" }}</span>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-4 p-0 new-play-btn mt-md-5">
              <div class="col-md-12 text-center">
                <li>
                    <button class="btn btn-sm btn-danger" (click)="this.cartService.removeEpisodes(podkast.id)"> Remove</button>      
                </li>
              </div>  
            </div>
          </div>
        </div>
      </div>          
    </div>
</ng-template>