.main_collection{
    border-style: solid;
    border-width: 2px;
    border-color: silver;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}


.h-divider{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.main_collection span{
    color: rgba(0, 0, 0, 0.8);
}

.img-hover:hover{
    opacity: .8;
    cursor: pointer;
}

.collection_link:hover, .created_by:hover{
    cursor: pointer;
    color: gray !important;
}
.created_by{
    font-size: 1.2rem;
}

h1, h2, h3{
    font-family: 'ralewaybold' !important;
}