<div class="content-wrapper">
    <!-- widgets -->
    <div class="row mt-lg-4 mt-2">
        
        <div class="container-fluid">
            <div class="container px-0">
                <div class="row">
                    <div class="col-lg-12 text-center main-title">
                        <h1>Advertisers</h1>
                        <div class="heading-line"><img src="assets/images/heading-line.png" alt=""/></div>
                        <p>Why LIGHT is a unique opportunity to promote your products or service Perfect for product owners and affiliates marketers</p>
                    </div>
                    <div class="col-lg-12 podcaster-text advertisers-text">
                        <div class="row">
                            <div class="col-lg-12 advertisers-text-inner col-sm-12">
                                <div class="text-box">
                                    <p class="m-0">Whether you own your own business or are an affiliate marketer LIGHT is an excellent place to market your products or services. LIGHT is a one of a kind platform and search engine for podcasts which is unique in the industry.</p>
                                    <hr>
                                    <h3>Podcasts are on the Rise</h3>
                                    <p class="m-0">Podcasts are on the rise and the amount of American’s who are listening is steadily increasing year after year. In 2018 the amount of people who have listened to a podcast in America is approximately 124 million. The amount of people who have listened to a podcast in the last month is at an all time high of 73 million.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container-fluid graph-gray-bg mt-30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="graph-section">
                                <div class="col-lg-12 p-0">
                                    <div class="graph-img"><img src="assets/images/graph_1.png" alt=""/></div>
                                </div>
                                <div class="col-lg-12 graph-text">
                                    <p>Additionally the percentage of American’s who are aware of what podcasting is is on the rise.</p>
                                </div>
                            </div>
                        </div>   
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="graph-section">
                                <div class="col-lg-12 p-0">
                                    <div class="graph-img"><img src="assets/images/graph_2.png" alt=""/></div>
                                </div>
                                <div class="col-lg-12 graph-text">
                                    <p>While interest in podcasts is climbing every year according latest research, podcasts are a very effective advertising medium by an increase in purchasing intent during and after listening to a podcast.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-4">
                        <div class="graph-section">
                            <div class="row">
                                <div class="col-lg-8 graph-3-img">
                                    <div class="graph-img"><img src="assets/images/graph_3.png" alt=""/></div>
                                </div>
                                <div class="col-lg-4 graph-text-2p">
                                    <div class="col-lg-12 graph-text-2"><p>While podcasting is on the rise the technology surrounding it is quite limited. For example the search for podcasts is very primitive. The search within Podcasts was non-existent before LIGHT.</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container-fluid">
            <div class="container mt-30">
                <div class="row">
                    <div class="col-lg-12 advertisers-graph-text col-sm-12">
                        <div class="text-box">
                            <p class="m-0">LIGHT is one of the very first podcast search engines that not only allows you to search for podcasts, but also search within them. We have indexed all of the existing podcasts and every day update our database with new podcasts and episodes.</p>
                            <br>
                            <p class="m-0">Most importantly and perhaps most interesting is that we set out to transcribe all podcasts and make them searchable. This is where the advertising opportunity comes in. You can inexpensively sponsor the transcription of podcasts that have listeners who would be interested in purchasing your products, signing up for your newsletter or being a client. </p>
                            <hr>
                            <h3>For each episode you transcribe you get </h3>
                            <h6>A 240x240 Banner on the page you transcribe</h6>
                            <h6>Create your own public profile page</h6>
                            <h6>Your company name and slogan directly in the search results linked to your public profile page</h6>
                            <h6>Promote any podcast you want</h6>
                            <h6>And if you are a podcast owner you can advertise your own Podcast on every page page you sponsor. This will show up on the episodes page</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container-fluid">
            <div class="container mt-30 mb-lg-5">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h3>How to get started</h3>
                        <div class="heading-line"><img src="assets/images/heading-small-line.png" alt=""/></div>
                    </div>
                    <div class="col-lg-12 highlight-text">
                        <p>Setup your business https://dev.light.sx/dist/#/businesspage</p>
                        <br>
                        <p>Start searching for podcasts that have content related to your products or services.</p>
                        <br>
                        <p>And just click on transcribe.</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div><!--row end-->
    
    
    
</div><!-- main content wrapper end-->