<!--=================================
 Main content -->
 
  

<div class="content-wrapper">
  <div class="content my-3">      
    <div class="row px-lg-5 pb-3">
      <div class="col-12 px-0">
        <h1 class="page-header">New Release</h1>
      </div>
      <div class="col-sm-1 col-sm-1 pl-0 d-md-inline d-none">
        <label class="my-checkbox">
          <input type="checkbox" [(ngModel)]="selectedAll" (change)="selectAll();">
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="col-sm-7 d-md-inline d-none">
        <button type="button" (click)="apply_action(cart)" class="btn-reguler" data-toggle="tooltip" data-placement="left" title="Transcribe">Transcribe</button>
      </div>
      <div class="col-sm-4 col-12 sortby_dropdown">
        <select id="blue" class="float-right" (change)="sort_by($event.target.value)">
          <option *ngFor="let type of sort_data" [selected]="type.key === 'date_big'" [value]="type.key">{{type.value}}</option>
        </select>
      </div>
      <div infiniteScroll
              [infiniteScrollDistance]="2"
              [infiniteScrollThrottle]="50"
              (scrolled)="onScroll()"
              [scrollWindow]="false" style=" height: 45rem; overflow-y: auto;" class="col-12 p-0 scrollbar square scrollbar-lady-lips">
        
        <div *ngIf="newEpisodes.length>0">
					<div  *ngFor="let bookmark of newEpisodes|slice:0:scroll_limit; index as i; let odd=odd; let even=even;" >
            <div class="row py-3 bottom-border mt-0" [ngClass]="{ odd: odd, even: even }">
              <div class="d-lg-inline d-none" >
                <label class="my-checkbox check-box-center mt-5" style="transform: translateY(-50%);">
                    <input type="checkbox" [(ngModel)]="selectValues[i].selected" (change)="checkIfAllSelected();" value={{i}}>
                    <span class="checkmark"></span>
                </label>
              </div>
              <div class="col-lg-1 col-md-4 col-sm-4 col-4">
                  <a [routerLink]="['/podcastdetails']"  routerLinkActive="active" [queryParams]="{podcastId:bookmark.podcastId}" queryParamsHandling="merge">
                    <img *ngIf="bookmark.imageUrl" src="{{bookmark.imageUrl}}" alt="" class="img-style" title="{{bookmark.podcastTitle}}"/>
                    <img *ngIf="!bookmark.imageUrl" src="http://www.seiu121rn.org/files/2018/06/blank-avatar1.png" alt="" title="{{bookmark.podcastTitle}}" class="img-style"/>
                  </a>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-6 listen-text pl-lg-0 mt-lg-4" style="padding-left:15px !important;">
                  <h6 class="podcast_description" title="{{bookmark.episodeTitle}}"><a [routerLink]="['/episodedetails']" [queryParams]="{episodeId:bookmark.episodeId,podcastId:bookmark.podcastId}" routerLinkActive="active" queryParamsHandling="merge">{{bookmark.episodeTitle}}</a></h6>
                  <h6 class="text-muted"><a [routerLink]="['/podcastdetails']"  routerLinkActive="active" [queryParams]="{podcastId:bookmark.podcastId}" queryParamsHandling="merge">{{bookmark.podcastTitle}}</a></h6>							
              </div>
              <div class="col-lg-1 col-md-2 d-md-inline d-none mt-lg-5 px-lg-0">
                <span class="text-secondary episode_description" title="Author">{{bookmark.authorName}}</span>
              </div>
              <div class="col-lg-1 col-md-2 col-sm-2 col-2 mt-lg-4 pt-lg-2 px-lg-3">
                <button (click)="open_read_more_modal(content, bookmark, bookmark, i)" type="button" class="btn-reguler btn-quick-view ml-xs-0 my-1" title="Quick View"><i class="fas fa-eye"></i></button>  
              </div>
              <div class="col-lg-2 col-md-5 col-sm-5 col-5 mt-lg-5 px-lg-0">
                <span class="text-secondary">{{bookmark.releaseDate | date }}</span>
              </div>
              <div class="col-lg-1 col-md-2 col-sm-2 col-2 mt-lg-5">
                <span class="text-secondary">{{bookmark.duration}}</span>
              </div>
              <div class="col-lg-2 col-md-12 col-sm-12 col-12 new-play-btn mt-lg-4 pt-lg-3 float-right"> 
                <div class="col-md-4 text-center p-0 col-xs-4">
                  <li class="float-lg-right">
                    <a href="javascript:void(0)" title="Play" (click)="playAudios($event,bookmark)"><i class="fas fa-play"></i></a>
                  </li>
                </div>  
                <div class="col-md-4 text-center p-0 col-xs-4">
                  <li class="float-lg-right">
                    <a href="javascript:void(0)" title="Listen Later" (click)="listenLater(bookmark.podcastId, bookmark.episodeId)">
                      <i class="fas fa-headphones"></i></a>
                  </li>
                </div>
                <div class="col-md-4 text-center p-0 col-xs-4">
                  <li class="float-lg-right">
                    <a href="javascript:void(0)" title="Transcribe" (click)="apply_transcribe(i, cart)"><i class="fas fa-microphone"></i></a>
                  </li>
                </div>     
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xs-12 col-sm-12" style="height:100px;">

        </div>
        </div>          
      </div>
    </div><!--row-->
  </div><!--container-->
</div>

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header row">
      <div class="col-lg-2 col-md-4 col-sm-4 col-4">
        <img class="grid-image" src={{modal_podcast.imageUrl}} style="width:120px;height:120px;"/>
        <button *ngIf="!this.playerService.isPlaying" type="button" (click)="playAudios($event, modal_podcast, modal_episode)" class="play-btn play-btn-modal">
          <i class="fas fa-play"></i>
        </button>
        <button *ngIf="this.playerService.isPlaying" type="button" (click)="playAudios($event, modal_podcast, modal_episode)" class="play-btn play-btn-modal">
          <i class="fas fa-pause"></i>
        </button>
      </div>
      <div class="col-2 d-sm-none d-inline float-right">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="col-lg-9 col-md-7 col-sm-7 col-12">
        <h4 class="modal-title text-center font-weight-bold cursor_point episode_description" id="modal-basic-title" (click)="d('Cross click')" [routerLink]="['/episodedetails']"  routerLinkActive="active" [queryParams]="{episodeId:modal_podcast.episodeId,podcastId:modal_podcast.podcastId}" queryParamsHandling="merge">{{modal_podcast.episodeTitle}}</h4>
        <h6 class="text-primary text-center font-weight-bold cursor_point episode_description" (click)="d('Cross click')" [routerLink]="['/podcastdetails']"  routerLinkActive="active" [queryParams]="{podcastId:modal_podcast.podcastId}" queryParamsHandling="merge">{{modal_podcast.podcastTitle}}</h6>
      </div>	
      <div class="col-lg-1 col-md-1 col-sm-1 d-sm-inline d-none float-right">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="modal-menu">
      <i class="fa fa-calendar modal-menu-details"></i>
      <span class="mr-2" style="cursor:pointer;">{{modal_podcast.releaseDate | date}}</span>
      <i class="fa fa-hourglass modal-menu-details"></i>
      <span style="cursor:pointer;">{{modal_podcast.duration}}</span>
      <div class="modal-menu-buttons float-right">
        <button class="btn btn-unique waves-effect waves-light" (click)="subscribedPodcasts(modal_podcast.podcastId)" mat-button title="Subscribe">
          <a><i class="fas fa-thumbs-up"></i></a>
        </button>
        <button class="btn btn-unique waves-effect waves-light" (click)="apply_transcribe(modal_index, cart)" mat-button title="Transcribe">
          <a><i class="fas fa-microphone"></i></a>
        </button>
        <button class="btn btn-unique waves-effect waves-light" (click)="listenLater(modal_podcast.podcastId,modal_podcast.episodeId)" mat-button title="Listen Later">
          <a><i class="fas fa-headphones"></i></a>
        </button>						
      </div>
    </div>
    <div class="separator"></div>
    
    <div class="modal-body modal-scroll">
      <div *ngIf="modal_episode">
        <p [innerHtml]="modal_episode.summary"></p>
      </div>
    </div>
</ng-template>

<ng-template #cart let-c="close" let-d="dismiss">
    
    <div class="modal-header row">
      <div class="col-sm-11 col-10">
        <h2 class="text-center">Your carts</h2>
        
      </div>
      <div class="col-sm-1 col-2">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <div class="modal-medium row">
      <div class="col-7 col-sm-8 col-md-10 col-lg-10 float-left">
        <span class="text-secondary mt-2">Tot Amount: {{this.cartService.tprice | currency:"USD":true:"1.1-2"}}</span>&nbsp;&nbsp; 
        <span class="text-secondary mt-2">Tot Duration: {{this.cartService.totalDuration}} mins</span>
      </div>  
      <div class="col-5 col-sm-4 col-md-2 col-lg-2 md-float-right">
        <button class="btn btn-success float-right" (click)= "creditCheckout()">Pay {{this.cartService.tprice | currency:"USD":true:"1.1-2"}}</button>
      </div>  
    </div>

    <div class="separator"></div>

    <div class="modal-body modal-scroll">
      <div *ngIf="this.cartService.cartItems.length>0">
        <div  *ngFor="let podkast of this.cartService.cartItems; index as i" >
          <div class="row py-3 bottom-border mt-0" >
            <div class="col-lg-2 col-md-3 col-sm-3 col-6 px-0">
                <a [routerLink]="['/podcastdetails']"  routerLinkActive="active" [queryParams]="{podcastId:podkast.podcastId}" queryParamsHandling="merge">
                  <img *ngIf="podkast.imgPath" src="{{podkast.imgPath}}" alt="" class="img-style"/>
                  <img *ngIf="!podkast.imgPath" src="http://www.seiu121rn.org/files/2018/06/blank-avatar1.png" alt="" class="img-style"/>
                </a>
            </div>
            <div class="col-lg-5 col-md-4 col-sm-4 col-6 listen-text pl-0 mt-lg-3" style="padding-left:8px !important;">
                <h6 class="podcast_description" title="{{podkast.episodeName}}"><a [routerLink]="['/episodedetails']" [queryParams]="{episodeId:podkast.episodeId,podcastId:podkast.podcastId}" routerLinkActive="active" queryParamsHandling="merge"><a>{{podkast.episodeName}}</a></a></h6>
                <h6 class="text-muted"><a [routerLink]="['/podcastdetails']"  routerLinkActive="active" [queryParams]="{podcastId:podkast.podcastId}" queryParamsHandling="merge">{{podkast.podcastName}}</a></h6>										
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-4 mt-md-5">
                <span class="text-secondary">{{podkast.durations}} mins</span>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-4 mt-md-5">
                <span class="text-secondary">{{this.cartService.array_price[i] | currency:"USD":true:"1.2-2" }}</span>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-4 p-0 new-play-btn mt-md-5">
              <div class="col-md-12 text-center">
                <li>
                    <button class="btn btn-sm btn-danger" (click)="this.cartService.removeEpisodes(podkast.id)"> Remove</button>      
                </li>
              </div>  
            </div>
          </div>
        </div>
      </div>          
    </div>
</ng-template>
