<div class="content-wrapper">
  <div class="content my-3">         
    <div class="row px-lg-5 pb-3">
      <div class="col-12 px-0">
        <h1 class="page-header">Referral Bonus</h1>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-md-6 col-12 panel panel-default">
            <div class="panel-heading">Number Of Joined Referral</div>
            <div class="panel-body">
              <h4 class="card-title"><a href="#">{{this.currentUser.noOfRefferral}}</a></h4>
              <p class="card-description">
              </p>
            </div>
          </div>
          <div class="col-md-6 col-12 panel panel-default">
            <div class="panel-heading">Referral Link</div>
            <div class="panel-body">
              <h4 class="card-title"><a href="#">{{this.currentUser.noOfRefferral}}</a></h4>
              <p class="card-description">
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>  
</div> 



