<div class="modal-header">
    <h4 class="modal-title">Add Credits to Account</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <div class="col-md-12 form-group" >
            <mat-card-content class="text-left">
            <section>
                <mat-radio-group [formGroup]="checkoutForm" formControlName ="amount">
                    <mat-radio-button value="10" class="w-100 mb-3"> $10.00</mat-radio-button> 
                    <mat-radio-button value="25" class="w-100 mb-3"> $25.00</mat-radio-button> 
                    <mat-radio-button value="50" class="w-100 mb-3"> $50.00</mat-radio-button> 
                    <mat-radio-button value="100" class="w-100 mb-3"> $100.00</mat-radio-button> 
                    <mat-radio-button value="other" class="w-100 mb-3"> 
                        <div class="input-group">
                            <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                            </div>
                            <input formControlName="other_amount" placeholder="Amount(More than $5.00)" type="number" class="example-right-align form-control" [ngClass]="{ 'is-invalid': submitted && f.amount.errors }">
                            <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                            </div>
                        </div>   
                    </mat-radio-button> 
                </mat-radio-group>
            </section>
            </mat-card-content>
        </div> 
        <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
            <div *ngIf="f.amount.errors.required">Amount is required</div>
        </div>
        <p>Credit or debit card</p>
        <div id="card-info"  #cardInfo></div>
        <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>    
        <button class="btn btn-primary"> Confirm </button>  
    </form>    
    
</div>
<div class="modal-footer">
    
</div>