<!--=================================
 Main content -->

<div class="content-wrapper" style="margin-top: 25px"> 
<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-lg-6 col-md-12 offset-lg-3 col-xs-12">
        <!--<h1 class="text-xs-center">{{ title }}</h1>-->
        <app-list-errors [errors]="errors"></app-list-errors>
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <form [formGroup]="authForm" (ngSubmit)="submitRegisterForm()" class="form-signin" *ngIf="authType == 'register'">
          <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group">
              <input
                formControlName="username" placeholder="Username"
                class="form-control form-control-lg" type="text"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }"  />
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">UserName is required</div>
              </div>  
            </fieldset>

            <fieldset class="form-group">
              <input formControlName="email" placeholder="Email" class="form-control form-control-lg" type="text" 
                     id="inputEmail" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Invalid Email</div>
              </div>  
            </fieldset>

            <fieldset class="form-group">
              <input formControlName="firstname" placeholder="Firstname" class="form-control form-control-lg"
                type="text" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }"/>
              <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                <div *ngIf="f.firstname.errors.required">First Name is required</div>
              </div>  
            </fieldset>

            <fieldset class="form-group">
              <input formControlName="lastname" placeholder="Lastname" class="form-control form-control-lg"
                type="text" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }"/>
              <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                <div *ngIf="f.lastname.errors.required">Last Name is required</div>
              </div>  
            </fieldset>

            <fieldset class="form-group">
              <input formControlName="password" placeholder="Password" class="form-control form-control-lg"
                type="password" id="inputPassword" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>

              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
              </div>  
            </fieldset>

            <fieldset>
              <!--<recaptcha formControlName="myRecaptcha" (scriptLoad)="onScriptLoad()" (scriptError)="onScriptError()"
                *ngIf="authType == 'register'" required></recaptcha>-->
              <re-captcha siteKey="6Lc-fo8UAAAAACkh4KcSqZmpHYw7zJ-NSP0gzHPc" 
                          (resolved)="resolved($event)"></re-captcha>
              <div *ngIf="submitted && f.reCaptcha.errors" class="invalid-feedback">
                <div *ngIf="f.reCaptcha.errors.required">Recaptcha is required</div>
              </div>  
            </fieldset>
            <p class="text-xs-center">
              <a [routerLink]="['/login']">Already have an account?</a>
            </p>
            <button class="btn btn-lg btn-primary pull-xs-right"  type="submit">
              {{ title }}
            </button>
          </fieldset>
        </form>
        
        <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()" class="form-signin" *ngIf="authType == 'login'">
          <fieldset [disabled]="isSubmitting">

            <fieldset class="form-group">
              <input formControlName="email" placeholder="Email" class="form-control form-control-lg" type="text" 
                     id="inputEmail" [ngClass]="{ 'is-invalid': submitted && f_login.email.errors }"/>
              <div *ngIf="submitted && f_login.email.errors" class="invalid-feedback">
                <div *ngIf="f_login.email.errors.required">Invalid Email</div>
              </div>  
            </fieldset>

            <fieldset class="form-group">
              <input formControlName="password" placeholder="Password" class="form-control form-control-lg"
                type="password" id="inputPassword" [ngClass]="{ 'is-invalid': submitted && f_login.password.errors }"/>

              <div *ngIf="submitted && f_login.password.errors" class="invalid-feedback">
                <div *ngIf="f_login.password.errors.required">Password is required</div>
              </div>  
            </fieldset>

            <p class="text-xs-center">
              <a [routerLink]="['/register']">Not a member?</a>
            </p>
            <button class="btn btn-lg btn-primary pull-xs-right"  type="submit">
              {{ title }}
            </button>
          </fieldset>
        </form>
      </div>

    </div>
  </div>
</div>
</div>
