  <!--=================================
 Main content -->
   <!------------------------podcast-start------------------------>
  <div class="content-wrapper">
  <div class="row px-lg-5">

  <div *ngIf="podcasts">
    <div class=" main-podcast_bg px-lg-5 mb-5" *ngFor="let podkast of podcasts.docSearchResults " >

    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-md-2 col-sm-3 col-12 p-3 ">
            <img class="grid-image" src="{{podkast.topPodcast.thumbnail}}"  image-resizing width="auto" alt=""/>
          </div>
          <div class="col-md-7 col-sm-7 col-12 pt-5 podcast_overview-text">
            <h5 style="color:black;">{{podkast.topPodcast.name}}</h5>
            <h4 style="color:gray">Author: {{podkast.topPodcast.authorName}}</h4>
            <!--<h4><a href="#"><i class="fas fa-globe orange"></i> </a></h4>-->
            <p class="text-secondary episode_description pod_des_hidden">{{remove_ptag(podkast.topPodcast.description)}} <!--<a href="#" class="orange">Read More</a>--></p>
            <p class="text-secondary episode_description pod_des" [ngClass]="(is_read_more==false)?'d-inline':''">{{remove_ptag(podkast.topPodcast.description)}} <!--<a href="#" class="orange">Read More</a>--></p>
            <a class="text-read-more" *ngIf="is_read_more" (click)="podcast_read_more()">read more</a>
          </div>
          <div class="col-md-2 col-sm-2 col-12 text-center pt-5 podcast-social float-right">
              <li class="float-right" (click)="subscribedPodcasts(podkast.topPodcast.podcastId)" mat-button>
                <a><i class="fas fa-thumbs-up"></i></a>
              </li>
          </div>
        </div>
      </div>

      <div class="col-12" *ngIf="podkast.hasOwnProperty('businessProfile')">
			  <a class="text-danger float-right">Transcripts sponsored by {{podkast.businessProfile.name}}-{{podkast.businessProfile.tags}}</a>
			</div>

      <div class="col-12">
        <h6 class="float-right text-muted font-weight-bold pb-0" style="margin-top:5px;">{{podkast.topPodcast.episodes.length}} episodes</h6>&nbsp;
        <button type="button" class="btn btn-primary float-right mr-3" (click)="sharelink()" *ngIf="isAuthenticated">
          <i class="fas fa-share-alt"></i> Share
        </button>
      </div>

    </div>
    <hr>
    <div class="row">
      <div class="col-12">
        <div class="col-lg-1 d-lg-inline d-none">
            <label class="my-checkbox">
              <input type="checkbox" [(ngModel)]="selectedAll" (change)="selectAll();">
              <span class="checkmark"></span>
            </label>
        </div>
        <div class="col-lg-6 sortby_dropdown text-right px-lg-0 d-lg-inline d-none" >
          <select id="blue" class="float-left " [(ngModel)]="selectedAction" (change)="sort_by($event.target.value)">
            <option *ngFor="let type of action_data" [value]="type.key">{{type.value}}</option>
          </select>
          <button type="button" (click)="apply_action(cart)" class="btn-reguler float-left ml-2" data-toggle="tooltip" data-placement="left" title="Apply">Apply</button>
        </div>
        <div class="col-lg-5 sortby_dropdown text-right pr-lg-0 col-md-6 col-12" >
          <select id="blue" class="float-right" (change)="sort_by($event.target.value)">
            <option *ngFor="let type of sort_data" [selected]="type.key === 'date_big'" [value]="type.key">{{type.value}}</option>
          </select>
        </div>
      </div> 
    </div>
    <div *ngFor="let podkast of podcasts.docSearchResults" infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50"
            (scrolled)="onScroll()"
            [scrollWindow]="false" style=" max-height: 45rem; overflow-y: auto;" class="scrollbar square scrollbar-lady-lips row">
        <div *ngFor="let episode of podkast.topPodcast.episodes|slice:0:scroll_limit; index as i;let odd=odd; let even=even;" [ngClass]="{ odd: odd, even: even }" class="py-3 bottom-border mt-0 col-12 pr-2">
            <div class="row">
              <div class="col-lg-10 col-md-10 col-12 mt-27 mt-2">
                <div class="row">
                  <div class="col-lg-1 d-lg-inline d-none pl-0">
                    <label class="my-checkbox">
                      <input type="checkbox" [(ngModel)]="selectValues[i].selected" (change)="checkIfAllSelected();">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="col-lg-4 col-8 pl-lg-0 ">
                    <span [routerLink]="['/episodedetails']" [queryParams]="{episodeId:episode.episodeId, podcastId:podkast.topPodcast.podcastId}" class="pod-text episode_description">{{episode.title}}</span>
                  </div>
                  <div class="col-lg-2 col-4 text-center">
                    <button (click)="open_read_more_modal(content, episode, podkast, i)" type="button" class="btn-reguler btn-quick-view ml-xs-0 my-1" title="Quick View"><i class="fas fa-eye"></i></button>  
                  </div>
                  <div class="col-lg-2 col-6 text-center">
                    <span class="pod-text text-secondary">{{episode.releaseDate|date}}</span>
                  </div>
                  <div class="col-lg-3 col-6 text-center"> 
                    <span class="pod-text text-secondary" *ngIf="episode.duration">{{secondsToMinute(episode.duration)}}</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-12 new-play-btn p-0 mt-lg-0 mt-2">
                <div class="row">
                  <div class="col-4 text-center p-0">
                    <li class="float-lg-right"><a href="javascript:void(0)" title="Play" (click)="playAudios($event,episode,podkast)"><i class="fas fa-play"></i></a>
                  </div>
                  <div class="col-4 text-center p-0">
                    <li class="float-lg-right"><a href="javascript:void(0)" title="Transcribe" (click)="apply_transcribe(i, cart)"><i class="fas fa-microphone"></i></a></li>
                  </div>
                  <div class="col-4 text-center p-0">
                    <li class="float-lg-right"><a href="javascript:void(0)" title="Listen Later" (click)="listenLater(podkast.topPodcast.podcastId,episode.episodeId)">
                      <i class="fas fa-headphones"></i></a>
                    </li>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
    </div>
</div> 
  <!------------------------podcast-end------------------------>


  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header row">
      <div class="col-lg-2 col-md-4 col-sm-4 col-4">
        <img class="grid-image" src={{modal_podcast.topPodcast.thumbnail}} style="width:120px;height:120px;"/>
        <button *ngIf="!this.playerService.isPlaying" type="button" (click)="playAudios($event, modal_episode, modal_podcast)" class="play-btn play-btn-modal">
          <i class="fas fa-play"></i>
        </button>
        <button *ngIf="this.playerService.isPlaying" type="button" (click)="playAudios($event, modal_episode, modal_podcast)" class="play-btn play-btn-modal">
          <i class="fas fa-pause"></i>
        </button>
      </div>
      <div class="col-2 d-sm-none d-inline float-right">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="col-lg-9 col-md-7 col-sm-7 col-12">
        <h4 class="modal-title text-center font-weight-bold cursor_point episode_description" id="modal-basic-title" (click)="d('Cross click')" [routerLink]="['/episodedetails']"  routerLinkActive="active" [queryParams]="{episodeId:modal_podcast.episodeId,podcastId:modal_podcast.podcastId}" queryParamsHandling="merge">
          {{modal_episode.title}}
        </h4>
        <h6 class="text-primary text-center font-weight-bold cursor_point episode_description" (click)="d('Cross click')" [routerLink]="['/podcastdetails']"  routerLinkActive="active" [queryParams]="{podcastId:modal_podcast.podcastId}" queryParamsHandling="merge">
          {{modal_podcast.topPodcast.name}}
        </h6>
      </div>	
      <div class="col-lg-1 col-md-1 col-sm-1 d-sm-inline d-none float-right">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="modal-menu">
      <i class="fa fa-calendar modal-menu-details"></i>
      <span class="mr-2" style="cursor:pointer;">{{modal_podcast.topPodcast.publishDate | date}}</span>
      <i class="fa fa-hourglass  modal-menu-details"></i>
      <span style="cursor:pointer;">{{secondsToMinute(modal_episode.duration)}}</span>
      <div class="modal-menu-buttons float-right">
        <button class="btn btn-unique waves-effect waves-light" (click)="subscribedPodcasts(modal_podcast.topPodcast.podcastId)" mat-button title="Subscribe">
          <a><i class="fas fa-thumbs-up"></i></a>
        </button>
        <button class="btn btn-unique waves-effect waves-light" (click)="apply_transcribe(modal_index, cart)" mat-button title="Transcribe">
          <a><i class="fas fa-microphone"></i></a>
        </button>
        <button class="btn btn-unique waves-effect waves-light" (click)="listenLater(modal_podcast.topPodcast.podcastId,modal_episode.episodeId)" mat-button title="Listen Later">
          <a><i class="fas fa-headphones"></i></a>
        </button>						
      </div>
    </div>
    <div class="separator"></div>
    
    <div class="modal-body modal-scroll">
      <p [innerHtml]="modal_episode.summary"></p>
    </div>
</ng-template>

<ng-template #cart let-c="close" let-d="dismiss">
    
    <div class="modal-header row">
      <div class="col-sm-11 col-10">
        <h2 class="text-center">Your carts</h2>
        
      </div>
      <div class="col-sm-1 col-2">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <div class="modal-medium row">
      <div class="col-7 col-sm-8 col-md-10 col-lg-10 float-left">
        <span class="text-secondary mt-2">Tot Amount: {{this.cartService.tprice | currency:"USD":true:"1.1-2"}}</span>&nbsp;&nbsp; 
        <span class="text-secondary mt-2">Tot Duration: {{this.cartService.totalDuration}} mins</span>
      </div>  
      <div class="col-5 col-sm-4 col-md-2 col-lg-2 md-float-right">
        <button class="btn btn-success float-right" (click)= "creditCheckout()">Pay {{this.cartService.tprice | currency:"USD":true:"1.1-2"}}</button>
      </div>  
    </div>

    <div class="separator"></div>

    <div class="modal-body modal-scroll">
      <div *ngIf="this.cartService.cartItems.length>0">
        <div  *ngFor="let podkast of this.cartService.cartItems; index as i" >
          <div class="row py-3 bottom-border mt-0" >
            <div class="col-lg-2 col-md-3 col-sm-3 col-6 px-0">
                <a [routerLink]="['/podcastdetails']"  routerLinkActive="active" [queryParams]="{podcastId:podkast.podcastId}" queryParamsHandling="merge">
                  <img *ngIf="podkast.imgPath" src="{{podkast.imgPath}}" alt="" class="img-style"/>
                  <img *ngIf="!podkast.imgPath" src="http://www.seiu121rn.org/files/2018/06/blank-avatar1.png" alt="" class="img-style"/>
                </a>
            </div>
            <div class="col-lg-5 col-md-4 col-sm-4 col-6 listen-text pl-0 mt-lg-3" style="padding-left:8px !important;">
                <h6 class="podcast_description" title="{{podkast.episodeName}}"><a [routerLink]="['/episodedetails']" [queryParams]="{episodeId:podkast.episodeId,podcastId:podkast.podcastId}" routerLinkActive="active" queryParamsHandling="merge"><a>{{podkast.episodeName}}</a></a></h6>
                <h6 class="text-muted"><a [routerLink]="['/podcastdetails']"  routerLinkActive="active" [queryParams]="{podcastId:podkast.podcastId}" queryParamsHandling="merge">{{podkast.podcastName}}</a></h6>										
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-4 mt-md-5">
                <span class="text-secondary">{{podkast.durations}} mins</span>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-4 mt-md-5">
                <span class="text-secondary">{{this.cartService.array_price[i] | currency:"USD":true:"1.2-2" }}</span>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-4 p-0 new-play-btn mt-md-5">
              <div class="col-md-12 text-center">
                <li>
                    <button class="btn btn-sm btn-danger" (click)="this.cartService.removeEpisodes(podkast.id)"> Remove</button>      
                </li>
              </div>  
            </div>
          </div>
        </div>
      </div>          
    </div>
</ng-template>
