<!--================================= Main content -->  
<!------------------------podcast-start------------------------>

<div class="content-wrapper"> 
  <div class="row mx-lg-4 mx-2">
    <div *ngIf="episodes" class="col-12">
      <div class="" >
        <div class="row paginfo-text orange mb-20"><a [routerLink]="['/podcastdetails']"  routerLinkActive="active" [queryParams]="{podcastId:episodes.podcastId}"> Podcast:{{episodes.podcastName}} &nbsp; &#8250; &nbsp; {{episodes.title}}</a></div>
          <div class="row mb-5">
            <div class="col-xl-10 col-lg-10 col-12 p-0" id="all_transcripts"> 
              <div class="col-12 main-episode_bg">
                <div class="row">
                  <div class="col-xl-2 col-lg-2 col-md-6 col-12 pr-4">
                    <a [routerLink]="['/podcastdetails']"  routerLinkActive="active" [queryParams]="{podcastId:episodes.podcastId}" queryParamsHandling="merge"><img src="{{episodes.thumbnail}}" alt="" class="img-style"/></a>
                  </div>
                  <div class="col-xl-10 col-lg-10 col-md-6 col-12 main-episode-text ">
                    <div class="row">
                      <div class="col-lg-6 p-0 col-12">
                        <h5><a [routerLink]="['/podcastdetails']"  routerLinkActive="active" [queryParams]="{podcastId:episodes.podcastId}" queryParamsHandling="merge">{{episodes.podcastName}}</a></h5>										
                        <h5>Published: <b>{{episodes.releaseDate | date}}</b></h5>
                        <h5>Author: <b>{{episodes.authorName}}</b></h5>
                        <h5>Duration: <b>{{episodes.duration}}</b></h5>
                      </div>
                      <div class="col-lg-6 p-0 podcast-social col-12">
                        <div class="row">
                          <div class="col-4 text-center p-0">
                            <button type="button" mat-button (click)="subscribedPodcasts(episodes.podcastId)">
                              <li><a><i class="fas fa-thumbs-up"></i></a><p>SUBSCRIBE</p></li>
                            </button>
                          </div>
                          <div class="col-4 text-center p-0">
                            <button type="button" mat-button (click)="apply_transcribe(index, cart)" >
                              <li><a><i class="fas fa-microphone"></i></a>
                              <p>TRANSCRIBE</p></li>
                            </button>
                          </div>
                          <div class="col-4 text-center p-0">
                            <button type="button" (click)="listenLater(episodes.podcastId,episodes.episodeId)">
                              <li><a><i class="fas fa-headphones"></i></a><p>LISTEN LATER</p></li>
                            </button>
                          </div>
                        </div> 
                      </div>
                      <div class="col-12">
                        <p class="episode_description" [innerHTML]="episodes.description"></p>        
                      </div> 
                    </div>
                  </div>
                </div>  
              </div>
                
              <div class="col-12 p-0">
                <div class="border_bg" style="width: 100%;">
                  <div class="text-podcast">
                    <div class="col-12">
                      <h3>{{episodes.title}}<button type="button" (click)="playAudios($event, episodes.fileUrl, episodes)" class="play-btn ml-3">
                      <i class="fas fa-play"></i></button></h3>
                      <!--<h4 class="light_black">Published-<span class="black">{{episodes.releaseDate | date}}</span></h4>-->
                    </div>
                    <div class="col-12">
                      <div [innerHTML]="episodes.summary| safeHtml"></div>
                    </div>
                    <div class="col-12">
                      <button type="button" class="btn btn-light float-right" (click)="sharelink()" *ngIf="isAuthenticated">
                        <i class="fas fa-share-alt"></i> Share
                      </button>
                    </div>
                  </div>
                </div>
              </div>
                
              <div class="col-md-12 mt-40 col-xs-12 col-sm-12">
                <div class="row d-md-none d-flex mb-2">
                  <div class="col-6 text-center add_baner pb-2 mt-0" *ngIf="episodes.hasOwnProperty('businessProfile')">
                    <h6 class="text-center mt-3 text-white">
                      <a target="_blank" [routerLink]="'/'+public_profile.url">Transcript brought to you by {{business_profile.name}}</a>
                    </h6>
                    <a target="_blank" href="{{business_profile.bannerAds}}"><img src={{business_profile.banner}} alt="advertisement-img" style="width:120px;height:120px;"/></a>
                  </div>
                  <div class="col-6 text-center p-1" *ngIf="adsPodcast.hasOwnProperty('thumbnail')">
                    <a [routerLink]="['/podcastdetails']"  routerLinkActive="active" [queryParams]="{podcastId:adsPodcast.podcastId}" queryParamsHandling="merge">
                      <img src="{{adsPodcast.thumbnail}}" alt="" width="80% !important;" class="img-style-not-full" title="{{adsPodcast.name}}"/>
                    </a>
                    <div class="col-md-12 text-center col-xs-12">
                      <button type="button" (click)="subscribedPodcasts(adsPodcast.podcastId)" class="btn-subscribe btn-sm">Subscribe</button>
                    </div>
                  </div>
                </div> 
                <div class="row">
                  <div class="day-title">
                    <h3 class="text-lowercase">Transcripts</h3>
                  </div>
                </div>
              <div class="col-md-12 p-0 col-xs-12 col-sm-12" *ngFor="let segment of highlight_episodes.segmentsByTime; let index=index; let odd=odd; let even=even; " [ngClass]="{ odd: odd, even: even }" >
                <div class="pl-0" (textSelect)="renderRectangles( $event,  index)" id="section_{{index}}">
                    <div class="row p-1 bottom-border episode-segment" (dblclick)="playAudios($event, episodes.fileUrl, episodes, segment.caption)">
                      <div class="col-12"  style="height:34px;">
                        <strong class="black">{{segment.caption}} 
                          <button type="button" class="btn btn-light float-right d-none" (click)="sharelink(index)" *ngIf="isAuthenticated">
                            <i class="fas fa-share-alt"></i> Share
                          </button>
                        </strong>
                      </div>
                      <div class="col-12">
                        <p class="episode-detail-segment user-selection" [innerHTML]="segment.text"></p>
                      </div>   
                    </div>
                </div>
                <div *ngIf="hostRectangle[index]&&isAuthenticated" class="indicator" [style.left.px]="hostRectangle[index].left" [style.top.px]="hostRectangle[index].top"
                  [style.width.px]="hostRectangle[index].width" [style.height.px]="0">

                  <div class="indicator__cta">
                      <div class="indicator__cta-link">
                          <a (mousedown)="$event.preventDefault()" (mouseup)="$event.stopPropagation(); actionSelection(index, 1, highlight)">Highlight</a> | 
                          <a (mousedown)="$event.preventDefault()" (mouseup)="$event.stopPropagation(); actionSelection(index, 0, collection)">Add to Collection</a> |
                          <a (mousedown)="$event.preventDefault()" (mouseup)="$event.stopPropagation(); actionSelection(index, 2, content)">Edit Transcript</a>
                      </div>
                  </div>
                </div>
              </div> 
              </div>
            </div><!--col-md-9-->
          
            <div class="col-xl-2 col-lg-2 d-lg-inline d-none">
              <div class="right-add-section scrollbar-wrapper wrapper scrollbar-outer">
                <div class="col-md-12 col-sm-10 text-center add_baner pb-2" *ngIf="episodes.hasOwnProperty('businessProfile')">
                  <h6 class="text-center mt-3 text-white">
                    <a target="_blank" [routerLink]="'/'+public_profile.url">Transcript brought to you by {{business_profile.name}}</a>
                  </h6>
                  <a target="_blank" href="{{business_profile.bannerAds}}"><img src={{business_profile.banner}} alt="advertisement-img" style="width:200px;height:200px;"/></a>
                  <!--<a><img src="assets/images/baner_img.jpg" alt="advertisement-img" style="width:70%"/></a>-->
                </div>
                <div class="col-md-12 col-sm-10 text-center p-1" *ngIf="adsPodcast.hasOwnProperty('thumbnail')">
                  <a [routerLink]="['/podcastdetails']"  routerLinkActive="active" [queryParams]="{podcastId:adsPodcast.podcastId}" queryParamsHandling="merge">
                    <img src="{{adsPodcast.thumbnail}}" alt="" width="60% !important;" class="img-style-not-full" title="{{adsPodcast.name}}"/>
                  </a>
                  <div class="col-md-12 text-center col-xs-12">
                    <button type="button" (click)="subscribedPodcasts(adsPodcast.podcastId)" class="btn-subscribe">Subscribe</button>
                  </div>
                </div>

                <div class="col-md-12 col-sm-10 p-0 col-xs-12 mb-5">
                  <div class="transcripts mb-5">
                      <div class="col-md-12 text-center col-xs-12 col-sm-12">
                        <h3>Search Within Transcript</h3>
                      </div>
                      <div id="showmore" class="transcripts-showmore">
                          <div class="col-md-12 col-sm-12">
                            <div class="clr-1"></div>
                            <textarea type="text" [(ngModel)]="query" class="form-control text-area-search" placeholder="Search keywords..." (keyup)="search_word($event)"></textarea>
                      </div>
                  </div>
                </div>
                <div class="col-md-12 col-sm-10 p-0 col-xs-12 mb-5">
                  <div class="transcripts mb-5">
                    <div class="col-md-12 text-center col-xs-12 col-sm-12">
                      <h3>Highlight Density: {{max_highlight_count}}</h3>
                    </div>
                    <div title="Highlights based on {{max_highlight_count}} of times text was highlighted" class="col-md-12 text-center col-xs-12 col-sm-12">
                      <mv-slider [(value)]="max_highlight_count" [min]="0" [max]="100" [enabled]="enabled" (slide)="slide_change()" [step]="1" [ticksTooltip]="true" [formatter]="adsf"></mv-slider>
                    </div>   
                  </div>
                </div>
                <div class="col-md-12 p-0 col-xs-12 col-sm-12 mb-5" style="height:200px;">
                </div>
            </div>
          </div>         
        </div>
      </div><!--row-->

      <div class="col-md-12 p-0 col-xs-12 col-sm-12 mb-5" style="height:200px;">
      </div>
  
      <!-- Mobile View Show Additional Toolbar Button-->
      <a id="btn-additional-bar" style="display: inline;" data-toggle="modal" data-target="#myModal2" class="d-lg-none d-inline">
        <i class="fas fa-cog"></i>
      </a>

    </div><!--container-->
    </div>
  </div>
</div>              


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Edit Transcript</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="padding:1rem !important;">
    <textarea [(ngModel)]="edited_transcript" class="w-100 text-area-search" style="height:100px;" placeholder="Enter a transcript..." maxlength="1000"></textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    <button type="button" class="btn btn-light" (click)="save_edit_transcript()">Save</button>
  </div>
</ng-template>

<ng-template #createCollection let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Create Collection</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="padding:1rem !important;">
    <h3>Title</h3>
    <input [(ngModel)]="collection_name" class="w-100 rounded mt-4 form-control" placeholder="Give your collection a name..." maxlength="1000">
  </div>
  <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="collection_type" style="margin-left:330px;">
    <label ngbButtonLabel class="btn-primary rounded-left">
      <input ngbButton type="radio" [value]="false"> Public
    </label>
    <label ngbButtonLabel class="btn-primary rounded-right">
      <input ngbButton type="radio" [value]="true"> Private
    </label>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    <button type="button" class="btn btn-light" (click)="create_collection(createCollection)">Create</button>
  </div>
</ng-template>

<ng-template #collection let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Select one of your collection</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal_collection_close(modal)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="padding:1rem !important;">
    <a class="btn btn-light mb-2 float-right" (mousedown)="$event.preventDefault()" (mouseup)="$event.stopPropagation(); actionSelection(index, 3, createCollection)">Create Collection</a> 
    <select class="w-100" [(ngModel)]="selected_collection">
      <option *ngFor="let collect of collections" [value]="collect['collectionName']">{{collect['collectionName']}}</option>
    </select>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal_collection_close(modal)">Close</button>
    <button type="button" class="btn btn-light" (click)="add_highlight()">Add</button>
  </div>
</ng-template>

<ng-template #cart let-c="close" let-d="dismiss">
    <div class="modal-header row">
      
      <div class="col-md-12">
        <h2 class="text-center">Your carts</h2>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
    </div>

    <div class="modal-medium row">
      <div class="col-md-12 col-xs-12 col-sm-12 py-2 px-3">
        <div class="float-left row">
          <span class="text-secondary mt-2">Total Amount: {{this.cartService.tprice | currency:"USD":true:"1.1-2"}}</span>&nbsp;&nbsp; 
          <span class="text-secondary mt-2">Total Duration: {{this.cartService.totalDuration}} mins</span>
        </div>
        <div class="float-right">
          <button class="btn btn-success float-right" (click)= "creditCheckout()">Pay {{this.cartService.tprice | currency:"USD":true:"1.1-2"}}</button>
        </div>  
      </div>
    </div>

    <div class="separator"></div>

    <div class="modal-body modal-scroll">
      <div *ngIf="this.cartService.cartItems.length>0">
        <div  *ngFor="let podkast of this.cartService.cartItems; index as i" >
          <div class="col-md-12 py-3 bottom-border mt-0 col-xs-12 col-sm-12 " >
            <div class="col-lg-2 col-md-3 col-sm-3 px-0">
                <a [routerLink]="['/podcastdetails']"  routerLinkActive="active" [queryParams]="{podcastId:podkast.podcastId}" queryParamsHandling="merge">
                  <img *ngIf="podkast.imgPath" src="{{podkast.imgPath}}" alt="" class="img-style"/>
                  <img *ngIf="!podkast.imgPath" src="http://www.seiu121rn.org/files/2018/06/blank-avatar1.png" alt="" class="img-style"/>
                </a>
            </div>
            <div class="col-lg-5 col-md-4 col-sm-4 listen-text col-xs-12 col-sm-5 pl-0 mt-lg-3" style="padding-left:8px !important;">
                <h6 class="podcast_description" title="{{podkast.episodeName}}"><a [routerLink]="['/episodedetails']" [queryParams]="{episodeId:podkast.episodeId,podcastId:podkast.podcastId}" routerLinkActive="active" queryParamsHandling="merge"><a>{{podkast.episodeName}}</a></a></h6>
                <h6 class="text-muted episode_description"><a [routerLink]="['/podcastdetails']"  routerLinkActive="active" [queryParams]="{podcastId:podkast.podcastId}" queryParamsHandling="merge">{{podkast.podcastName}}</a></h6>										
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 mt-5">
                <span class="text-secondary">{{podkast.durations}} mins</span>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 mt-5">
                <span class="text-secondary">{{this.cartService.array_price[i] | currency:"USD":true:"1.2-2" }}</span>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 p-0 col-xs-12 new-play-btn mt-4">
              <div class="col-md-12 text-center p-0 col-xs-8 col-sm-8">
                <li class="mt-4">
                    <button class="btn btn-sm btn-danger" (click)="this.cartService.removeEpisodes(podkast.id)"> Remove</button>      
                </li>
              </div>  
            </div>
          </div>
        </div>
      </div>          
    </div>
</ng-template>

<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header" style="padding:30px; padding-top:10px;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">
        <div class="" *ngIf="episodes" >
          <div class="row" >
            <div class="col-md-12 col-sm-10 text-center add_baner pb-2" *ngIf="episodes.hasOwnProperty('businessProfile')">
              <h6 class="text-center mt-3 text-white">
                <a target="_blank" [routerLink]="'/'+public_profile.url">Transcript brought to you by {{business_profile.name}}</a>
              </h6>
              <a target="_blank" href="{{business_profile.bannerAds}}"><img src={{business_profile.banner}} alt="advertisement-img" style="width:200px;height:200px;"/></a>
              <!--<a><img src="assets/images/baner_img.jpg" alt="advertisement-img" style="width:70%"/></a>-->
            </div>
            <div class="col-md-12 col-sm-10 text-center p-1" *ngIf="adsPodcast.hasOwnProperty('thumbnail')">
              <a [routerLink]="['/podcastdetails']"  routerLinkActive="active" [queryParams]="{podcastId:adsPodcast.podcastId}" queryParamsHandling="merge">
                <img src="{{adsPodcast.thumbnail}}" alt="" width="60% !important;" class="img-style-not-full" title="{{adsPodcast.name}}"/>
              </a>
              <div class="col-md-12 text-center col-xs-12">
                <button type="button" (click)="subscribedPodcasts(adsPodcast.podcastId)" class="btn-subscribe">Subscribe</button>
              </div>
            </div>

            <div class="col-12 mb-5">
              <div class="transcripts mb-5">
                  <div class="col-12 text-center">
                    <h3>Search Within Transcript</h3>
                  </div>
                  <div id="showmore" class="transcripts-showmore">
                      <div class="col-md-12 col-sm-12">
                        <div class="clr-1"></div>
                        <textarea type="text" [(ngModel)]="query" class="form-control text-area-search" placeholder="Search keywords..." (keyup)="search_word($event)"></textarea>
                  </div>
              </div>
            </div>
            <div class="col-12 p-0 mb-5">
              <div class="transcripts mb-5">
                <div class="col-12 text-center">
                  <h3>Highlight Density: {{max_highlight_count}}</h3>
                </div>
                <div title="Highlights based on {{max_highlight_count}} of times text was highlighted" class="col-md-12 text-center col-xs-12 col-sm-12">
                  <mv-slider [(value)]="max_highlight_count" [min]="0" [max]="100" [enabled]="enabled" (slide)="slide_change()" [step]="1" [ticksTooltip]="true" [formatter]="adsf"></mv-slider>
                </div>   
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal -->