<div class="content-wrapper" style="margin-top: 25px">
  <div class="main-content">
    <div class="row mx-4">
      <div class="col-lg-10 col-12">
        <div class="row">
          <div class="col-12">
            <img class="w-100" style="height:inherit;" [src]="bannerUrl"/>
          </div>
          <div class="col-12">
            <p [innerHtml]="content"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-2 d-lg-inline d-none">
        <div class="right-panel right-width">
          <div class="col-12">
            <h1 class="text-center">Coming Soon</h1>
            <br>
            <h3 class="text-left">Most recent highlights</h3>
            <br>
            <h3 class="text-left">Collections</h3>
            <br>
            <h3 class="text-left">Listen Later</h3>
            <br>
            <h3 class="text-left">Subscriptions</h3>
          </div>
        </div> 
      </div>
    </div>
  </div>

  <a id="btn-additional-bar" style="display: inline;" data-toggle="modal" data-target="#myModal2" class="d-lg-none d-inline">
    <i class="fas fa-cog"></i>
  </a>
</div>  

<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header" style="padding:30px; padding-top:10px;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <h1 class="text-center">Coming Soon</h1>
            <br>
            <h3 class="text-left">Most recent highlights</h3>
            <br>
            <h3 class="text-left">Collections</h3>
            <br>
            <h3 class="text-left">Listen Later</h3>
            <br>
            <h3 class="text-left">Subscriptions</h3>
          </div>
        </div>
      </div>
    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal -->