﻿ <aside *ngFor="let alert of alerts" class="{{ cssClass(alert) }} alert-dismissable">
    <div class="notification">
    
    {{alert.message}}
    </div>
     <a class="close" (click)="removeAlert(alert)">&times;</a>
 </aside>