@charset "utf-8";
/* CSS Document */


@media screen and (min-width:0px) and (max-width:319px){
	.m-xs-0{margin: 0!important;}
	.mt-xs-0{margin-top: 0!important;}
	.p-xs-0{padding: 0;}
	.ml-xs-0{margin-left: 0!important;}
	.admin-header.navbar .navbar-brand-wrapper{width: 100% !important;}
	.content-wrapper{padding: 2px !important;}
	.admin-header .search .search-btn{line-height: 32px!important;}
	.search .search-btn::before{left: 10px!important;}
	.admin-header .search-box{left: 0!important;}
	.mr-xs-30{margin-right: 30px;}
	.search.search-open .search-box{overflow-y: scroll;height: 360px;}
	.search-btn-main{margin-top: 10px;margin-bottom: 10px;padding: 10px 60px;}
	.search-form-mt{margin-top: 10px;}
	.search-margin-t{margin-top	: 90px!important;}
	.main-search .my-form-control{width: 225px !important;}
	label{margin-bottom: 0!important;}
	.slide-menu .side-menu-fixed{top: 0px;}
	
	.navbar-header{width: 45px;float: left;}
	.balance{margin-top: 0px;margin-left: -20px;float: left;}
	.balance select{padding: 6px 35px 6px 15px; font-size: 15px;}
	.top-link{float: left;margin-top: 5px;margin-left: 10px !important;}
	.ml_-19{margin-left: 9px;}
	.top-link a{font-size: 15px;}
	.search-form{margin-bottom: 10px!important;}
	.search-btn a button{margin-top: 10px;}
	.dropdown.dropdown-lg .dropdown-menu{min-width: 240px;left: 0;}
	.mlr-20{margin-left: 0;margin-right: 0;}
	
	.podcast{padding: 20px 10px 10px 10px;}
	.main-podcast_bg{padding-left: 0px;margin: 40px 0 0 0;}
	.main-podcast_bg h3 a{font-size: 19px;line-height: 40px;}
	/* .main-podcast-text{padding-left: 0px;margin-top: 10px;} */
	.podcast-social{margin-top: 20px;}
	.border{width: 250px;}
	.btn-reguler{padding: 16px 18px;font-size: 13px;}
	.btn-reguler-2{padding: 19px 10px;font-size: 12px;margin-bottom: 10px;}
	.footer_bg{padding-top: 10px;margin-bottom: 0;}
	.copyright{margin-top: 0px;text-align: center !important;line-height: 25px; font-size: 10px;}
	.footer-link{text-align: center !important;}
	.footer-link ul{text-align: center;}
	.audioplayer.affix{position: relative;margin-bottom: -5px;}
	
	.main-episode_bg{padding-left: 15px;padding-right: 15px;}
	.text-podcast{padding-left: 15px;}
	
	.listen-text{padding-top: 20px;}
	.new-play-btn{margin-left: 0px;}
	.main-episode-text{margin-left: 0px;margin-top: 20px;}
	
	.podcast_overview-text{margin-left: -15px;margin-top: 20px;}
	.white_subscribe{margin-top: 30px;}
	.pod-text{margin-left: 0;}
	.sortby_dropdown form label{float: left;margin-top: 10px;}
	.all-checkbox-text{margin-top: 11px;}
	.all-checkbox-text b{font-size: 20px;}
	.sortby_dropdown select{width: 73%;}
	.mt-18{margin-top: 0px;}
	.pod-date{height: 50px;width: 50px;font-size: 15px;margin-left: 40px;}
	.mt-sm-15{margin-top: 0px;}
	.paginfo-text{margin-top: 20px;}
	.checkmark{margin-top: 10px;}
	
	.trans_fild-r{padding-top: 15px!important;}
	.transcripts .trans_fild{padding: 0;}
	.add_baner{margin-top: 10%;}
	body::-webkit-scrollbar {
		width: 2px;
	}
	div::-webkit-scrollbar {
		width: 2px;
	}
}

@media screen and (min-width:320px) and (max-width:480px){
	.search-category ul{padding: 0;}
	.search-category ul li{float: none;padding: 10px 25px;margin: 10px 0;}
	.admin-header.navbar .navbar-brand-wrapper {width: 80% !important;margin-left: 0px;}
	.admin-header .search .search-btn{line-height: 32px!important;}
	.search .search-btn::before{left: 10px!important;}
	.search.search-open .search-box{overflow-y: scroll;height: 360px;width: auto;}
	.search-btn-main{margin-top: 10px;margin-bottom: 10px;padding: 10px 44px;}
	.search-form-mt{margin-top: 10px;}
	.admin-header .search-box{left: 0!important;}
	.slide-menu .side-menu-fixed{top: 0px;}
	.content-wrapper{padding: 2px !important;}
	.main-search .form-control{width: 380px!important;}
	.search-margin-t{margin-top: 68px!important;}
	.search{margin-right: 20px !important;}
	.main-search li{margin-left: 0 !important;}
	
	.navbar-header{width: 45px;float: left;}
	.mr-xs-0{margin-right: 0px !important;}
	.ml-xs-5{margin: 0 5px 0 0 !important;}
	.m-xs-0{margin: 0!important;}
	.mr-xs-30{margin-right: 30px;}
	.pr-0-xs{padding-right: 0;}
	.balance{margin-top: 0px;margin-left: -20px;float: left;}
	.balance select{font-size: 15px;}
	.top-link{float: left;margin-top: 0px;left: 0;margin-left: -3px !important;}
	.top-link a{font-size: 15px;}
	.search-form{margin-bottom: 10px!important;}
	.search-btn a button{margin-top: 10px;}
	.dropdown.dropdown-lg .dropdown-menu{min-width: 400px;left: 0;}
	.main-podcast_bg{padding-left: 0px;}
	.main-podcast_bg h3 a{font-size: 19px;line-height: 40px;}
	/* .main-podcast-text{padding-left: 0px;margin-top: 15px;} */
	.btn-reguler-2{padding: 19px 17px;font-size: 15px;margin-bottom: 10px;}
	/* .podcast-social{margin-top: 20px;} */
	.border{width: 360px;}
	.footer_bg{padding-top: 10px;margin-bottom: 0;}
	.copyright{margin-top: 0px;text-align: center !important; font-size: 10px;}
	.footer-link{text-align: center !important;}
	.footer-link ul{text-align: center;}
	.audioplayer.affix{position: fixed;bottom: 0px;}
	
	.listen-text{padding-top: 0px;}
	.new-play-btn{margin-left: 0px;}
	.transcripts-form{width: auto;}
	.transcripts .trans_fild{padding: 0;}
	.main-episode-text{margin-left: 0px;margin-top: 20px;}
	
	.podcast_overview-text{margin-left: -15px;margin-top: 20px;}
	.white_subscribe{margin-top: 30px;}
	.pod-text{margin-left: 0;}
	.sortby_dropdown form label{float: left;margin-top: 10px;margin-right: 10px;}
	.sortby_dropdown .form-inline{float: left;width: 100%;}
	.sortby_dropdown select{width: 100%;}
	
	.mt-sm-15{margin-top: 0px;}
	.main-episode_bg{padding-left: 15px;padding-right: 15px;}
	.add_baner{margin-top: 10%;}
	.trans_fild-r{margin-top: 15px;}
	body::-webkit-scrollbar {
		width: 2px;
	}
	div::-webkit-scrollbar {
		width: 2px;
	}
}

@media screen and (min-width:481px) and (max-width:768px){
	.search-category ul{padding: 0;}
	.search-category ul li{float: none;padding: 10px 25px;margin: 10px 0;}
	.mt-sm-15{margin-top: 0px;}
	/* .col-md-3{max-width: 100% !important;} */
	.navbar .navbar-brand{padding: 8px 0!important;}
	.content-wrapper{padding: 20px 0px!important;}
	.admin-header.navbar .navbar-brand-wrapper{width: 80% !important; margin-left: 0 !important;padding-left: 26px;}
	.admin-header .search .search-btn{line-height: 32px!important;}
	.admin-header.navbar ul.navbar-nav li{margin-left: 0!important;}
	.search-btn-main{margin-top: 10px;margin-bottom: 10px;padding: 10px 50px;}
	.search .search-btn::before{left: 10px!important;}
	.search.search-open .search-box{overflow-y: scroll;height: 360px;width: auto;}
	.search-form-mt{margin-top: 10px;}
	.admin-header .search-box{left: 0!important;}
	.main-search .form-control{width: 395px !important;}
	.menu-btn{margin-left: 10px;}
	
	.mr-sm-35{margin-right: 35px !important;}
	.search-form{margin-bottom: 10px!important;}
	.main-podcast_bg{padding-left: 30px;padding-bottom: 10px;}
	/* .main-podcast-text{margin-left: 0px;}
	.main-podcast-text p{margin-top: 15px;} */
	.podcast-social{margin-top: 15px;}
	.border{width: 658px;margin-left: 25px;}
	.footer-link ul{padding: 0;}
	.footer-link li{margin-right: 9px;}
	.copyright{margin-top: 0px;}
	
	.listen-text h4{margin: 0px;}
	.border_bg{width: 100%;}
	
	.transcripts h3{font-size: 21px;}
	.transcripts-form{width: 65px;}
	.add_baner h2{font-size: 20px;line-height: 25px;margin-left: 10px;}
	.btn-subscribe{padding: 19px 23px;font-size: 15px;}
	
	.podcast_overview-text{margin-left: 0px;}
	.white_subscribe{margin-top: 20px;}
	.pod-date{margin-right: 20px;}
	.pod-text{float: none;margin-top: 9px;}
	.footer_bg{
		padding-top: 10px;
		/* margin-bottom: 50px; */
	}
	
	.add_baner{margin-top: 63%;margin-right: -7px!important;}
	body::-webkit-scrollbar {
		width: 2px;
	}
	div::-webkit-scrollbar {
		width: 2px;
	}
}

@media screen and (min-width:769px) and (max-width:992px){
	.search-category ul{padding: 0;}
	.search-category ul li{padding: 10px 20px;margin: 0px 6px;}
	/* .side-menu-fixed{top: 67px!important;} */
	.admin-header.navbar .navbar-brand-wrapper{width: 200px!important;}
	.admin-header.navbar ul.navbar-nav li{margin-left: 10px!important;}
	.admin-header .search .search-btn{line-height: 32px!important;}
	.search .search-btn::before{left: 10px!important;}
	.admin-header .search-box{left: 0!important;}
	.search.search-open .search-box{width: 260px!important;padding-left: 0px;}
	/* .main-podcast-text{margin-left: 0px;} */
	.border_bg{width: 100%;}
	.border{width: auto;margin-left: 25px;}
	/* .main-podcast-text p{margin-top: 15px;} */
	.main-search .form-control{width: 300px!important;margin-bottom: 10px;}
	.footer_bg{
		/* margin-bottom: 50px; */
	}
	
	.paginfo-text{margin-top: 0;}
	.add_baner{margin-top: 29%;}
	
	.pod-text{float: none;margin-top: 5px;margin-left: 1%;}
}

@media screen and (min-width:769px) and (max-width:1024px){
	.admin-header .search .search-btn{line-height: 32px!important;}
	.search .search-btn::before{left: 10px!important;}
	.admin-header .search-box{left: 0!important;}
	.search.search-open .search-box{width: 750px;padding-left: 0px;}
	.main-podcast-text{margin-left: 0px;}
	.border_bg{width: 100%;}
	.border{width: auto;margin-left: 25px;}
	.main-podcast-text p{margin-top: 15px;}
	
	.transcripts h3{font-size: 22px;}
	.listen-text h4{margin: 0px;}
	
	.podcast_overview-text{margin-left: 0;}
	.paginfo-text{margin-top: 20px;}
	.add_baner{margin-top: 38%;}
	.add_baner h2{margin: 0;font-size: 26px;padding: 10px 10px;}
	
	.copyright{margin-top: 0px;}
	.search-category ul{padding: 0;}
	.search-category ul li{padding: 10px 40px;margin: 0px 16px;}
}

@media screen and (min-width:992px) and (max-width:1024px){
	.main-search .form-control{width: 335px !important;}
}
@media screen and (min-width:1024px) and (max-width:1120px){
	.main-search .form-control{width: 350px !important;}
}
@media screen and (min-width:1120px) and (max-width:1204px){
	.main-search .form-control{width: 460px !important;}
}
@media screen and (min-width:1204px) and (max-width:1366px){
	.main-search .form-control{width: 530px !important;}
}

/* @media screen and (min-width:1366px) and (max-width:1366px){
	.main-search .my-form-control{width: 455px !important;}
	
}

@media screen and (min-width:1600px) and (max-width:1600px){
	.main-search .my-form-control{width: 700px !important;}
} */

@media screen and (min-width:1366px) and (max-width:1601px){
	.main-search .my-form-control{width: 700px !important;}
	/* .add_baner{margin-top: 32%;} */
}

@media screen and (min-width:1601px) and (max-width:1840px){
	.main-search .my-form-control{width: 940px !important;}
	/* .add_baner{margin-top: 26%;} */
}
@media screen and (min-width:1840px){
	.main-search .my-form-control{width: 1175px !important;}
	/* .add_baner{margin-top: 26%;} */
}

/* @media screen and (min-width:1680px) and (max-width:1680px){
	.main-search .my-form-control{width: 750px !important;}
} */
