@charset "utf-8";
/* CSS Document */

body {
	overflow-x: hidden;
	font-family: 'ralewayregular';
}
html, body {
    height: 100%;
    overflow-x: hidden;
}



.plr-0{padding-left: 0 !important;padding-right: 0 !important;}
.pt-100{padding-top: 100px;}
.p-0{padding: 0px !important;}
.pt-0{padding-top: 0px !important;}
.pl-0{padding-left: 0px !important;}
.pr-0{padding-right: 0px !important;}
.pb-10{padding-bottom: 10px !important;}
.mlr-20{margin-left: 20px;margin-right: 20px;}
.mlr-60{margin-left: 60px;margin-right: 60px;}
.mr-0{margin-right: 0px !important;}
.ml-0{margin-left: 0px !important;}
.ml-0{margin-left: 0px !important;}
.mt-0{margin-top: 0px}
.mt-10{margin-top: 10px}
.mt-15{margin-top: 15px}
.mt-20{margin-top: 20px}
.mt-30{margin-top: 30px;}
.mt-40{margin-top: 40px;}

.ml-10{margin-left: 10px;}
.ml-20{margin-left: 20px;}
.ml-40{margin-left: 40px;}

.mb-20{margin-bottom: 20px;}
.height60{min-height: 60px !important;}
.orange{color: #f7941e !important;}
.blue{color: #0c4d8f !important;}
.black{color: #181818;}
.light_black{color: #666666;}
.medium_gray{color: #626262!important;}

.lato-r{font-family: 'latoregular';}
.font14{font-size: 14px !important;}
.dark_bg{color: #3e3e3e;}
.border_bg{
	height: auto;
	background-color: #fff;
	border: 1px solid #181818;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.32);
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.32);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.32);
	-o-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.32);
	-ms-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.32);
	float: left;
	width: 100%;
}
hr{margin-top: 0px;margin-bottom: 0px;border: 0;border-top: 1px solid #b6b6b6;}




/*------------top start ------------*/

.top-bar{}
.navbar {
    padding:  0px 10px 0px 10px;
    background: #3e3e3e;
    border: none;
    border-radius: 0;
    margin-bottom: 0px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	line-height: 22px;
	border-bottom: 1px solid #fff;
}
.main-search .input-group-btn{width: auto;}
.main-search .form-control{border: 1px solid #3c3c3c;}
.my-form-control{margin-top: 0.5px !important;}
.top-bar .navbar-right{margin-right: 0px;margin-top: 4px;}
.balance{color: #fff;}
.balance select{
	background-color: #0c4d8f;
	font-size: 17px;
	font-family: 'latoregular';
	border: none;
	padding: 2px 2px 2px 2px;;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	background-image: url(../images/date-arrow.png);
	background-position: right;
	background-repeat: no-repeat;
	border-radius: 5px;
	margin-right: 5px;
	margin-left: 5px;
	transform: 0.3s;
	height: 40px;
}
.balance .btn-group{
	background-color: #0c4d8f;
	font-size: 17px;
	font-family: 'latoregular';
	border: none;
	padding: 2px 2px 2px 2px;;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	background-image: url(../images/date-arrow.png);
	background-position: right;
	background-repeat: no-repeat;
	border-radius: 5px;
	margin-right: 5px;
	margin-left: 5px;
	transform: 0.3s;
	height: 40px;
}
.balance .btn-group .btn{
	background-color: #0c4d8f;
	border-style: none;
}
.balance .btn-group:hover{
	background-color: #0c4d8f;
}
.balance .btn-group .btn:hover{
	background-color: #0c4d8f;
	border-style: none;
}

.balance select:hover{
	color: #fff;
	text-decoration: none;
	background-color: #0c4d8f;
	transition: .4s;
}
.top-link{
	background-color: transparent;
	float: right;
	border-radius: 0px;
	text-align: center;
	margin-right: 0px;
	transition: 0.4s;
	padding: 0 10px 0px 10px;
	border-left: 1px solid #ADADAD;
}
.top-link a{
	color: #3c3c3c !important;
	padding: 0px !important;
	line-height: 40px !important;
	font-size: 17px;
	transition: 0.4s;
}
.top-link a:hover{color: #f7941e!important;}


/*------------top end ------------*/

/*------------Search bar start ------------*/

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 20px 20px;
	background-color: #f2f2f2;
	border: 1px solid #181818;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.searchbar_bg{background-color: #3e3e3e;border: none;padding: 15px 15px;}
.search-form{background-color: transparent;border: 1px solid #3e3e3e;border-radius: 10px !important;color: #3e3e3e;padding: 0px 12px;height: 40px;}
.search-form-dropdown{
	background-color: transparent;
	border: 1px solid #3e3e3e;
	border-radius: 10px !important; 
	color: #3e3e3e;
	padding: 0px 12px;
	height: 40px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	background-image: url(../images/Main-Search-arrow.png);
	background-size: 13%;
	background-position: right;
	background-repeat: no-repeat;
	width: 100%;
}
.search-btn-main{
	color: #fff;
	background-color: #0c4d8f;
	font-size: 15px;
	border-radius: 10px;
	transition: 0.4s;
	text-decoration: none;
	font-family: 'ralewaysemibold';
	padding: 8px 20px;
}
.search-btn-main:hover{background-color: #f7941e;color: #fff;}
.search-btn-main:focus{background-color: #f7941e;color: #fff;}
.main-search .my-form-control{width: 600px!important; color: gray;}

input::placeholder { color: gray !important; }
/*------------Search bar end ------------*/



.main-podcast_bg{color: #fff;overflow: hidden;padding-left: 0px;padding-bottom: 30px;margin-top: 10px;}
.main-podcast_bg h3{font-family: 'ralewaybold';margin-bottom: 25px;color: #fff;font-size: 24px;}
.main-podcast_bg h3 a{border-bottom: 2px solid #f7941e;padding-bottom: 5px}
.product_bg{background: #3e3e3e; padding:20px 20px 20px 20px;}
.main-podcast-text h4{font-family: 'ralewaysemibold';font-size: 1.1rem;padding: 0;margin: 0 0 5px 0;color: #fff;}
.main-podcast-text h5{padding: 0;margin: 0 0 10px 0;color: #fff;font-size: 20px;}
.main-podcast-text p{padding: 0;margin-top: 20px;color: #fff;line-height: 20px;}

.search-btn-icon {
	color: #3c3c3c;
	padding: 21px;
	margin-top: .5px;
 	padding-bottom: 20px;
	display: table-row;
	border: 1px solid #3c3c3c;
	border-radius: 0px;
	background-color: #3c3c3c;
	background-image: url(../images/Search-icon.png);
	background-repeat: no-repeat;
	background-position: center;
}
.search-btn-icon:hover{background-color: #f7941e;border: 1px solid #3c3c3c;border-left-style: none;}


.podcast-social li a{
    background-color: #f7941e;
    color: #fff;
    height: 45px;
    width: 45px;
    display: block;
    line-height: 46px;
    text-align: center;
    border-radius: 50%;
    font-size: 18px;
    transition: 0.2s;
    border: 1px solid transparent;
    margin: auto;
}
.podcast-social li a:hover{border: 1px solid #f7941e;color: #f7941e !important;text-decoration: none;background: transparent;}
.podcast-social li p{color: #fff;font-size: 13px;margin-top: 5px;}
.podcast-social li{list-style: none;}
.podcast-social button{background-color:transparent; border: none;}
.podcast-social button:hover{background-color:transparent; border: none;}
.details-sec{border: 1px solid #ddd;padding: 30px;}

.my-panel-group .panel{background-color: transparent;border: none;line-height: 20px;}
.my-panel-group .panel .panel-body{padding: 0;}

.podcast{padding: 20px 25px 10px 25px;width: 100%;float: left;}
.podcast h4{font-family: 'latosemibold';color: #181818;font-size: 22px;}
/* .podcast p{border-left: 5px solid #0c4d8f;padding-left: 10px;} */
.play-btn{
	background-color: #f7941e;
	border: 5px solid #FFBB6B;
	height: 35px;width: 35px;
	color: #fff;
	border-radius: 50%;
	font-size: 13px;
	text-align: center;
	line-height: 25px;
	transition: 0.4s;
	padding-left: 8px;
}
.play-btn-home{
    height: 30px;
    width: 30px;
    font-size: 10px;
    line-height: 20px;
    padding-left: 6px;
}
.play-btn:hover{background-color: transparent;color: #f7941e;border-color: #f7941e;}
.border{height: 1px;width: 93%;;background-color: #b6b6b6;float: left;margin-left: 30px;}
.btn-reguler{
	background-color: #78d549;
	padding: 16px 18px;
	margin-bottom: 0;
	font-size: 13px;
	line-height: 0;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 40px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'ralewaysemibold';
	transition: 0.4s;
}
.btn-reguler:hover{background-color: #f7941e;}

.btn-reguler-2{
	background-color: #3e3e3e;
	padding: 19px 25px;
	margin-bottom: 0;
	font-size: 15px;
	line-height: 0;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 50px;
	color: #fff;
	text-transform: capitalize!important;
	font-family: 'ralewaysemibold';
	transition: 0.4s;
}
.btn-reguler-2 span{font-size: 13px;}
.btn-reguler-2:hover{background-color: #6B6B6B;}
.btn-reguler-3{
	background-color: #0c4d8f;
	padding: 19px 6px;
	margin-bottom: 0;
	font-size: 14px;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'ralewaysemibold';
	transition: 0.4s;
}
.btn-reguler-3:hover{background-color: #f7941e;}
.text-podcast{padding: 20px 25px 10px 25px;width: 100%;float: left;}
.text-podcast h3{font-family: 'ralewaybold';color: #0c4d8f;}

/* .text-podcast p{border-left: 5px solid #0c4d8f;padding-left: 10px;} */

/*bar-css-stylesheet*/

.navbar-default .navbar-toggle,
.sm2-bar-ui .sm2-inline-status {
    color: #ffffff !important;
    background-color: #867461 !important;
}

/************************************
PLAYER
************************************/

.sm2-bar-ui .sm2-inline-element {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
	background-color: #0c4d8f;
	transition: 0.4s;
}

.volume-shade {
    opacity: 1;
}

.sm2-progress .sm2-progress-bar {
    background-color: #181818;
}

.sm2-bar-ui .sm2-inline-status {
    height: 70px;
    line-height: 70px;
    -webkit-transition: background-color 500ms ease-out 1s;
    -moz-transition: background-color 500ms ease-out 1s;
    -o-transition: background-color 500ms ease-out 1s;
    transition: background-color 500ms ease-out 1s;
}

.sm2-bar-ui.fixed .bd.sm2-playlist-drawer,
.sm2-bar-ui.bottom .bd.sm2-playlist-drawer {
    bottom: 4.6em;
}
.navbar-default .navbar-toggle,
.sm2-bar-ui .sm2-inline-status {
    color: #ffffff !important;
    background-color: #0f67c1 !important;
}

/*bar-css-stylesheet--end*/



.footer_bg{
	background-color: #3e3e3e;
	padding: 10px 0;
	color: #fff;
	margin-bottom: 0px;
	margin-top: 20px;
	position: absolute;
	bottom: 0px;
}
.footer-link ul{text-align: right;padding: 0;margin: 0;}
.footer-link li{
	width: 40px;
	height: 40px;
	background-color: transparent;
	float: none;
	border-radius: 50%;
	text-align: center;
	border: 1px solid #fff;
	transition: 0.4s;
	list-style: none;
	display: inline-block;
}
.footer-link li a{
	color: #fff !important;
	padding: 0px !important;
	line-height: 40px !important;
	font-size: 17px;
	transition: 0.4s;
}
.footer-link li:hover{
	background-color: #fff;
}
.footer-link li:hover a{
	color: #3e3e3e !important;
}
.copyright{font-size: 16px;line-height: 40px;}
.copyright p{margin: 0;}





/************************************
new releases page css start
************************************/

.day-title{
	height: 30px;
	border-left: 25px solid #0c4d8f;
	float: left;
	padding-left: 10px;
	margin-bottom: 15px;
}
.day-title h3{
	color: #181818;
	font-family: 'ralewaysemibold';
	padding-bottom: 10px;
	margin: 0px 0px 10px 0px;
	text-transform: uppercase;
}
.new-main-sec {
	padding: 10px 25px 10px 25px;
	color: #fff;
	overflow: hidden;
}
.new-head-title {
	padding: 13px 15px 0px 15px;
	margin-bottom: 0px;
}
.pod-title{
	color: #666666 !important;
}
.new-head-title h6{
	color: #181818;
	margin-top: 7px;
	margin-bottom: 3px;
	font-size: 18px;
	font-family: 'ralewaymedium';
}
.new-head-title p{
	font-size: 20px;
	color: #666666;
	margin-top: 7px;
}
.new-head-title p span{
    font-family: 'latoregular';
	font-size: 18px;
	color: #181818;
}
.pod-img{
	height: auto;
	width: auto;
	border-radius: 10px;
}
.new-play-btn li a {
	margin: auto;
	display: block;
	background-color: #f7941e;
	border: 5px solid #FFBB6B;
	height: 40px;
	width: 40px;
	color: #fff;
	border-radius: 50%;
	font-size: 15px;
	text-align: center;
	line-height: 32px;
	transition: 0.4s;
}
.new-play-btn li a:hover {
	background-color: transparent;
	color: #f7941e;
	border-color: #f7941e;
}
.new-play-btn li p {
    font-family: 'latoregular';
	font-size: 14px;
	margin-top: 5px;
}
.new-play-btn {
	/* margin-top: 12px; */
}
.new-play-btn li {
	list-style: none;
}
.bottom-border{border-bottom: 1px solid #b6b6b6;padding-bottom: 10px !important;margin-top: 20px;}

/************************************
new releases page css end
************************************/


/************************************
episides page css start
************************************/

.paginfo-text{margin-bottom: 15px;margin-top: 15px;}
.main-episode_bg{background-color: #3e3e3e;color: #fff;overflow: hidden;padding: 30px 0 20px 20px;}
.main-podcast_bg h3{font-family: 'ralewaybold';padding-bottom: 10px;margin-bottom: 20px;color: #fff; font-size:1.2rem;}
.main-episode-text h4{font-family: 'ralewaysemibold';font-size: 1.1rem;padding: 0;margin: 0 0 10px 0;color: #fff;}
.main-episode-text h5{padding: 0;margin: 0 0 10px 0;color: #fff;}
.main-episode-text p{padding: 0;margin: 10px 0 0 0;color: #fff;line-height: 20px;}

.episode{margin-top: 15px;}
.episode h4{font-family: 'latosemibold';color: #181818;}
.episode p{border-left: 5px solid #0c4d8f;padding-left: 10px;}
.transcripts{
	background-color: #f2f2f2;
	width: auto;
	height: auto;
	overflow: hidden;
	padding: 28px 0px;
}
.transcripts h3{color: #0c4d8f;font-family: 'ralewaybold';padding-bottom: 15px;font-size: 20px;}
/* .clr-1{height: 35px;border-left: 35px solid #6b1919;float: left;padding-left: 10px;}
.clr-2{height: 35px;border-left: 35px solid #00c6ff;float: left;padding-left: 10px;}
.clr-3{height: 35px;border-left: 35px solid #fb0000;float: left;padding-left: 10px;}
.clr-4{height: 35px;border-left: 35px solid #ff6000;float: left;padding-left: 10px;}
.clr-5{height: 35px;border-left: 35px solid #0c7923;float: left;padding-left: 10px;}
.clr-6{height: 35px;border-left: 35px solid #3f00bf;float: left;padding-left: 10px;}
.clr-7{height: 35px;border-left: 35px solid #0006ff;float: left;padding-left: 10px;}
.clr-8{height: 35px;border-left: 35px solid #4eff00;float: left;padding-left: 10px;}
.clr-9{height: 35px;border-left: 35px solid #ffd800;float: left;padding-left: 10px;}
.clr-10{height: 35px;border-left: 35px solid #ff0066;float: left;padding-left: 10px;} */
.clr-1{background-color:yellow;color:black;padding-left: 3px;padding-right: 3px;box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 3px;border-radius: 3px;}
.clr-2{background-color:#00c6ff;color:black;padding-left: 3px;padding-right: 3px;box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 3px;border-radius: 3px;}
.clr-3{background-color:#fb0000;color:black;padding-left: 3px;padding-right: 3px;box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 3px;border-radius: 3px;}
.clr-4{background-color:#ff6000;color:black;padding-left: 3px;padding-right: 3px;box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 3px;border-radius: 3px;}
.clr-5{background-color:#0c7923;color:black;padding-left: 3px;padding-right: 3px;box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 3px;border-radius: 3px;}
.clr-6{background-color:#3f00bf;color:black;padding-left: 3px;padding-right: 3px;box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 3px;border-radius: 3px;}
.clr-7{background-color:#0006ff;color:black;padding-left: 3px;padding-right: 3px;box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 3px;border-radius: 3px;}
.clr-8{background-color:#4eff00;color:black;padding-left: 3px;padding-right: 3px;box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 3px;border-radius: 3px;}
.clr-9{background-color:#ffd800;color:black;padding-left: 3px;padding-right: 3px;box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 3px;border-radius: 3px;}
.clr-10{background-color:#ff0066;color:black;padding-left: 3px;padding-right: 3px;box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 3px;border-radius: 3px;}

.transcripts-form{width: 75%;height: 35px;color: #181818;background-color: #fff;border: 1px solid #666666;border-radius: 0px;}
.fl-l{float: left;}

.right-add-section{margin: 0 16px 0 -10px;position: fixed;height: 100vh;overflow-y: scroll;}
.add_baner{background-color: #0c4d8f;width: auto;height: auto;overflow: hidden; display: block !important;}
.add_baner h2{color: #fff;margin-left: 20px;line-height: 35px;margin-bottom: 20px;}
.add_baner h2 span{font-family: 'ralewaybold';}
.btn-subscribe{
	background-color: #f7941e;
	padding: 20px 26px;
	font-size: 19px;
	line-height: 0;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 50px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'ralewaysemibold';
	transition: 0.3s;
	margin: 25px 0px 25px 0px;
}
.btn-subscribe:hover{background-color: transparent;border: 1px solid #f7941e;color: #f7941e;}

.podcast-social .btn-reguler{
	background-color: #0c4d8f;
	padding: 19px 25px;
	margin-bottom: 0;
	margin-top: 15px;
	font-size: 17px;
	line-height: 0;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 50px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'ralewaysemibold';
	transition: 0.4s;
}
.podcast-social .btn-reguler:hover{background-color: #f7941e;}


/************************************
episides page css end
************************************/

/* ==========================
   Search Box
   ========================== */


   .searchTerm{
	padding: 5px 10px;
	background-color: #fff;
	color:#444;
	border: 1px solid #666666;
	width: 100%;
	border-radius: 0px;
	box-shadow: none;
	outline: 0;
	}
	
	.searchBtn {
	border: 0;
	position: absolute;
	width: auto;
	cursor: pointer;
	margin: 0px -38px;
	border-left: 1px solid #666666;
	height: 100%;
	font-weight: 900;
	font-size: 12px;
	background-color: transparent;
	color:#0c4d8f;
	-webkit-border-radius:0px 5px 5px 0px;
	-moz-border-radius:0px 5px 5px 0px;
	border-radius:0px 5px 5px 0px;
	}
	
	/* ==========================
	   tooltip/hover popup
	   ========================== */
	
	.suggestionBox {
	display:none;
	background-color:white;
	color: #3b3835;
	border: 1px solid rgba(0,0,0,0.3);
	border-top: 0;
	float: left;
	left: 0;
	list-style: none;
	margin: 15px 0 0 0;
	padding: 8px;
	position: absolute;
	top: 40px;
	width: 100%;
	z-index: 1000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	box-shadow: 0 1px 3px rgba(0,0,0,0.25);  
	}
	
	.suggestionBox:before {
	content: '';
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #fff;
	position: absolute;
	top: -7px;
	left: 9px;
	}
	.suggestionBox a{line-height: 25px !important;padding-left: 10px;}
	
	.searchForm:nth-child(2){
	 background-color:#fff;
	}
	
	.searchForm:nth-child(2) .suggestionBox{
	background:skyblue;
	color:white;
	}
	
	.searchForm:nth-child(2) .suggestionBox::before {
	  border-bottom: 7px solid skyblue;
	}
	
	.searchForm:nth-child(3){
	 background-color:gray;
	}
	
	.searchForm:nth-child(3) .suggestionBox{
	background:beige;
	color:black;
	}
	
	searchForm:nth-child(3) .suggestionBox::before {
	  border-bottom: 7px solid beige;
	}
	
	.searchForm:nth-child(4){
	 background-color:#333;
	}
	
	.searchForm:nth-child(4) .suggestionBox{
	background:#859ce6;
	color:white;
	}
	
	.searchForm:nth-child(4) .suggestionBox::before {
	  border-bottom: 7px solid #859ce6;
	}
	

/************************************
listen later page css start
************************************/

.listen-text{}
.listen-text h4{color: #666666;font-size: 19px;}
.listen-text p{color: #181818;font-family: 'ralewaymedium';font-size: 20px;}
.listen-text h5{color: #666666;margin-bottom: 0;}
.listen-text h5 span{color: #181818;font-family: 'latoregular';}


/************************************
listen later page css end
************************************/




/************************************
podcast_overview page css start
************************************/

.podcast_overview-text{}
.podcast_overview-text h5{font-family: 'ralewaysemibold';font-size: 24px;padding: 0;margin: 0 0 10px 0;color: #fff;}
.podcast_overview-text h4{padding: 0;margin: 0 0 10px 0;font-size: 18px;color: #fff;}
.podcast_overview-text h4 a{color: #fff;}
.podcast_overview-text h4 a:hover{color: #f7941e;}
.podcast_overview-text p{padding: 0;margin: 20px 0 0 0;color: black;line-height: 20px;}
.white_subscribe{margin-top: 50px;}
.white_subscribe li{list-style: none;text-align: center;}
.white_subscribe li a{
    background-color: #fff;
    color: #3e3e3e;
    height: 50px;
    width: 50px;
    display: block;
    line-height: 50px;
    text-align: center;border: 1px solid transparent;
    border-radius: 50%;
    font-size: 20px;
	transition: 0.3s;
	margin: auto;
}
.white_subscribe li a:hover{color: #fff;text-decoration: none;background-color: transparent;border: 1px solid #fff;}
.white_subscribe li p{color: #fff;font-size: 14px;margin-top: 5px;}
.sortby_dropdown .form-inline {float: right}
.sortby_dropdown .form-inline label {padding-right: 10px;}
.sortby_dropdown select{

	background-color:#78d549;
	border: 1px solid transparent;
	border-radius: 40px !important; 
	color: #fff;
	padding: 0px 25px 0 12px;
	height: 35px;
	font-size: 13px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	background-image: url(../images/date-arrow.png);
	background-position: right;
	background-repeat: no-repeat;
}

.all-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	float: left;
}
.all-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.all-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}
.all-checkbox input:checked ~ .checkmark {
    background-color: #f7941e;
	border: transparent
}
.all-checkbox input:checked ~ .checkmark:after {
    display: block;
}
.all-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 8px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.all-checkbox-text{margin-left: 40px;margin-top: 17px; font-size: 1.50rem}
.all-checkbox-text b{font-weight: 500; }


.mt-18{margin-top: 18px;}
.my-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	float: left;
}
.my-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #d7d7d7;
	border: 1px solid #b6b6b6;
	border-radius: 5px;
	margin-top: 2px;
}

.my-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}
.my-checkbox input:checked ~ .checkmark {
    background-color: #f7941e;
	border: transparent
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.my-checkbox input:checked ~ .checkmark:after {
    display: block;
}
.my-checkbox .checkmark:after {
    left: 7px;
    top: 4px;
    width: 6px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.pod-date{
	height: 60px;
	width: 60px;
	background-color: #0c4d8f;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	float: left;
	font-family: 'latoregular';
	font-size: 18px;
	padding: 5px;
	margin-left: 10px;
}
.pod-text{margin-top: 0px;margin-left: 0px;color: #181818;font-size: 16px;font-family: 'ralewaymedium'; }
.pod-text:hover{
	cursor: pointer;
}



/************************************
podcast_overview page css end
************************************/

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}

.api_bar{height:10px;background:green;width:0;border-radius: 5px;}
.api_progress{width:100%;height:10px;border:none;text-align: center;color: white;border-radius: 5px;}
.api_progress {-webkit-animation: progress-bar-stripes 2s linear infinite;-o-animation: progress-bar-stripes 2s linear infinite;animation: progress-bar-stripes 2s linear infinite;background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);background-size: 40px 40px;height:10px;background-color: #B0BEC5;}@-webkit-keyframes progress-bar-stripes {from {background-position: 40px 0;}to {background-position: 0 0;}}@keyframes progress-bar-stripes {from {background-position: 40px 0;}to {background-position: 0 0;}}
.api_transcripts{position: fixed;background:#ffffffd1;z-index: 99999;bottom: 1200px;left: 250px;width: 60%;height: auto;top: 100px}
.api_transcript{padding:10px;} 

.cdk-overlay-container {
    position: fixed !important;
    z-index: 700 !important;
}
.mat-autocomplete-panel{
	padding-top:20px;
}

.episode_oneline{
	display: -webkit-box;
	overflow : hidden;
	text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
}

.episode_description{
	display: -webkit-box;
	overflow : hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;  
}
.episode_description_10_more{
	display: -webkit-box;
	overflow : hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 10;
	-webkit-box-orient: vertical;  
}
.podcast_description{
	display: -webkit-box;
	overflow : hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;  
}

/* display: block;
position: relative;
padding-left: 35px;
margin-bottom: 12px;
cursor: pointer;
font-size: 22px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
} */

/* Hide the browser's default checkbox */
.customcheck input {
position: absolute;
opacity: 0;
cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
position: absolute;
top: 0;
left: 0;
height: 20px;
width: 20px;
background-color: #eee;
border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.customcheck:hover input ~ .checkmark {
background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.customcheck input:checked ~ .checkmark {
background-color: #02cf32;
border-radius: 5px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the checkmark when checked */
.customcheck input:checked ~ .checkmark:after {
display: block;
}

/* Style the checkmark/indicator */
.customcheck .checkmark:after {
left: 9px;
top: 5px;
width: 5px;
height: 10px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}

.modal-scroll{
	height:500px;
	overflow-y: auto;
}

.play-btn-modal{
	background-color: #3f3b3b;
    opacity: 0.85;
    border: 5px solid #3f3f3f;
	position: absolute;
    top: 39px;
    left: 57px;
}

.play-btn-modal:hover{
	background-color: #3f3b3b;
    opacity: 0.7;
    border: 5px solid #3f3f3f;
}

.separator{
	width: 100%;
    border-bottom: 1px solid #e0e6ea;
}

.modal-menu{
	position: relative;
	padding:7px 0px 7px 0px;
    margin: 0 16px;
}

.modal-menu button{
	border-radius: 50%;
    height: 40px;
	width: 40px;
	margin-right:8px;
}

.audio-vg-player vg-controls{
	height: 120px !important;
	padding-top: 35px;
	padding-left: 10px;
}

.audio-vg-player-minimize vg-controls{
	height: 90px !important;
	padding-top: 35px;
	padding-left: 10px;
}

vg-controls vg-scrub-bar-buffering-time {
    position: absolute;
    top: calc(50% - -3px) !important;
}

vg-controls vg-scrub-bar-current-time {
    position: absolute;
	top: calc(50% - -3px) !important;
}

.audio-player-episode{
    width: 100%;
    text-align: center;
    position: absolute;
	top: 10px;
	font-size: 16px;
    font-weight: 400;
	color: #fff;
	display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.audio-player-episode-minimize{
	width: 100%;
    text-align: center;
	margin-top: 10px;
	font-size: 16px;
    font-weight: 400;
	color: #fff;
	display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.audio-player-podcast{
	width: 100%;
    text-align: center;
    position: absolute;
	top: 30px;
	font-size: 14px;
    font-weight: 400;
	color: gray !important;
	display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

vg-controls vg-scrub-bar{
	height:	35px !important;
	margin-top: 25px !important;
}

.btn-playback{
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
	height: 50px;
    background: transparent;
}
.btn-playback:hover{
	opacity: 0.5;
}
.btn-quick-view{
	margin-bottom: 0;
	line-height: 0;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 10px;
	color: gray;
	text-transform: uppercase;
	font-family: 'ralewaysemibold';
	transition: 0.4s;

	padding: 9px 8px;
	font-size: 25px;
	background: transparent;
  }
  .btn-quick-view-home{
	margin-bottom: 0;
	line-height: 0;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 10px;
	color: gray;
	text-transform: uppercase;
	font-family: 'ralewaysemibold';
	transition: 0.4s;

	padding: 7px 6px;
	font-size: 20px;
	background: transparent;
  }

.btn-quick-view:hover{
	/* padding: 11px 10px; */
	color: black;
}
.btn-quick-view-home:hover{
	/* padding: 9px 8px; */
	color: black;
}

.audio-vg-player{
	height: 120px; 
	background-color:#3e3e3e;
	opacity: .96;
}
.audio-vg-player-minimize{
	height: 63px; 
	background-color:#3e3e3e;
	opacity: .96;
	width: 30%;
	float: right;
	border-radius: 20px;
}

.vg-icon-play_arrow{
	font-size: 60px !important;
	color:  #e4e4e4 !important;
}
.vg-icon-pause{
	font-size: 45px !important;
	color: #e4e4e4 !important;
}
.vg-icon-play_arrow:hover{
	opacity: .5 !important;
	font-size:47px !important;
}
.vg-icon-pause:hover{
	opacity: .5 !important;
	font-size:47px !important;
}
.playback-custom-select{
	margin: 9px;
	height: 27px;
	width: auto !important;
	padding: .175rem 1.5rem .375rem .5rem;
	font-size: 12px;
	font-family: freightsans,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-weight: 300;
	display: inline-block;
	background: #fff;
	background-size: 8px 10px;
	border: 1px solid #ced4da;
	border-radius: .25rem;
}

@media screen and (min-width:321px) and (max-width:992px){
	.audio-vg-player vg-controls{
		padding: 0px;
	}
	.audio-player-episode{
		position: inherit;
		top: 0px;
	}
	.audio-player-podcast{
		position: inherit;
		top: 0px;
	}
	.audio-player-image{
		border-radius: 5px;
		height: 65px;
		width: 65px;
		border-color: white;
		border-style: solid;
		border-width: 2px;
		margin-top: 15px;
	}
	.audio-vg-player-minimize vg-controls{
		height: 60px !important;
	}
	.audio-vg-player-minimize{
		height: 60px; 
		background-color:#3e3e3e;
		opacity: .96;
		float: right;
		width: 100%;
		border-radius: 20px;
	}
	.audio-vg-player-minimize .audio-player-image{
		height: 50px;
		width: 50px;
		margin-left: 20px;
		margin-top: 0px;
	}
	vg-controls{
		display: unset !important;
	}
	vg-controls vg-scrub-bar{
		height:	35px !important;
		margin-top: 17px !important;
	}
	.btn-playback{
		height: 29px;
	}	
	.playback-custom-select{
		margin-left: 0;
		margin-right: 0;
	}
}
.img-style{
	width: 100% !important;
	border-radius: 10px;
	border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
.img-style:hover{
	opacity: .8;
}
.img-style-not-full{
	border-radius: 10px;
	border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.page-header{
	font-size: 35px;
    font-weight: 700;
    text-align: center;
    background: #323232;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
	color: white;
	margin: 20px 0 20px;
}
/* .pagination>li>a, .pagination>li>span{
	border-width: 0px !important;
} */

.grid-image{
	background-color: #f6f6f6;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
	width: 100%;
}
.grid-image:hover{
	opacity: 0.6;
}

select {
	background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
	background-color:#3498DB;
	background-repeat:no-repeat;
	background-position: right 10px top 15px;
	background-size: 16px 16px;
	color:white;
	padding:12px;
	width:auto;
	font-family:arial,tahoma;
	font-size:13px;
	font-weight:bold;
	color:#fff;
	text-align:center;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-appearance: none;
	border:0;
	outline:0;
	-webkit-transition:0.3s ease all;
		 -moz-transition:0.3s ease all;
		  -ms-transition:0.3s ease all;
		   -o-transition:0.3s ease all;
			  transition:0.3s ease all;
  }

  #blue {
	background-color:#3498DB;
  }
  
  #blue:hover {
	background-color:#2980B9;
  }

  select:focus, select:active {
	border:0;
	outline:0;
  }


  .sidenav {
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
	border: none;
	background: none;
	width:100%;
	text-align: left;
	cursor: pointer;
	outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
	color: #f1f1f1;
  }
  
  /* Main content */
  .main {
	margin-left: 200px; /* Same as the width of the sidenav */
	font-size: 20px; /* Increased text to enable scrolling */
	padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
	/* background-color: green; */
	color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
	display: none;
	background-color: #262626;
	padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
	float: right;
	padding-right: 8px;
  }

  .odd{
	  background-color:rgba(204, 204, 204, 0.53);
	  color: black;
  }
  
  .odd :hover, .even :hover{
	/* opacity: .95; */
	cursor: pointer;
  }

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.main-search input.form-control{
	border-color: gray !important;
}

vg-scrub-bar-buffering-time .background{
	width: 100% !important;
}

vg-scrub-bar .scrubBar{
	height: auto !important;
}

.knob{
	position: absolute;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: #fff;
    top: -1px;
    left: 0;
    box-shadow: 0 0 1px 0 rgba(0,0,0,.5);
    z-index: 100;
    cursor: pointer;
}
.skip-back-button {
    width: 45px;
    height: 45px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='45' height='45' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 9h11.5C32.06 9 39 15.94 39 24.5 39 33.06 32.06 40 23.5 40 14.94 40 8 33.06 8 24.5a1 1 0 0 1 2 0C10 31.956 16.044 38 23.5 38S37 31.956 37 24.5 30.956 11 23.5 11H12v4l-6-5 6-5v4z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
}
.skip-forward-button {
    width: 45px;
    height: 45px;
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='45' height='45' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33 9H21.5C12.94 9 6 15.94 6 24.5 6 33.06 12.94 40 21.5 40 30.06 40 37 33.06 37 24.5a1 1 0 0 0-2 0C35 31.956 28.956 38 21.5 38S8 31.956 8 24.5 14.044 11 21.5 11H33v4l6-5-6-5v4z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
}

.text-area-search{
	border-radius: 5px !important;
	line-height: 16px;
	font-size: 14px;
	height: 80px !important;
    color: #666;
}

body::-webkit-scrollbar {
    width: 12px;
}
div::-webkit-scrollbar {
    width: 8px;
}
.right-add-section::-webkit-scrollbar {
    width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray; 
}

.brand-logo{
	cursor: pointer;
}

.modal-menu-details{
	font-size:20px;
	color: gray;
	margin-right:8px;
	margin-top:10px;
}
.ln-audioplayer-desktop-minimize-button{
	padding-left: 12px;
}
.indicator__cta-link a:hover{
	color:#4663f2 !important;
	font-weight: bold;
}

.cdk-overlay-pane{
	/* top: 72px !important; */
}

.markup--quote{
	transition: .2s background-color;
    cursor: pointer;
} 
/* .markup--p-quote{

}  */
.is-me{
	background-color: transparent;
    background-image: linear-gradient(to bottom,rgba(12,242,0,.7),rgba(12,242,0,.7));
}
.is-other{
	background-color: transparent;
    background-image: linear-gradient(to bottom,rgba(250, 2, 209, 0.7),rgba(250, 2, 209,.7))
}

.border-rounded-left {
    border-top-left-radius: 23.25rem !important;
    border-bottom-left-radius: 23.25rem !important;
}

.border-rounded-right {
    border-top-right-radius: 23.25rem !important;
    border-bottom-right-radius: 23.25rem !important;
}

#mat-autocomplete-2{
	/* top: 435px; */
}

.text-read-more{
	color:#333 !important;
	font-weight: 700;
	cursor: pointer;
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.border_bg .podcast p img{
	width: 100px;
	border-radius: 5px;
}

.loading_screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    color: white;
    text-transform: uppercase;
    font-family: -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        Helvetica,
        sans-serif;
    font-size: 2.5em;
	text-shadow: 2px 2px 10px rgba(0,0,0,0.2);
	background:gray;
    margin: 0;
    padding: 0;
}

@keyframes dots {
	50% {
      transform: translateY(-.4rem);
    }
    100% {
      transform: translateY(0);
    }
}

  .d {
    animation: dots 1.5s ease-out infinite;
  }
  .d-2 {
    animation-delay: .5s;
  }
  .d-3 {
    animation-delay: 1s;
  }

  .cursor_point{
	  cursor: pointer;
  }

.modal-header h1, .modal-header h2, .modal-header h3, .modal-header h4, .modal-header h5, .modal-header h6 {
	font-family: 'ralewaybold' !important;
}
.episode-detail-segment{
	color: black;
}
.episode-detail-segment h4 /* highlighted by me*/
{
	display: inline;
    background-color: transparent;
	background-image: linear-gradient(to bottom,rgba(12,242,0,.7),rgba(12,242,0,.7));
	font-size: 16px;
}

.episode-detail-segment h5 /* highlighted by others*/
{
	display: inline;
    background-color: transparent;
	background-image: linear-gradient(to bottom,rgba(250, 2, 209, 0.7),rgba(250, 2, 209,.7));
	font-size: 16px;
}

.episode-detail-segment h6 /* highlighted by others*/
{
	display: inline;
	color: #707070;
    background-color: transparent;
	font-size: 16px;
}


.slide-menu  .side-menu-fixed .side-menu li a:focus {
	background: transparent;
	color: #ffffff; }

.slide-menu .side-menu-fixed .collapse {
	background: transparent;
}
.slide-menu .side-menu-fixed .side-menu li a[aria-expanded="true"]{
	background: transparent;
}

#back-to-top {
	padding-top: 14px;
	background: #e9a758;
	color: #fff;
	position: fixed;
	bottom: 185px;
	right: 20px;
	z-index: 99;
	display: none;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 40px;
	-o-border-radius: 2px;
	z-index: 10000;
	height: 50px;
	width: 50px;
	background-repeat: no-repeat;
	background-position: center;
	transition: background-color 0.1s linear;
	-moz-transition: background-color 0.1s linear;
	-webkit-transition: background-color 0.1s linear;
	-o-transition: background-color 0.1s linear;
}
#back-to-top i {
	padding-top: 15px;
	font-size: 16px;
}
#back-to-top:hover {
	background: #fff;
	color: #e9a758;
	border: 2px solid #e9a758;
	padding-top: 13px;
}

.search-category ul{margin: 0;padding: 0 35px;}
.search-category ul li{float: left;padding: 10px 45px;border: 2px solid #8a8a8a;border-radius: 50px;margin: 0 20px;}
.search-category ul li a{color: #353535;font-family: 'ralewaysemibold';}
.search-category ul li a:hover{text-decoration: none;}

.sticky {
	position: fixed !important;
	top: 0;
	width: 100%;
}

.fix_sidebar{
	position: fixed !important;
	overflow-y: auto !important;
}

.hide_scrollbar{
	padding-right: 12px;
	box-sizing: content-box;
}

