<div class="content-wrapper">
    <!-- widgets -->
    <div class="row mt-lg-4 mt-2">
        
        <div class="container-fluid about-us">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center main-title">
                        <h1>About Us</h1>
                        <div class="heading-line"><img src="images/heading-line.png" alt=""/></div>
                        <p>LIGHT is like the Google for podcasts. We index all known podcasts and make them searchable. We make it so you can search for podcasts and within podcasts. Additionally our fast growing platform allows for dynamic social engagement to create new knowledge connections. Our aim is to help you find what you are looking for a quickly and efficiently as possible.</p>
                    </div>
                </div>
            </div>
            <h5>LIGHT is founded by Steve Scott and Anders Olsson.</h5>
        </div>	
    </div><!--row end-->
    
    
    
</div><!-- main content wrapper end-->