<link href="https://cdn.materialdesignicons.com/2.1.19/css/materialdesignicons.min.css" rel="stylesheet" />
            <!------------------------podcast-start------------------------>
            <div class="content-wrapper">
                <div class="main-content" style="margin-top:15px;">
                    <div class="container-fluid p-xs-0">
                        <div class="row">
                            <div class="col-12">
                                <mat-tab-group>
                                    <mat-tab label="Episodes Transcribed">
                                
                                            <div class="card">
                                                <div class="card-header card-header-danger profile-headerback">
                                                    <h4 class="card-title ">Episodes Transcribed</h4>
                                                    <span class="text-secondary">Total  Credits Purchased#  <strong>{{total_amount | currency:"USD":true:"1.1-2"}}</strong></span>&nbsp;&nbsp;
                                                    <span class="text-secondary">Total Duration Purchased#  <strong>{{total_duration}}</strong></span>
                                                     
                                                </div>
                                                <div class="card-body px-lg-5 px-0">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead class=" text-primary text-center">
                                                               
                                                                <th>
                                                                    Episodes  Name
                                                                </th>
                                                                <th>
                                                                    Podcasts Name
                                                                </th>
                                                                <th>
                                                                    Durations(In Minutes)
                                                                </th>
                                                                <th>
                                                                    Amount
                                                                </th>
                                                                <th>
                                                                    Status
                                                                </th>
                                                                <th>
                                                                    Date
                                                                </th>
                                                            </thead>
                                                            <tbody *ngIf="purchaseHistory.transcribes.length>0">
                                                                <tr *ngFor="let purchase of purchaseHistory.transcribes; index as i" class="text-center">
                                                                   
                                                                    <td>
                                                                            <h6 class="podcast_description" title="{{purchase.episodeName}}"><a [routerLink]="['/episodedetails']" [queryParams]="{episodeId:purchase.episodeId,podcastId:purchase.podcastId}" routerLinkActive="active" queryParamsHandling="merge"><a>{{purchase.episodeName}}</a></a></h6>
                                                                    </td>
                                                                    <td>
                                                                            <h6 class="text-muted"><a [routerLink]="['/podcastdetails']"  routerLinkActive="active" [queryParams]="{podcastId:purchase.podcastId}" queryParamsHandling="merge">{{purchase.podcastName}}</a></h6>										
                                                                    </td>
                                                                    <td>
                                                                        {{purchase.duration}}
                                                                    </td>
                                                                    <td class="text-primary">
                                                                        {{purchase.price | currency:"USD":true:"1.2-2" }}
                                                                    </td>
                                                                    <td class="text-primary">
                                                                        {{purchase.status }}
                                                                    </td>
                                                                    <td>
                                                                        {{ purchase.createDate | date}}
                                                                     </td>
                                                                </tr>
                                                     
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                    </mat-tab>
                                   
                                    <mat-tab label="Transaction History">
                                        <div class="card">
                                            <div class="card-header card-header-danger profile-headerback">
                                                <h4 class="card-title ">Transaction History</h4>
                                            </div>
                                            <div class="card-body px-lg-5 px-0">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead class=" text-primary">
                                                            <th>
                                                                ID
                                                            </th>
                                                             <th>
                                                                CartId
                                                            </th>
                                                            <th>
                                                                Date
                                                            </th>
                                                            <th>
                                                                Amount
                                                            </th>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let customer of customers; index as i">
                                                                <td>
                                                                   {{customer.id}} 
                                                                </td>
                                                              
                                                                <td>
                                                                   {{customer.cartId}} 
                                                                </td>
                                                                <td>
                                                                   {{ customer.createDate | date}}
                                                                </td>
                                                                <td class="text-primary">
                                                                    {{customer.amount | currency:"USD":true:"1.1-3"}}
                                                                </td>
                                                            </tr>
                                                           
                                                           
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                  </mat-tab>
                                </mat-tab-group>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
