/* @media screen and (max-width:992px){
    .audio-vg-player-minimize{
        height: 63px; 
        background-color:#3e3e3e;
        opacity: .96;
        width: 100%;
        float: right;
        border-radius: 20px;
    }
} */
