<!-- @For Web Audio Player -->
<vg-player *ngIf="playerService.fileUrl" [hidden]="!playerService.fileUrl" class="audio-vg-player" [ngClass]="(is_minimized==false)?'audio-vg-player':'audio-vg-player-minimize'" (onPlayerReady)="onPlayerReady($event)">
    <vg-controls [hidden]="is_mobile_view">
        <img src={{playerService.imageUrl}} alt="" style="height:60px;border-radius:5px;" *ngIf="!is_minimized&&playerService.imageUrl"/>
        <button type="button" id="button_bw" class="skip-back-button skip_back_button btn-playback mr-sm-2" [ngClass]="(is_minimized==false)?'ml-4':''" aria-label="Skip back" (click)='buttonBackPress()'>
            <p>15</p>
        </button>
        <vg-play-pause class="mr-sm-2"></vg-play-pause>       
        <button type="button" id="button_bw" class="skip-forward-button skip_forward_button btn-playback" aria-label="Skip forward" (click)='buttonForwardPress()'><p>30</p></button>

        <vg-time-display vgProperty="current" vgFormat="hh:mm:ss" class="ml-2"></vg-time-display>
        <a [ngClass]="(is_minimized==false)?'audio-player-episode':'audio-player-episode-minimize'">{{playerService.episodeUrl}}</a>
        <a *ngIf="!is_minimized" class="audio-player-podcast">{{playerService.podcastUrl}} - <b>{{playerService.releaseDate | date}}</b></a>
        <vg-scrub-bar *ngIf="!is_minimized" >   
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
            <!--<div class="knob" [ngStyle]="{'left':knob_left + '%'}"></div>-->
        </vg-scrub-bar> 

        <vg-time-display vgProperty="left" vgFormat="hh:mm:ss" *ngIf="!is_minimized" style="padding-right: 10px;"></vg-time-display>
        <vg-time-display vgProperty="total" vgFormat="hh:mm:ss" *ngIf="!is_minimized"></vg-time-display>
        <select class="custom-select playback-custom-select float-right" (change)="change_playback($event.target.value)" *ngIf="!is_minimized">
            <ng-container *ngFor="let item of playback_data" >
                <option [value]="item.key" [selected]="item.key==1.0">{{item.value}}</option>
            </ng-container>
        </select>
        <button type="button" id="button_fw" class="btn-playback" (click)="bookmark()">
            <i class="glyphicon glyphicon-bookmark"></i>
        </button>
        <vg-mute *ngIf="!is_minimized"></vg-mute>
        <vg-volume *ngIf="!is_minimized"></vg-volume>

        <vg-fullscreen *ngIf="!is_minimized"></vg-fullscreen>

        <button type="button" id="button_minimize" class="btn-playback" (click)="minimize()" *ngIf="!is_minimized">
            <i class="fas fa-angle-down"></i>
        </button>
        <button type="button" id="button_minimize" class="btn-playback" (click)="minimize()" *ngIf="is_minimized">
            <i class="fas fa-angle-up"></i>
        </button>
    </vg-controls>

    <vg-controls [hidden]="!is_mobile_view">
        <div class="row w-100">
            <div class="col-3">
                <img src={{playerService.imageUrl}} alt="" style="border-radius:5px;" class="audio-player-image" *ngIf="playerService.imageUrl"/>
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-7">
                        <div class="row">
                            <div class="col-4">
                                <button type="button" id="button_bw" class="skip-back-button skip_back_button btn-playback" aria-label="Skip back" (click)='buttonBackPress()'>
                                    <p>15</p>
                                </button>
                            </div>
                            <div class="col-4">
                                <vg-play-pause></vg-play-pause> 
                            </div>
                            <div class="col-4">
                                <button type="button" id="button_bw" class="skip-forward-button skip_forward_button btn-playback" aria-label="Skip forward" (click)='buttonForwardPress()'>
                                    <p>30</p>
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-5">
                        <select class="custom-select playback-custom-select" (change)="change_playback($event.target.value)">
                            <ng-container *ngFor="let item of playback_data" >
                                <option [value]="item.key" [selected]="item.key==1.0">{{item.value}}</option>
                            </ng-container>
                        </select>
                        <button type="button" id="button_minimize" class="btn-playback float-right" (click)="minimize()" *ngIf="!is_minimized">
                            <i class="fas fa-angle-down"></i>
                        </button>
                        <button type="button" id="button_minimize" class="btn-playback float-right" (click)="minimize()" *ngIf="is_minimized">
                            <i class="fas fa-angle-up"></i>
                        </button>
                    </div>
                </div>
                <div class="row" *ngIf="!is_minimized">
                    <div class="col-11">
                        <div class="row">
                            <h5 [ngClass]="(is_minimized==false)?'audio-player-episode':'audio-player-episode-minimize'">{{playerService.episodeUrl}}</h5>
                            <h5 *ngIf="!is_minimized" class="audio-player-podcast d-none">{{playerService.podcastUrl}} - <b>{{playerService.releaseDate | date}}</b></h5>
                        </div>
                    </div>
                    
                    <div class="col-1">
                        <button type="button" id="button_fw" class="btn-playback float-right" (click)="bookmark()">
                            <i class="glyphicon glyphicon-bookmark"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>    
         <div class="row">
            <vg-time-display vgProperty="current" vgFormat="hh:mm:ss" class="ml-2"></vg-time-display>
            <vg-scrub-bar>   
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                <!--<div class="knob" [ngStyle]="{'left':knob_left + '%'}"></div>-->
            </vg-scrub-bar> 

            <vg-time-display vgProperty="total" vgFormat="hh:mm:ss"></vg-time-display>
        </div>
    </vg-controls>
    <audio #media [vgMedia]="media" #master [vgMaster]="true" autoplay="true"  id="myAudio" preload="auto" [src]="playerService.fileUrl">
        <!--<source  *ngIf="playerService.fileUrl"  type="audio/mp3" preload="auto">-->
    </audio>

</vg-player>
