<!--=================================
 Main content -->
 <div class="content-wrapper">

  <div class="content my-3"> 
  <!------------------------podcast-start------------------------>             
    <div class="row px-lg-5 pb-3">
      <div class="col-12">
        <h1 class="page-header">Episode list to be Transcribe</h1>
      </div>
      <div class="col-12 d-md-inline d-none" style="height:30px;">
        <label class="my-checkbox">
          <input type="checkbox" [(ngModel)]="cartService.selectedAll" (change)="selectAll();">
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="col-12 scrollbar square scrollbar-lady-lips" infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50"
            (scrolled)="onScroll()"
            [scrollWindow]="false" style=" height: 50rem; overflow-y: auto;">

        <div class="row pb-3 px-0">
          <div class="col-md-6 col-12">  
            <span class="text-secondary">Total Amount: {{this.cartService.tprice | currency:"USD":true:"1.1-2"}}</span>&nbsp;&nbsp; 
            <span class="text-secondary">Total Duration: {{this.cartService.totalDuration}} mins</span>
          </div>
          <div class="col-md-6 col-12">
            <button class="btn btn-primary float-right ml-3" routerLink="/">Continue To Add Transcribe</button>
            <button class="btn btn-success float-right" (click)="creditCheckout()">Pay {{this.cartService.tprice | currency:"USD":true:"1.1-2"}}</button>
          </div> 
        </div>

        <div *ngIf="this.cartService.cartItems.length>0" class="row">
          <div  *ngFor="let podkast of this.cartService.cartItems|slice:0:scroll_limit; index as i;let odd=odd; let even=even;" class="col-12 " >          
            <div class="row py-3" [ngClass]="{ odd: odd, even: even }">
              <div class="d-lg-inline d-none" >
                <label class="my-checkbox check-box-center mt-5" style="transform: translateY(-50%);">
                    <input type="checkbox" [(ngModel)]="cartService.selectValues[i].selected" (change)="checkIfAllSelected();" value={{i}}>
                    <span class="checkmark"></span>
                </label>
              </div>
              <div class="col-lg-1 col-md-4 col-sm-4 col-4">
                <a [routerLink]="['/podcastdetails']"  routerLinkActive="active" [queryParams]="{podcastId:podkast.podcastId}" queryParamsHandling="merge">
                  <img src="{{podkast.imgPath}}" alt="" class="img-style"/>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-6 listen-text pl-0 mt-3">
                  <h6 class="podcast_description" title="{{podkast.episodeName}}"><a [routerLink]="['/episodedetails']" [queryParams]="{episodeId:podkast.episodeId,podcastId:podkast.podcastId}" routerLinkActive="active" queryParamsHandling="merge"><a>{{podkast.episodeName}}</a></a></h6>
                  <h6 class="text-muted"><a [routerLink]="['/podcastdetails']"  routerLinkActive="active" [queryParams]="{podcastId:podkast.podcastId}" queryParamsHandling="merge">{{podkast.podcastName}}</a></h6>										
              </div>
              <div class="col-lg-1 col-md-2 col-sm-2 col-2 mt-3"> 
                <button (click)="open_read_more_modal(content, podkast, podkast)" type="button" class="btn-reguler btn-quick-view ml-xs-0 my-1" title="Quick View"><i class="fas fa-eye"></i></button>  
              </div>
              <div class="col-lg-2 col-md-4 col-sm-4 col-4 mt-5 text-center">
                  <span class="text-secondary">{{podkast.durations}} mins</span>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-4 col-4 mt-5 text-center">
                  <span class="text-secondary">{{this.cartService.array_price[i] | currency:"USD":true:"1.2-2" }}</span>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-4 col-4 p-0 new-play-btn mt-4 text-center">
                <li class="mt-4">
                    <button class="btn btn-sm btn-danger" (click)="this.cartService.removeEpisodes(podkast.id)"> Remove</button>      
                </li>
              </div>
            </div>  
          </div>         
        </div>
      </div>

    </div>
  </div> 
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header row">
      <div class="col-lg-2 col-md-4 col-sm-4 col-4">
        <img class="grid-image" src={{modal_podcast.imgPath}} style="width:120px;height:120px;"/>
        <button *ngIf="!this.playerService.isPlaying" type="button" (click)="playAudios($event, modal_episode.fileUrl, modal_podcast)" class="play-btn play-btn-modal">
          <i class="fas fa-play"></i>
        </button>
        <button *ngIf="this.playerService.isPlaying" type="button" (click)="playAudios($event, modal_episode.fileUrl, modal_podcast)" class="play-btn play-btn-modal">
          <i class="fas fa-pause"></i>
        </button>
      </div>
      <div class="col-2 d-sm-none d-inline float-right">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="col-lg-9 col-md-7 col-sm-7 col-12">
        <h4 class="modal-title text-center font-weight-bold cursor_point episode_description" id="modal-basic-title" (click)="d('Cross click')" [routerLink]="['/episodedetails']"  routerLinkActive="active" [queryParams]="{episodeId:modal_podcast.episodeId,podcastId:modal_podcast.podcastId}" queryParamsHandling="merge">{{modal_podcast.episodeName}}</h4>
        <h6 class="text-primary text-center font-weight-bold cursor_point episode_description" (click)="d('Cross click')" [routerLink]="['/podcastdetails']"  routerLinkActive="active" [queryParams]="{podcastId:modal_podcast.podcastId}" queryParamsHandling="merge">{{modal_podcast.podcastName}}</h6>
      </div>	
      <div class="col-lg-1 col-md-1 col-sm-1 d-sm-inline d-none float-right">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="modal-menu"  *ngIf="modal_episode">
      <i class="fa fa-calendar"></i>
      <span class="mr-2"><b>{{modal_episode.releaseDate | date}}</b>	</span>
      <i class="fa fa-hourglass"></i>
      <span>{{secondsToMinute(modal_episode.duration)}}</span>
    </div>
    <div class="separator"></div>
    
    <div class="modal-body modal-scroll"  *ngIf="modal_episode">
      <p [innerHtml]="modal_episode.summary"></p>
    </div>
</ng-template> 
