<div class="row">
        <app-loader></app-loader>
        <div class="col-12">
                <app-layout-header></app-layout-header>
        </div>
        <div class="col-12 main-wrapper">
        <div [ngClass]="(is_mobile_view)?'wrapper':'wrapper slide-menu'">
                <div class="row w-100" style="flex-wrap: inherit;position:relative;">
                <!-- Left Sidebar start-->
                        <div class="side-menu-fixed">
                                <div class="scrollbar side-menu-bg">
                                        <ul class="nav navbar-nav side-menu" id="sidebarnav">
                                                <!-- menu item Dashboard-->
                                                <!-- menu item todo-->
                                                <li class="nav_item" *ngIf="is_mobile_view&&isAuthenticated"><a [routerLink]="['/newrelease']"><i class="fa fa-credit-card"></i><span class="right-nav-text">{{currentUser.balance | currency:"USD":true:"1.1-2"}}</span></a></li>
                                                <li class="nav_item"><a [routerLink]="['/newrelease']"><i class="fa fa-bullhorn"></i><span class="right-nav-text">New Releases</span></a></li>
                                                <li class="nav_item"> <a [routerLink]="['/inprogress']"><i class="fas fa-chart-line"></i><span class="right-nav-text">In Progress</span></a></li>
                                                <li class="nav_item"><a routerLink="/listenlater"  routerLinkActive="active"><i class="fa fa-headphones"></i><span class="right-nav-text">Listen later</span></a></li>
                                                <li class="nav_item"><a [routerLink]="['/subscription']"><i class="fa fa-suitcase"></i><span class="right-nav-text">Subscriptions</span> </a></li>
                                                <li class="nav_item"><a [routerLink]="['/collection']"><i class="fa fa-server"></i><span class="right-nav-text">Collections</span> </a></li>
                                                <li class="nav_item"><a [routerLink]="['/bookmark']"><i class="fa fa-bookmark"></i><span class="right-nav-text">Bookmarks</span> </a></li>
                                                <li class="nav_item"><a [routerLink]="['/checkout']"><i class="fa fa-shopping-cart"></i><span class="right-nav-text">Cart</span> </a></li>
                                                <li class="nav_item"><a [routerLink]="['/referral']"><i class="fa fa-share-alt"></i><span class="right-nav-text">Referral</span> </a></li>
                                                <li class="nav_item"><a [routerLink]="['/businesspage']"><i class="fa fa-users"></i><span class="right-nav-text">Public Profile</span> </a></li>
                                                <li *appShowAuthed="true" class="nav_item">
                                                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><i class="fa fa-user"></i><span class="right-nav-text">Account</span> </a>
                                                        <ul class="collapse list-unstyled" id="homeSubmenu">    
                                                                <li class="nav_item"><a [routerLink]="['/profile']"><i class="fa fa-user"></i><span class="right-nav-text">Profile</span></a></li>
                                                                <li class="nav_item"><a [routerLink]="['/addcredit']"><i class="fa fa-credit-card"></i><span class="right-nav-text">Add Credits</span></a></li>
                                                                <li class="nav_item"><a [routerLink]="['/transaction']"><i class="fas fa-exchange-alt"></i><span class="right-nav-text">Transaction History</span></a></li>
                                                        </ul>
                                                </li>
                                                <li class="nav_item" *appShowAuthed="false"><a [routerLink]="['/']" (click)="login()"><i class="fas fa-sign-out-alt"></i><span class="right-nav-text">Log In</span> </a></li> 
                                                <li class="nav_item" *appShowAuthed="true"><a [routerLink]="['/']" (click)="logout()"><i class="fas fa-sign-out-alt"></i><span class="right-nav-text">Log Out</span> </a></li>
                                        </ul>
                                </div> 
                        </div> 

                        <div class="container-fluid px-0 position-relative">
                                <router-outlet></router-outlet>
                                <div  class="sm2-bar-ui full-width fixed audioplayer affix data-offset-t_b" data-spy="affix" data-offset-top="320" data-offset-bottom="0">
                                        <div><app-audio-player></app-audio-player></div>
                                </div>
                        </div>        
                </div>
        </div>                        
       

        <app-layout-footer></app-layout-footer>
        </div>
</div>
