
<div class="content-wrapper">
  <div class="content" style="margin-top: 25px">
    <div class="">               
      <div class="row px-lg-5">
        <div class="col-md-12 col-xs-12 col-sm-12">
          <h1 class="page-header">Subscriptions</h1>
        </div>
        <div class="col-md-12 col-sm-12 sortby_dropdown mb-3 pr-3">
            <select id="blue" class="float-right" (change)="sort_by($event.target.value)">
              <option *ngFor="let type of sort_data" [value]="type.key">{{type.value}}</option>
            </select>
        </div>

        <div class="col-md-12 p-0 col-xs-12 col-sm-12" *ngIf="podcasts">
          <div *ngIf="podcasts.subscribeDto.length>0">
            <div  *ngFor="let podkast of podcasts.subscribeDto" >
              <div class="col-lg-2 col-md-3 plr-3 mt-0 col-xs-12 col-sm-3 float-left" >
                <div class="col-md-12 col-xs-12 col-sm-12 mb-5 p-0">  
                    <a [routerLink]="['/podcastdetails']"  routerLinkActive="active" [queryParams]="{podcastId:podkast.podcastId}" queryParamsHandling="merge">
                      <img class="grid-image" title="{{podkast.podcastName}}" *ngIf="podkast.img" src="{{podkast.img}}" alt="" width="100%"/>
                      <img class="grid-image" title="{{podkast.podcastName}}" *ngIf="!podkast.img" src="http://www.seiu121rn.org/files/2018/06/blank-avatar1.png" alt="" width="100%"/>
                    </a>
                </div>
              </div>
            </div>
          </div>    
        </div>
      </div>
    </div>
  </div>
</div>
