
<div class="content-wrapper">
    <!-- widgets -->
    <div class="row mt-lg-4 mt-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center main-title">
                    <h1>Podcasters</h1>
                    <div class="heading-line"><img src="assets/images/heading-line.png" alt=""/></div>
                    <p>Get more exposure, subscribers, listens and advertising dollars for your podcast LIGHT is a great opportunity to get your podcast greater exposure.</p>
                </div>
                <div class="col-lg-12 podcaster-text">
                    <h3>By transcribing your podcasts</h3>
                    <div class="row">
                        <div class="col-lg-4 podcaster-text-inner col-sm-4">
                            <div class="text-box">
                                <p class="m-0">Users can find and subscribe to your podcasts quick and easy</p>
                                <br>
                                <p class="m-0">Your podcasts are indexed by our search engine so users can easily find your content</p>
                            </div>
                        </div>
                        <div class="col-lg-4 podcaster-text-inner col-sm-4">
                            <div class="text-box">
                                <p class="m-0">Your podcasts are indexed by search engines such as Google and Bing so people outside of our website can find your content more easily</p>
                            </div>
                        </div>
                        <div class="col-lg-4 podcaster-text-inner col-sm-4">
                            <div class="text-box">
                                <p class="m-0">User can dynamically interact with your content by bookmarking, highlight and making collections which are share publicly and can also be searched</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="container mt-30">
            <div class="row">
                <div class="col-lg-7 highlight-text">
                    <p>Once you’ve transcribed a podcast you are able to highlight parts of the episode that you want to remember. If they were talking about a particular topic of interest you can highlight the precise words so you can come back to it later.</p>
                    <br>
                    <p>Additionally other users can highlight the same podcast. So you can quickly see what others have found important within that podcast episode. Using our Highlight Density tool you can choose the density of highlights for that episode. For ex using the slider you can show only sections where 3 or more people highlighted or 6 or more. This is useful in the case where an episode has a ton of highlights. The more times people highlighted the same passage, the more likely it is to be important or useful to you</p>
                </div>
                <div class="col-lg-5 highlight-img">
                    <img src="assets/images/edit-transcripts-img_2.png" alt=""/>
                </div>
            </div>
        </div>
        
        <div class="container-fluid mt-30 mb-lg-5 promote-pattern-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 highlight-img">
                        <img src="assets/images/search_transcript-img_2.png" alt=""/>
                    </div>
                    <div class="col-lg-6 text-center promote-right">
                        <h3>Promote your Podcast</h3>
                        <div class="heading-line"><img src="assets/images/heading-small-line.png" alt=""/></div>
                        <p>You can transcribe other podcasts that your listeners might be interested. By transcribing other podcasts you can display your podcast with a Subscribe button next to their transcript. That way users of other podcasts can learn about yours.</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!--row end-->
    
    
    
</div><!-- main content wrapper end-->