body{font-family: 'ralewayregular' !important;color: #353535;}

h1{font-family: 'ralewaysemibold';margin: 0;}
h3{font-family: 'ralewaymedium';margin: 0;}
p{line-height: 26px;}

.mt-30{margin-top: 30px;}
.mb-30{margin-bottom: 30px;}





/******************  top and sidebar - start *******************/
/*------------top start ------------*/

.navbar {
    padding:  0px 10px 0px 10px;
    background: #3e3e3e;
    border: none;
    border-radius: 0;
    margin-bottom: 0px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	line-height: 20px;
	border-bottom: 1px solid #fff;
}
.main-search .input-group-btn{width: auto;}
.main-search .form-control{border: 1px solid #3c3c3c;}

.top-bar .navbar-right{margin-right: 0px;margin-top: 4px;}

.top-link{
	background-color: transparent;
	float: right;
	border-radius: 0px;
	text-align: center;
	margin-right: 0px;
	transition: 0.4s;
	padding: 0 10px 0px 10px;
	border-left: 1px solid #ADADAD;
}
.top-link a{
	color: #3c3c3c !important;
	padding: 0px !important;
	line-height: 40px !important;
	font-size: 17px;
	transition: 0.4s;
}
.top-link a:hover{color: #f7941e!important;text-decoration: none;}


/*------------top end ------------*/

/*------------Search bar start ------------*/

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 20px 20px;
	background-color: #f2f2f2;
	border: 1px solid #181818;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.searchbar_bg{background-color: #3e3e3e;border: none;padding: 15px 15px;}
.search-form{background-color: transparent;border: 1px solid #E1E1E1;border-radius: 10px !important;color: #555555;padding: 0px 12px;height: 40px;}
.search-form-dropdown{
	background-color: transparent;
	border: 1px solid #eeeeee;
	border-radius: 10px !important; 
	color: #3c3c3c;
	padding: 0px 12px;
	height: 40px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	background-image: url(../../../assets/images/Main-Search-arrow.png);
	background-size: 13%;
	background-position: right;
	background-repeat: no-repeat;
}
.search-btn-main{
	color: #fff;
	background-color: #0c4d8f;
	font-size: 15px;
	border-radius: 10px;
	transition: 0.4s;
	text-decoration: none;
	font-family: 'ralewaysemibold';
	padding: 8px 20px;
}
.search-btn-main:hover{background-color: #f7941e;color: #fff;}
.search-btn-main:focus{background-color: #f7941e;color: #fff;}
.main-search .my-form-control{width: 800px!important;}

.search-btn-icon {
	color: #3c3c3c;
	padding: 18px;
	display: table-row;
	border: 1px solid #3c3c3c;
	border-radius: 50px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	background-color: #3c3c3c;
	background-image: url(../../../assets/images/Search-icon.png);
	background-position: center;
}
.search-btn-icon:hover{background-color: #f7941e;border: 1px solid #3c3c3c;}

/*------------Search bar end ------------*/

/******************  top and sidebar - start *******************/


/******************  Podcast Enthusiasts - start *******************/

.heading-line{margin: 0;padding: 0;margin-top: -8px;}
.main-title p{
	padding: 0 0px;
	margin: 0;
	margin-top: 10px;
}

.gray-bg{background-color: #f8f8f8;padding: 30px 30px;}
.transcribe{padding: 0 8px;}
.transcribe-inner{background-color: #fff;border: 2px solid #cacaca;padding: 20px 15px;position: relative;}
.transcribe-inner:before {
    display: block;
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top: -2px;
    left: -2px;
    border-top: 2px solid #0c4d8f;
    border-left: 2px solid #0c4d8f;
}
.transcribe-inner:after {
    display: block;
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top: -2px;
    right: -2px;
    border-top: 2px solid #0c4d8f;
    border-right: 2px solid #0c4d8f;
}
.transcribe-inner span:before {
    display: block;
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: -2px;
    left: -2px;
    border-bottom: 2px solid #0c4d8f;
    border-left: 2px solid #0c4d8f;
}
.transcribe-inner span:after {
    display: block;
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: -2px;
    right: -2px;
    border-bottom: 2px solid #0c4d8f;
    border-right: 2px solid #0c4d8f;
}
.transcribe-inner h6{color: #f57b35;font-family: 'ralewaybold';font-size: 19px;}
.transcribe-inner hr{width: 30%;margin: auto;background-color: #f57b35;height: 3px;border: none;}
.transcribe-inner p{margin: 10px 0 0 0;}

.highlight-text p{position: relative;padding: 0 10px;margin: 0}
.highlight-text p:before{position: absolute;display: block;content: "";width: 10px;height: 25px;top: 0;left: 0;border-left: 5px solid #f57b35;}
.highlight-img img{width: 100%;}


.collections-text{padding: 0 7px;}
.text-box{
	background-color: #fff;
	box-shadow: 0px 3px 9.13px 1.87px rgba(0, 0, 0, 0.07);
	padding: 10px 10px;
}


.pattern-bg{background-image: url("../../../assets/images/bookmark-bg.png");background-size: cover;width: 100%;background-repeat: no-repeat;background-color: #efefef;padding: 30px 30px;background-position: left;}
.bookmark-bg{background-color: #fff;padding: 20px 70px;}

.search-category ul{margin: 0;padding: 0 35px;}
.search-category ul li{float: left;padding: 10px 50px;border: 2px solid #8a8a8a;border-radius: 50px;margin: 0 20px;}
.search-category ul li a{color: #353535;font-family: 'ralewaysemibold';}
.search-category ul li a:hover{text-decoration: none;}

/******************  Podcast Enthusiasts - end *******************/

/******************  Podcasters - start *******************/

.podcaster-text{margin-top: 30px;}
.podcaster-text h3{position: relative;padding: 0 18px;margin: 0}
.podcaster-text h3:before{position: absolute;display: block;content: "";width: 10px;height: 35px;top: 0;left: 0;border-left: 5px solid #f57b35;}
.podcaster-text-inner{margin-top: 20px;}
.podcaster-text-inner .text-box{
	height: 174px;
	background-color: #fff;
	box-shadow: 0px 3px 9.13px 1.87px rgba(0, 0, 0, 0.07);
	padding: 10px 10px;
}
.podcaster-text-inner .text-box p{position: relative;padding-left: 18px;}
.podcaster-text-inner .text-box p:before{position: absolute;content: "";background-color: #353535;width: 10px;height: 10px;border-radius: 50px;top: 7px;left: 0;}

.promote-pattern-bg{background-image: url("../../../assets/images/bookmark-bg.png");background-size: cover;width: 100%;background-repeat: no-repeat;background-color: #efefef;padding-top: 30px;}
.promote-right{padding: 40px 15px;}
.promote-right p{margin-bottom: 30px;}

/******************  Podcasters - end *******************/

/******************  Advertisers - start *******************/

.advertisers-text{margin-top: 30px;}
.advertisers-text h3{position: relative;padding: 0 18px;margin: 0 0 10px 0;}
.advertisers-text h3:before{position: absolute;display: block;content: "";width: 10px;height: 35px;top: 0;left: 0;border-left: 5px solid #f57b35;}
.advertisers-text-inner{margin-top: 20px;}
.advertisers-text-inner .text-box{
	background-color: #fff;
	box-shadow: 0px 3px 9.13px 1.87px rgba(0, 0, 0, 0.07);
	padding: 10px 10px;
}
.advertisers-text-inner .text-box p{position: relative;padding-left: 18px;}
.advertisers-text-inner .text-box p:before{position: absolute;content: "";background-color: #353535;width: 10px;height: 10px;border-radius: 50px;top: 7px;left: 0;}

.graph-gray-bg{background-color: #f8f8f8;padding: 30px 30px;}
.graph-section{box-shadow: 0px 3px 9.13px 1.87px rgba(0, 0, 0, 0.07);border-radius: 5px;}
.graph-section .graph-img img{width: 100%;}
.graph-section .graph-3-img{padding-right: 0;}
.graph-text{background-color: #353535;padding: 20px 20px;border-radius: 0 0 5px 5px;text-align: center;height: 118px;}
.graph-text p{color: #fff;margin: 0;}
.graph-text-2p{padding: 0;}
.graph-text-2{background-color: #353535;padding: 79px 20px;border-radius: 0 5px 5px 0;text-align: center;}
.graph-text-2 p{color: #fff;margin: 0;}

.advertisers-graph-text .text-box{padding: 20px 20px}
.advertisers-graph-text .text-box p{position: relative;padding: 0 10px;margin: 0}
.advertisers-graph-text .text-box p:before{position: absolute;display: block;content: "";width: 10px;height: 25px;top: 0;left: 0;border-left: 5px solid #f57b35;}
.advertisers-graph-text .text-box h3{position: relative;padding: 0 10px;margin: 0 0 10px 0;}
.advertisers-graph-text .text-box h3:before{position: absolute;display: block;content: "";width: 10px;height: 35px;top: 0;left: 0;border-left: 5px solid #f57b35;}
.advertisers-graph-text .text-box h6{position: relative;padding-left: 18px;}
.advertisers-graph-text .text-box h6:before{position: absolute;content: "";background-color: #353535;width: 10px;height: 10px;border-radius: 50px;top: 7px;left: 0;}

/******************  Advertisers - end *******************/


/******************  footer - start *******************/

.about-us{text-align: center;height: 74vh;}
.about-us h5{background-color: #f8f8f8;font-family: 'ralewaybold';padding: 15px;margin-top: 20px;margin-bottom: 30px;}

/******************  footer - start *******************/


/******************  footer - start *******************/

.footer_bg{background-color: #3e3e3e;padding-top: 10px;padding-bottom: 10px;color: #fff;margin-bottom: 0px;margin-top: 50px;}
.copyright{font-size: 16px;line-height: 40px;}
.copyright p{margin: 0;line-height: 40px;}
.footer-link ul{text-align: right;padding: 0;margin: 0;}
.footer-link li{
	width: 40px;
	height: 40px;
	background-color: transparent;
	float: none;
	border-radius: 50%;
	text-align: center;
	border: 1px solid #fff;
	transition: 0.4s;
	list-style: none;
	display: inline-block;
}
.footer-link li a{
	color: #fff !important;
	padding: 0px !important;
	line-height: 40px !important;
	font-size: 17px;
	transition: 0.4s;
}
.footer-link li:hover{
	background-color: #fff;
}
.footer-link li:hover a{
	color: #3e3e3e !important;
}

/******************  footer - end *******************/


