<link href="https://cdn.materialdesignicons.com/2.1.19/css/materialdesignicons.min.css" rel="stylesheet" />

            <!------------------------podcast-start------------------------>
            <div class="">
                <div class="main-content content-wrapper" style="margin-top:15px;">
                    <div class="container-fluid px-lg-5 px-md-0 px-sm-0 px-0">
                        <div class="row w-100">
                            <div class="col-12">
                                <mat-tab-group>
                                    <mat-tab label="Public Profile Overview">
                                        <div class="col-md-12">
                                            <div class="card px-lg-3 px-1">
                                                <div class="card-header card-header-danger profile-headerback">
                                                    <h4 class="card-title ">Episodes Transcribed</h4>
                                                    <p class="card-category">Total Purchased Credits#  <strong>$10,000</strong></p>
                                                </div>
                                                <div class="card-body px-lg-3 px-1">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead class=" text-primary">
                                                                <th> ID </th>
                                                                <th> Episodes  Name </th>
                                                                <th> Podcasts Name </th>
                                                                <th> Durations(In Minutes) </th>
                                                                <th> Amount </th>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td> 1 </td>
                                                                    <td> Listen to Moses Henry talk about life in Dansville </td>
                                                                    <td> Floridian Magazine </td>
                                                                    <td> 600 </td>
                                                                    <td class="text-primary"> $100 </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-tab>
                                    <mat-tab label="Update Public Profile">
                                        <div class="card px-lg-3 px-1">
                                            <div class="card-header card-header-danger profile-headerback">
                                                <h4 class="card-title">Edit Public Profile</h4>
                                                <p class="card-category">Complete your profile</p>
                                            </div>
                                            <alert></alert>
                                            <div class="card-body px-lg-3 px-1">
                                                <form [formGroup]="businessForm">
                                                    <div class="row">
                                                        <div class="col-md-6 col-12">
                                                            <h6 class="normal-label-style">Public Profile Name</h6>
                                                            <mat-form-field appearance="outline"  class="example-full-width w-100">
                                                                <input matInput formControlName="businessName" required type="text" >
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-md-6 col-12">
                                                            <h6 class="normal-label-style">Tag Lines</h6>
                                                            <mat-form-field appearance="outline"  class="example-full-width w-100">
                                                                <input matInput formControlName="bustagLines" rows="3" required type="text" >
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 col-12">
                                                            <h6 class="normal-label-style">Podcast URL</h6>
                                                            <div class="input-group main-search">
                                                                <input type="text" class="form-control my-form-control pl-2 rounded" placeholder="Search Podcast or Episode" matInput [formControl]="searchTerm" (keydown.enter)="onEnterDown($event)" [matAutocomplete]="auto">
                                                                <mat-autocomplete #auto="matAutocomplete" class="business_search_podcast">
                                                                    <mat-option  *ngFor="let item of searchResult" [value]="item.topPodcast.name">
                                                                        <p  (click)="select_podcast(item.topPodcast.podcastId, item.topPodcast.name)"><img  style="width:50px;height:50px;" src="{{item.topPodcast.thumbnail}}">
                                                                        {{ item.topPodcast.name}}</p>
                                                                    </mat-option>
                                                                </mat-autocomplete>              
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-12">
                                                            <h6 class="normal-label-style">Upload Banner 240*240</h6>
                                                            <div class="col-md-12 col-xs-12 col-lg-12 px-0">
                                                                <div class="upload-btn-wrapper">
                                                                    <button class="upload_image"><i class="fas fa-upload"></i> Upload a image</button>
                                                                    <input formControlName="file" type="file" (change)="selectFile($event)" id="banner" accept=".jpeg,.png,.jpg">
                                                                </div>
                                                            </div>
                                                            <img *ngIf="business_image_src!=''" [src]="business_image_src" style="height:90px;width:90px;"> <br/>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 col-12">
                                                            <h6 class="normal-label-style">Banner Ad Link</h6>
                                                            <mat-form-field appearance="outline"  class="example-full-width w-100">
                                                                <input matInput formControlName="bannerAds" value="https://light.sx/banner_url" required type="text" >
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-md-6 col-12">

                                                        </div>
                                                    </div>
                                                    
                                                    <button mat-raised-button class="btn btn-lg btn-success"  (click)="uploadBusiness()" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Update Profile</button>
                                                    <!-- <button mat-raised-button class="btn btn-lg btn-danger" style="float:right" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button> -->
                                                    <!-- <button mat-raised-button type="submit"  class="btn btn-lg btn-round btn-success pull-xs-right">Update Profile</button> -->
                                                    <div class="clearfix"></div>
                                                </form>
                                            </div>
                                        </div>
                                    </mat-tab>
                                    <mat-tab label="Public Profile Page">
                                        <div class="card px-lg-3 px-1 row">
                                            <form [formGroup]="profileForm" >
                                                <div class="card-header card-header-danger profile-headerback col-12">
                                                    <h4 class="card-title">Edit Public Page</h4>
                                                    <p class="card-category">Complete your profile</p>
                                                </div>
                                                <alert></alert>
                                                <div class="card-body px-lg-3 px-1 col-12">
                                                    
                                                    <div class="row">
                                                        <div class="col-lg-6 col-12"  style="margin: auto;">
                                                            <h6>*Public Profile URL</h6>
                                                            <mat-form-field appearance="outline"  class="example-full-width">
                                                                <input matInput formControlName="pubProfileUrl" (input)="onSearchChange($event.target.value)" required type="text" value="">
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-lg-6 col-12" style="margin: auto;">
                                                            <div class="row">
                                                                <div class="col-md-12 col-xs-12 col-lg-12 px-0">
                                                                    <div class="upload-btn-wrapper">
                                                                        <button class="upload_image"><i class="fas fa-upload"></i> Upload a image</button>
                                                                        <input formControlName="file" type="file" (change)="public_selectFile($event)" id="banner" accept=".jpeg,.png,.jpg">
                                                                    </div>
                                                                </div>
                                                                <img *ngIf="public_image_src!=null" [src]="public_image_src" style="height:90px;width:90px;"> <br/>
                                                        
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 col-12">
                                                            https://light.sx/{{url_suffix}}
                                                        </div>
                                                        <div class="col-md-6 col-12">
                                                            <!-- <h6 class="normal-label-style">*Public Banner URL</h6> -->
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <!--<ngx-wig class="col-md-12 px-0"  [content]="name" formControlName="name"></ngx-wig>-->
                                                        <ckeditor class="w-100" [editor]="Editor" [(ngModel)]="editor_model.editorData" [ngModelOptions]="{standalone: true}"></ckeditor>
                                                        <!-- <mat-form-field appearance="outline"  class="example-full-width col-md-12">
                                                            <input matInput formControlName="pubProfileUrl" required type="textarea" value="">
                                                        </mat-form-field> -->
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 px-0">
                                                            <!--<button mat-raised-button class="btn btn-lg btn-primary" type="button"><i class="fas fa-eye"></i> Preview Page</button>-->
                                                            <button mat-raised-button class="btn btn-lg btn-success"  (click)="uploadProfile()" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Update Profile</button>
                                                        </div>
                                                    </div>
                                                    <!-- <button mat-raised-button type="submit"  class="btn btn-lg btn-round btn-success pull-xs-right">Update Profile</button> -->
                                                    <div class="clearfix"></div>
                                                </div>
                                            </form>
                                        </div>
                                    </mat-tab>
                                </mat-tab-group>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
