<!--=================================
 Main content -->
<div class="content-wrapper">

  <div class="content my-3">
  <!------------------------podcast-start------------------------>             
    <div class="row px-lg-5 pb-3">
      <div class="col-12 px-0">
        <h1 class="page-header">Bookmarks</h1>
      </div>
      <div class="col-12 sortby_dropdown mb-3 px-3">
            <select id="blue" class="float-right" (change)="sort_by($event.target.value)">
              <option *ngFor="let type of sort_data" [selected]="type.key === 'date_big'" [value]="type.key">{{type.value}}</option>
            </select>
      </div>
      <div class="col-12 sortby_dropdown px-0 d-lg-inline d-none">
          <table class="table">
            <thead>
              <tr class="row">
                <th class="col-7"></th>
                <th class="col-1 px-0">Booked Date</th>
                <th class="col-1 px-0">Released Date</th>
                <th class="col-1 px-0">Booked Time</th>
                <th class="col-2"></th>
              </tr>
            </thead>
          </table>
      </div> 
      <div class="col-12 p-0"  infiniteScroll
              [infiniteScrollDistance]="2"
              [infiniteScrollThrottle]="50"
              (scrolled)="onScroll()"
              [scrollWindow]="false" style=" height: 45rem; overflow-y: auto;" class="scrollbar square scrollbar-lady-lips">
        
        <div *ngIf="bookmarks.length>0">
					<div  *ngFor="let bookmark of bookmarks|slice:0:scroll_limit; index as i; let odd=odd; let even=even;" >
            <div class="row py-3 bottom-border mt-0" [ngClass]="{ odd: odd, even: even }">
              <div class="col-lg-1 col-md-4 col-sm-4 col-4">
                  <a [routerLink]="['/podcastdetails']"  routerLinkActive="active" [queryParams]="{podcastId:bookmark.podcastId}" queryParamsHandling="merge">
                    <img *ngIf="bookmark.image" src="{{bookmark.image}}" alt="" class="img-style" title="{{bookmark.podcastName}}"/>
                    <img *ngIf="!bookmark.image" src="http://www.seiu121rn.org/files/2018/06/blank-avatar1.png" alt="" title="{{bookmark.podcastName}}" class="img-style"/>
                  </a>
              </div>
              <div class="col-lg-5 col-md-6 col-sm-8 col-8 listen-text pl-lg-0 mb-md-0 mb-2" style="padding-left:15px !important;">
                  <h6 class="episode_oneline" title="{{bookmark.episodeName}}"><a [routerLink]="['/episodedetails']" [queryParams]="{episodeId:bookmark.episodeId,podcastId:bookmark.podcastId}" routerLinkActive="active" queryParamsHandling="merge">{{bookmark.episodeName}}</a></h6>
                  <!--<h6 class="d-md-inline d-none text-muted"><a [routerLink]="['/podcastdetails']"  routerLinkActive="active" [queryParams]="{podcastId:bookmark.podcastId}" queryParamsHandling="merge">{{bookmark.podcastName}}</a></h6>-->					
                  <div class="col-12 d-inline mt-lg-4 px-lg-0">
                    <span class="text-secondary" title="Episode Description">{{bookmark.segment}}</span>
                  </div>
                  <!--<h5>Published <span>: {{podkast.releaseDate | date}}</span></h5>1526367600000-->
              </div>
              <!--<div class="col-lg-3 col-md-6 d-md-inline d-none mt-lg-4 px-lg-0">
                <span class="text-secondary episode_description" title="Episode Description">{{bookmark.segment}}</span>
              </div>-->
              <div class="col-lg-1 col-md-2 d-md-inline d-none mt-lg-4 pt-lg-2 px-lg-3">
                <button (click)="open_read_more_modal(content, bookmark, bookmark, i)" type="button" class="btn-reguler btn-quick-view ml-xs-0 my-1" title="Quick View"><i class="fas fa-eye"></i></button>  
              </div>
              <div class="col-lg-1 col-md-5 col-sm-4 col-4 mt-lg-5 px-lg-0 mb-md-0 mb-2">
                <h6 class="d-md-none d-inline mobile-h6-font">Booked Date</h6>
                <span class="text-secondary float-left">{{bookmark.createdDate | date }}</span>
              </div>
              <div class="col-lg-1 col-md-4 col-sm-4 col-4 mt-lg-5 px-lg-0">
                <h6 class="d-md-none d-inline mobile-h6-font">Release Date</h6>
                <span class="text-secondary float-left">{{bookmark.releaseDate | date }}</span>
              </div>
              <div class="col-lg-1 col-md-2 col-sm-4 col-4 mt-lg-5">
                <h6 class="d-md-none d-inline mobile-h6-font">Booked Time</h6>
                <span class="text-secondary float-left">{{bookmark.timestamp}}</span>
              </div>
              <div class="col-lg-2 col-md-12 col-sm-12 col-12 new-play-btn mt-lg-4 pt-lg-3 float-right"> 
                <div class="row">
                  <div class="col-3 text-center p-0">
                    <li class="float-lg-right">
                      <a href="javascript:void(0)" title="Play" (click)="playAudios($event,bookmark)"><i class="fas fa-play"></i></a>
                    </li>
                  </div>  
                  <div class="col-3 text-center p-0">
                    <li class="float-lg-right">
                      <a href="javascript:void(0)" title="Listen Later" (click)="listenLater(bookmark.podcastId, bookmark.episodeId)">
                        <i class="fas fa-headphones"></i></a>
                    </li>
                  </div>
                  <div class="col-3 text-center p-0">
                    <li class="float-lg-right">
                      <a href="javascript:void(0)" title="Transcribe" (click)="apply_transcribe(i, cart)"><i class="fas fa-microphone"></i></a>
                    </li>
                  </div>    
                  <div class="col-3 d-md-none d-inline px-lg-0">
                    <button (click)="open_read_more_modal(content, bookmark, bookmark, i)" type="button" class="btn-reguler btn-quick-view ml-xs-0 my-1 float-right" title="Quick View"><i class="fas fa-eye"></i></button>  
                  </div> 
                </div>  
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xs-12 col-sm-12" style="height:100px;">

        </div>
        </div>          
      </div>
    </div><!--row-->
  </div><!--container-->

<!------------------------podcast-end------------------------>
</div><!--content-->

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header row">
      <div class="col-lg-2 col-md-4 col-sm-4 col-4">
        <img class="grid-image" src={{modal_podcast.image}} style="width:120px;height:120px;"/>
        <button *ngIf="!this.playerService.isPlaying" type="button" (click)="playAudios($event, modal_podcast.fileUrl, modal_podcast)" class="play-btn play-btn-modal">
          <i class="fas fa-play"></i>
        </button>
        <button *ngIf="this.playerService.isPlaying" type="button" (click)="playAudios($event, modal_podcast.fileUrl, modal_podcast)" class="play-btn play-btn-modal">
          <i class="fas fa-pause"></i>
        </button>
      </div>
      <div class="col-2 d-sm-none d-inline float-right">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="col-lg-9 col-md-7 col-sm-7 col-12">
        <h4 class="modal-title text-center font-weight-bold cursor_point episode_description" id="modal-basic-title" (click)="d('Cross click')" [routerLink]="['/episodedetails']"  routerLinkActive="active" [queryParams]="{episodeId:modal_podcast.episodeId,podcastId:modal_podcast.podcastId}" queryParamsHandling="merge">{{modal_podcast.episodeName}}</h4>
        <h6 class="text-primary text-center font-weight-bold cursor_point episode_description" (click)="d('Cross click')" [routerLink]="['/podcastdetails']"  routerLinkActive="active" [queryParams]="{podcastId:modal_podcast.podcastId}" queryParamsHandling="merge">{{modal_podcast.podcastName}}</h6>
      </div>	
      <div class="col-lg-1 col-md-1 col-sm-1 d-sm-inline d-none float-right">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="modal-menu">
      <i class="fa fa-calendar modal-menu-details"></i>
      <span class="mr-2" style="cursor:pointer;">{{modal_episode.releaseDate | date}}</span>
      <i class="fa fa-hourglass modal-menu-details"></i>
      <span style="cursor:pointer;">{{secondsToMinute(modal_podcast.timestamp)}}</span>
      <div class="modal-menu-buttons float-right">
        <button class="btn btn-unique waves-effect waves-light" (click)="subscribedPodcasts(modal_podcast.podcastId)" mat-button title="Subscribe">
          <a><i class="fas fa-thumbs-up"></i></a>
        </button>
        <button class="btn btn-unique waves-effect waves-light" (click)="apply_transcribe(modal_index, cart)" mat-button title="Transcribe">
          <a><i class="fas fa-microphone"></i></a>
        </button>
        <button class="btn btn-unique waves-effect waves-light" (click)="listenLater(modal_podcast.podcastId,modal_podcast.episodeId)" mat-button title="Listen Later">
          <a><i class="fas fa-headphones"></i></a>
        </button>						
      </div>
    </div>
    <div class="separator"></div>
    
    <div class="modal-body modal-scroll">
      <div *ngIf="modal_episode">
        <p [innerHtml]="modal_episode.summary"></p>
      </div>
    </div>
</ng-template>

<ng-template #cart let-c="close" let-d="dismiss">
    
    <div class="modal-header row">
      <div class="col-sm-11 col-10">
        <h2 class="text-center">Your carts</h2>
        
      </div>
      <div class="col-sm-1 col-2">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <div class="modal-medium row">
      <div class="col-7 col-sm-8 col-md-10 col-lg-10 float-left">
        <span class="text-secondary mt-2">Tot Amount: {{this.cartService.tprice | currency:"USD":true:"1.1-2"}}</span>&nbsp;&nbsp; 
        <span class="text-secondary mt-2">Tot Duration: {{this.cartService.totalDuration}} mins</span>
      </div>  
      <div class="col-5 col-sm-4 col-md-2 col-lg-2 md-float-right">
        <button class="btn btn-success float-right" (click)= "creditCheckout()">Pay {{this.cartService.tprice | currency:"USD":true:"1.1-2"}}</button>
      </div>  
    </div>

    <div class="separator"></div>

    <div class="modal-body modal-scroll">
      <div *ngIf="this.cartService.cartItems.length>0">
        <div  *ngFor="let podkast of this.cartService.cartItems; index as i" >
          <div class="row py-3 bottom-border mt-0" >
            <div class="col-lg-2 col-md-3 col-sm-3 col-6 px-0">
                <a [routerLink]="['/podcastdetails']"  routerLinkActive="active" [queryParams]="{podcastId:podkast.podcastId}" queryParamsHandling="merge">
                  <img *ngIf="podkast.imgPath" src="{{podkast.imgPath}}" alt="" class="img-style"/>
                  <img *ngIf="!podkast.imgPath" src="http://www.seiu121rn.org/files/2018/06/blank-avatar1.png" alt="" class="img-style"/>
                </a>
            </div>
            <div class="col-lg-5 col-md-4 col-sm-4 col-6 listen-text pl-0 mt-lg-3" style="padding-left:8px !important;">
                <h6 class="podcast_description" title="{{podkast.episodeName}}"><a [routerLink]="['/episodedetails']" [queryParams]="{episodeId:podkast.episodeId,podcastId:podkast.podcastId}" routerLinkActive="active" queryParamsHandling="merge"><a>{{podkast.episodeName}}</a></a></h6>
                <h6 class="text-muted"><a [routerLink]="['/podcastdetails']"  routerLinkActive="active" [queryParams]="{podcastId:podkast.podcastId}" queryParamsHandling="merge">{{podkast.podcastName}}</a></h6>										
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-4 mt-md-5">
                <span class="text-secondary">{{podkast.durations}} mins</span>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-4 mt-md-5">
                <span class="text-secondary">{{this.cartService.array_price[i] | currency:"USD":true:"1.2-2" }}</span>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-4 p-0 new-play-btn mt-md-5">
              <div class="col-md-12 text-center">
                <li>
                    <button class="btn btn-sm btn-danger" (click)="this.cartService.removeEpisodes(podkast.id)"> Remove</button>      
                </li>
              </div>  
            </div>
          </div>
        </div>
      </div>          
    </div>
</ng-template>
