 <!--footer start-->
 <div class="wrapper slide-menu">
  <div class="content-wrapper pl-0 height60">
 
    <div class="container-fluid p-xs-0 p-0">
      <div class="container-fluid footer_bg">
          <div class="row">
            <div class="col-xl-11 col-lg-10 col-md-10 text-left copyright">
                <p>&copy; 2019 Copyright LIGHT.sx All Rights reserved.</p>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-2  footer-link">
              <div class="row">
                <div class="col-6">
                  <ul>
                    <a [routerLink]="['/aboutus']" title="About Us">
                      <li><a><i class="fas fa-question"></i></a></li>
                    </a>
                  </ul>
                </div>
                <div class="col-6">
                  <ul>
                    <a href="https://www.facebook.com/lightsearchengine" target="_blank">
                      <li><a><i class="fab fa-facebook-f"></i></a></li>
                    </a>
                  </ul>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
 </div>
  <!--footer end-->
  

