<div class="wrapper">
  <!--=================================
   header start-->
    <nav class="admin-header navbar navbar-default col-lg-12 col-12 p-0 d-flex flex-row" id="admin-header">
    <!-- logo -->
    <div class="text-left navbar-brand-wrapper pt-1">
      <a class="navbar-brand brand-logo"> 
        <img routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" src="assets/images/light_logo.png" alt="" >
      </a>
      <a class="navbar-brand brand-logo-mini pl-0"> 
        <img class="ml-auto mr-auto" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" src="assets/images/logo-icon-dark.png" alt=""/>
      </a>
    </div>
    <!-- Top bar left -->
    <ul class="nav navbar-nav menu-btn">
      <li class="nav-item">
        <a id="button-toggle" class="button-toggle-nav inline-block pull-left plr-0" href="javascript:void(0);"><i class="fas fa-bars mr-xs-30"></i></a>
      </li>
    </ul>
    
    <ul class="nav navbar-nav mr-auto mr-sm-35 mr-xs-0 main-search d-xl-inlin d-lg-inline d-none">
        <li class="nav-item">
        <div class="search">
          <div class="input-group main-search">
            <span class="input-group-btn">
              <button class="btn btn-default search-btn not_click border-rounded-left" type="button" href="javascript:void(0);"></button>
            </span>
            <input type="text" class="form-control my-form-control search-bar-font" placeholder="Search Podcast or Episode" [formControl]="searchTerm" (keydown.enter)="onEnterDown($event)" [matAutocomplete]="auto">
            <span class="input-group-btn">
              <button class="btn btn-default search-btn-icon border-rounded-right" type="" (click)="search_podcast()"></button>
            </span>    
            <mat-autocomplete #auto="matAutocomplete" style="margin-top: 15px;">
              <mat-option  *ngFor="let item of searchResult" [value]="item.topPodcast.name">
                <p [routerLink]="['/podcastdetails']" [queryParams]="{podcastId:item.topPodcast.podcastId}" queryParamsHandling="merge">
                  <img style="width:50px;height:50px;" *ngIf="item.topPodcast.thumbnail" src="{{item.topPodcast.thumbnail}}">
							  	<img style="width:50px;height:50px;" *ngIf="!item.topPodcast.thumbnail" src="http://www.seiu121rn.org/files/2018/06/blank-avatar1.png">
                  {{item.topPodcast.name}}
                </p>
              </mat-option>
            </mat-autocomplete>        
          </div><!-- /input-group -->
          <div class="search-box not-click">
            <form method="get" [formGroup]="searchForm" (ngSubmit)="submitForm()">
            <div class="col-md-12">
            <div class="col-md-3">
              <input list="browsers" type="text" class="not-click form-control search-form" placeholder="Podcast" [formControl]="searchPodcast" name="search" [matAutocomplete]="auto__">
              <mat-autocomplete #auto__="matAutocomplete" style="margin-top: 15px" (optionSelected)='getPodcastId($event.option.value)'>
                <mat-option  *ngFor="let item of searchResult_advanced" [value]="item.topPodcast.name">
                  <p>
                    {{item.topPodcast.name}}
                  </p>
                </mat-option>
              </mat-autocomplete>     
            </div>
            <div class="col-md-3">
              <input type="text" class="not-click form-control search-form search-bar-font" placeholder="Author" formControlName="author" value="" name="search">
            </div>
            <div class="col-md-3">
                <select  formControlName="t" class="not-click search-form-dropdown"  >
                    <option value="" disabled selected>Select Category</option>
                    <option  value= "	Games & Hobbies	">	Games & Hobbies	</option>
                    <option  value= "	Automotive	">	Automotive	</option>
                    <option  value= "	Aviation	">	Aviation	</option>
                    <option  value= "	Hobbies	">	Hobbies	</option>
                    <option  value= "	Other Games	">	Other Games	</option>
                    <option  value= "	Video Games	">	Video Games	</option>
                    <option  value= "	Arts	">	Arts	</option>
                    <option  value= "	Design	">	Design	</option>
                    <option  value= "	Fashion & Beauty	">	Fashion & Beauty	</option>
                    <option  value= "	Food	">	Food	</option>
                    <option  value= "	Literature	">	Literature	</option>
                    <option  value= "	Performing Arts	">	Performing Arts	</option>
                    <option  value= "	Visual Arts	">	Visual Arts	</option>
                    <option  value= "	Business	">	Business	</option>
                    <option  value= "	Business News	">	Business News	</option>
                    <option  value= "	Careers	">	Careers	</option>
                    <option  value= "	Investing	">	Investing	</option>
                    <option  value= "	Management & Marketing	">	Management & Marketing	</option>
                    <option  value= "	Shopping	">	Shopping	</option>
                    <option  value= "	Comedy	">	Comedy	</option>
                    <option  value= "	Education	">	Education	</option>
                    <option  value= "	Educational Technology	">	Educational Technology	</option>
                    <option  value= "	Higher Education	">	Higher Education	</option>
                    <option  value= "	Language Courses	">	Language Courses	</option>
                    <option  value= "	Training	">	Training	</option>
                    <option  value= "	Government & Organizations	">	Government & Organizations	</option>
                    <option  value= "	Local	">	Local	</option>
                    <option  value= "	National	">	National	</option>
                    <option  value= "	Non-Profit	">	Non-Profit	</option>
                    <option  value= "	Regional	">	Regional	</option>
                    <option  value= "	Health	">	Health	</option>
                    <option  value= "	Alternative Health	">	Alternative Health	</option>
                    <option  value= "	Fitness & Nutrition	">	Fitness & Nutrition	</option>
                    <option  value= "	Self-Help	">	Self-Help	</option>
                    <option  value= "	Sexuality	">	Sexuality	</option>
                    <option  value= "	Kids & Family	">	Kids & Family	</option>
                    <option  value= "	Music	">	Music	</option>
                    <option  value= "	News & Politics	">	News & Politics	</option>
                    <option  value= "	Religion & Spirituality	">	Religion & Spirituality	</option>
                    <option  value= "	Buddhism	">	Buddhism	</option>
                    <option  value= "	Christianity	">	Christianity	</option>
                    <option  value= "	Hinduism	">	Hinduism	</option>
                    <option  value= "	Islam	">	Islam	</option>
                    <option  value= "	Judaism	">	Judaism	</option>
                    <option  value= "	Other	">	Other	</option>
                    <option  value= "	Spirituality	">	Spirituality	</option>
                    <option  value= "	Science & Medicine	">	Science & Medicine	</option>
                    <option  value= "	Medicine	">	Medicine	</option>
                    <option  value= "	Natural Sciences	">	Natural Sciences	</option>
                    <option  value= "	Social Sciences	">	Social Sciences	</option>
                    <option  value= "	Society & Culture	">	Society & Culture	</option>
                    <option  value= "	History	">	History	</option>
                    <option  value= "	Personal Journals	">	Personal Journals	</option>
                    <option  value= "	Philosophy	">	Philosophy	</option>
                    <option  value= "	Places & Travel	">	Places & Travel	</option>
                    <option  value= "	Sports & Recreation	">	Sports & Recreation	</option>
                    <option  value= "	Amateur	">	Amateur	</option>
                    <option  value= "	College & High School	">	College & High School	</option>
                    <option  value= "	Outdoor	">	Outdoor	</option>
                    <option  value= "	Professional	">	Professional	</option>
                    <option  value= "	TV & Film	">	TV & Film	</option>
                    <option  value= "	Technology	">	Technology	</option>
                    <option  value= "	Gadgets	">	Gadgets	</option>
                    <option  value= "	Podcasting	">	Podcasting	</option>
                    <option  value= "	Software How-To	">	Software How-To	</option>
                    <option  value= "	Tech News	">	Tech News	</option>
                  </select>
            </div>
           <!--  <div class="col-md-3 search-form-mt">
              <input type="text" class="not-click form-control search-form" placeholder="Project" />
            </div> -->
            <!--<div class="col-md-3 search-form-mt">
              <input type="text" class="not-click form-control search-form" placeholder="Group" />
            </div>-->
            </div>
            
            <div class="col-md-12 mt-10">
            <!--<div class="col-md-3">
              <input type="text" class="not-click form-control search-form" placeholder="Username" />
            </div>-->
            <div class="col-md-3">
                <select  formControlName="w" class="not-click search-form-dropdown">
                    <option value="" disabled selected>Search by Date</option>
                    <option value="lastWeek" selected="{w == 'lastWeek'}">Last Week</option>
                    <option value="lastMonth" selected="{w == 'lastMonth'}">Last Months</option>
                    <option value="threeMonth" selected="{w == 'threeMonth'}">Last Three Months</option>
                    <option value="sixMonth" selected="{w == 'sixMonth'}">Last Six Months</option>
                    <option value="lastYear" selected="{w == 'lastYear'}">Last Year</option>
                    </select>
            </div>
            <div class="col-md-3">
              <a href="#"><button type="submit" class="btn search-btn-main">SEARCH</button></a>
            </div>
            </div>
          </form>

          </div>


        </div>
      </li>
    </ul>
    
    <!-- top bar right -->
    <ul class="nav navbar-nav ml-auto ml-xs-5 mr-sm-35 d-md-inline d-none">
      <li class="nav-item dropdown mr-30">
        <div id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li *appShowAuthed="true">
              <button class="btn btn-sm bg-inverse" style="margin-top: 5px;" [disabled]="0" [routerLink]="['/checkout']">
                <i class="fa fa-shopping-cart"></i>
              </button>
            </li>
            <li class="dropdown" *appShowAuthed="true">
              <form class="form-inline balance" >
                <div class="btn-group">
                  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{currentUser.balance | currency:"USD":true:"1.1-2"}} Balance
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <button [routerLink]="['/addcredit']" class="dropdown-item" type="button">Add Credit</button>
                    <button [routerLink]="['/transaction']" class="dropdown-item" type="button">Transaction History</button>
                    <button [routerLink]="['/businesspage']" class="dropdown-item" type="button">Public Profile</button>
                  </div>
                </div>
              </form>  
            </li>
            <li *appShowAuthed="true" class="top-link"><a [routerLink]="['/profile']"><i class="fas fa-user"></i> &nbsp;<strong>{{currentUser.username}}</strong></a></li>
            <li *appShowAuthed="false" class="top-link ml_-19 border-0"><a [routerLink]="['/login']"><i class="fas fa-info"></i> &nbsp; Login</a></li>
            <li *appShowAuthed="false" class="top-link"><a [routerLink]="['/register']"><i class="fas fa-book"></i> &nbsp; Register</a></li>
          </ul>
        </div>
      </li>
    </ul>
    
    <div class="ln-search-input-container input-group input-group-lg px-2 d-lg-none">
        <input type="text" class="form-control ln-search-input search-bar-font" [formControl]="searchTerm" placeholder="Enter keyword or phrase to begin" [matAutocomplete]="auto">
        <div class="input-group-append">
          <button class="btn btn-primary ln-search-button" (click)="search_podcast()"><i class="fas fa-search"></i></button>
        </div>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option>
          <ng-container *ngIf="!isLoading">
            <mat-option  *ngFor="let item of searchResult" [value]="item.topPodcast.name">
              <p [routerLink]="['/podcastdetails']" [queryParams]="{podcastId:item.topPodcast.podcastId}" queryParamsHandling="merge">
                <img style="width:50px;height:50px;" *ngIf="item.topPodcast.thumbnail" src="{{item.topPodcast.thumbnail}}">
                <img style="width:50px;height:50px;" *ngIf="!item.topPodcast.thumbnail" src="http://www.seiu121rn.org/files/2018/06/blank-avatar1.png">
                {{ item.topPodcast.name}}
              </p>
            </mat-option>
          </ng-container>
        </mat-autocomplete>          
    </div>
  </nav>
</div>

  
                                                                  