
<div class="content-wrapper" style="margin-top: 25px">

<div class="main-content">
    <div class="container-fluid p-xs-0">
        <div class="row w-100">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger" >
                        <h4 class="card-title">Edit Profile</h4>
                        <p class="card-category">Complete your profile</p>
                    </div>
                    <alert></alert>

                    <div class="card-body">
                        <form [formGroup]="profileForm" (ngSubmit)="submitProfileForm()"> 
                            <div class="row">
                                <div class="col-md-6">
                                    <h6 class="normal-label-style">Password</h6>
                                    <mat-form-field appearance="outline"  class="example-full-width">
                                        <input matInput placeholder="password" formControlName="password" required type="text" >
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <h6 class="normal-label-style">Username</h6>
                                    <mat-form-field appearance="outline"  class="example-full-width">
                                      <input matInput placeholder="Username" formControlName="userName" required type="text" >
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <h6 class="normal-label-style">Email</h6>
                                    <mat-form-field appearance="outline" class="example-full-width">
                                      <input matInput placeholder="Email Address" formControlName="email" required type="email" [attr.disabled]="true">
                                    </mat-form-field>
                                </div>
                                <!--<div class="col-md-6">
                                    <h6 class="normal-label-style">Number of Joined Referral</h6>
                                    <mat-form-field appearance="outline" class="example-full-width">
                                      <input matInput placeholder="0" formControlName="noreferral" required type="text" [attr.disabled]="true">
                                    </mat-form-field>
                                </div>-->
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                  <h6 class="normal-label-style">*First Name</h6>
                                  <input class="form-control" placeholder="Zhon" formControlName="firstName" required type="text" >
                                </div>
                                <div class=" form-group col-md-6">
                                  <h6 class="normal-label-style">*Last Name</h6>
                                  <input class="form-control" placeholder="Doe" formControlName="lastName" required type="text" >
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                  <h6 class="normal-label-style">*Address</h6>
                                  <input class="form-control" formControlName="address" required type="text">
                                </div>
                                <div class="form-group col-md-6">
                                  <h6 class="normal-label-style">*City</h6>
                                  <input class="form-control" placeholder="New York" formControlName="city" required type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                  <h6 class="normal-label-style">*State</h6>
                                  <mat-form-field appearance="outline"  class="example-full-width">
                                    <mat-select formControlName="state">
                                      <mat-option *ngFor="let state of currentStates" [value]="state">
                                        {{state}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                  <h6 class="normal-label-style">*Zip Code</h6>
                                  <mat-form-field appearance="outline" class="example-full-width">
                                    <input matInput formControlName="postalCode" required type="text">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                  <h6 class="normal-label-style">*Country</h6>
                                  <mat-form-field appearance="outline" class="example-full-width">
                                      <mat-select id="country" name="Country" formControlName="country" (selectionChange)="countryChanged($event)" required >
                                          <mat-option *ngFor="let country of countries" [value]="country.short">
                                            {{country.publicName}}
                                          </mat-option>
                                      </mat-select>
                                  </mat-form-field>
                                </div>
                            </div>
                          
                            <button mat-raised-button type="submit"  class="btn btn-lg btn-success"><i class="glyphicon glyphicon-ok-sign"></i> Update Profile</button>
                            <button mat-raised-button class="btn btn-lg btn-danger" style="float:right" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>

                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile  mb-3">
                  <div class="card-body">
                    <h6 class="card-category text-grey"><strong>My Credit</strong>&nbsp;<i class="fas fa-dollar-sign"></i></h6>
                    <h4 class="card-title">{{currentUser.balance| currency:"USD":true:"1.1-2"}}</h4>
                    <p class="card-description">
                    </p>
                    <button [routerLink]="['/addcredit']" mat-raised-button class="btn btn-lg btn-danger" style="float:right" type="reset"><i class="glyphicon glyphicon-credit-card"></i> Add Credits</button>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">Default Payment Method <i class="far fa-credit-card fa-1x"></i> </div>
                    <form [formGroup]="paymentMethodFrom" (ngSubmit)="submitPaymentForm()"> 
                      <div class="panel-body">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Credit Card" formControlName="creditcard" type="text">
                          <span matSuffix class = "fa fa-credit-card"></span>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Paypal Email" formControlName="paypal" type="text">
                          <span matSuffix class = "fab fa-cc-paypal"></span>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Google Email" formControlName="googlepay" type="text">
                          <span matSuffix class = "fab fa-google-wallet"></span>
                        </mat-form-field>
                        <p class="card-description">
                        </p>
                        <button mat-raised-button style="float:left" class="btn btn-info btn-round">Add Payment Method</button>
                        <button mat-raised-button [routerLink]="['/addcredit']" class="btn btn-lg btn-info" style="float:right"><i class="glyphicon glyphicon-check"></i>Update</button>
                      </div>
                    </form>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">Episodes Transcribed <i class="far fa-file-alt"></i> </div>
                    <div class="panel-body">
                      <h4 class="card-title"><a href="#">10</a></h4>
                      <p class="card-description">
                      </p>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">Number Of Joined Referral <i class="far fa-file-alt"></i> </div>
                    <div class="panel-body">
                      <h4 class="card-title"><a href="#">{{this.currentUser.noOfRefferral}}</a></h4>
                      <p class="card-description">
                      </p>
                    </div>
                  </div>
                </div>
            <div class="clearfix"></div>
        </div>
    </div>
  </div>

  </div>
