<div class="content-wrapper" style="margin-top: 25px"> 
    <div class="main-content">
        <div class="container-fluid p-xs-0">
            <div class="row w-100">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger" >
                            <h4 class="card-title">Add Credit</h4>
                            <p class="card-category">Complete Your Purchase</p>
                        </div>
                        <div class="card-body">
                          <form #checkout="ngForm" [formGroup]="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
                              <div class="row">
                                  <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                                    <label>First Name</label>
                                    <input [attr.disabled]="true" placeholder="First Name" type="text" formControlName="firstname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" />    
                                    <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                                        <div *ngIf="f.firstname.errors.required">First Name is required</div>
                                    </div>
                                  </div>
                                  <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                                    <label>Last Name</label>
                                    <input [attr.disabled]="true" placeholder="Last Name" type="text" formControlName="lastname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }"/>
                                    <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                                        <div *ngIf="f.lastname.errors.required">Last Name is required</div>
                                    </div>             
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                                    <label>Address</label>
                                    <input [attr.disabled]="true" placeholder="Address" formControlName="address" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }"/>
                                    <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                        <div *ngIf="f.address.errors.required">Address is required</div>
                                    </div>
                                  </div>
                                  <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                                    <label>Zip Code</label>
                                    <input [attr.disabled]="true" placeholder="Zip Code" formControlName="zip_code" type="number" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.zip_code.errors }"/>
                                    <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                        <div *ngIf="f.zip_code.errors.required">Zip Code is required</div>
                                    </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                                    <label>City</label>
                                    <input [attr.disabled]="true" placeholder="City" formControlName="city" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }"/>
                                    <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                        <div *ngIf="f.city.errors.required">City Name is required</div>
                                    </div>
                                  </div>
                                  <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                                    <label>Country</label> 
                                    <input [attr.disabled]="true" placeholder="Country" formControlName="country" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.country.errors }"/>
                                    <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                                        <div *ngIf="f.country.errors.required">Country Name is required</div>
                                    </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                                    <label>Email</label>
                                    <input [attr.disabled]="true" placeholder="Email address" formControlName="email" type="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                    </div>
                                  </div>
                                  <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                                    <label>Phone Number</label>
                                    <input [attr.disabled]="true" placeholder="Telephone" formControlName="phone" type="tel" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"/>
                                    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                        <div *ngIf="f.phone.errors.required">Phone Number is required</div>
                                    </div>
                                  </div>
                              </div>
                              <div class="row">
                                <div class="col-md-12 form-group">
                                  <mat-card-content class="text-left">
                                    <section>
                                      <mat-radio-group formControlName ="amount" [formGroup]="ngForm">
                                        <mat-radio-button value="10" class="w-100 mb-3"> $10.00</mat-radio-button> 
                                        <mat-radio-button value="25" class="w-100 mb-3"> $25.00</mat-radio-button> 
                                        <mat-radio-button value="50" class="w-100 mb-3"> $50.00</mat-radio-button> 
                                        <mat-radio-button value="100" class="w-100 mb-3"> $100.00</mat-radio-button> 
                                        <mat-radio-button value="other" class="w-100 mb-3"> 
                                            <div class="input-group">
                                              <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                              </div>
                                              <input formControlName="other_amount" placeholder="Amount(More than $5.00)" type="number" class="example-right-align form-control" [ngClass]="{ 'is-invalid': submitted && f.amount.errors }">
                                              <div class="input-group-append">
                                                <span class="input-group-text">.00</span>
                                              </div>
                                            </div>   
                                        </mat-radio-button> 
                                      </mat-radio-group>
                                    </section>
                                  </mat-card-content>
                                </div> 
                                <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                                  <div *ngIf="f.amount.errors.required">Amount is required</div>
                                </div>
                              </div>

                              <label for="card-info" style="margin-top: 20px"><strong> Card Info</strong></label>
                              <div id="card-info"  #cardInfo></div>
                              <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>   
                              <button [disabled]="isLoading" type="submit">Purchase</button>
                              <img *ngIf="isLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                          </form>

                    </div>
              </div>
          </div>
    </div>
</div>

<ng-template #fund let-c="close" let-d="dismiss">
    <div class="modal-header row">
      <div class="col-md-11">
        <h3>Add Funds</h3>
      </div>
      <div class="col-md-1">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
    </div>

    <div class="separator"></div>
    
    <div class="modal-body modal-scroll">
      <form [formGroup]="chargeForm" (ngSubmit)="onCharge()" class="charge">
        <mat-card>
          <mat-card-content>
            <section>
              <mat-radio-group formControlName ="amount" [formGroup]="chargeForm">
                <mat-radio-button value="10" class="w-100"> $10.00</mat-radio-button> 
                <mat-radio-button value="25" class="w-100"> $25.00</mat-radio-button> 
                <mat-radio-button value="50" class="w-100"> $50.00</mat-radio-button> 
                <mat-radio-button value="100" class="w-100"> $100.00</mat-radio-button> 
                <mat-radio-button value="other" class="w-100"> Other:
                    <span matPrefix>$&nbsp;</span>
                    <input matInput formControlName="other_amount" placeholder="Amount(More than $5.00)" type="number" class="example-right-align">
                </mat-radio-button> 
                
              </mat-radio-group>
            </section>
          </mat-card-content>
        </mat-card>
        <button type="submit" class="float-right">Confirm</button>
      </form>
    </div>
</ng-template>