<div class="content-wrapper">
    <!-- widgets -->
    <div class="row mt-lg-4 mt-2">
        <div class="container">
        <div class="row">
        <div class="col-lg-12 text-center main-title">
                <h1>Podcast Enthusiasts</h1>
                <div class="heading-line"><img src="assets/images/heading-line.png" alt=""/></div>
            <p>LIGHT is a full feature application to make finding and engaging with podcasts much more enjoyable and productive. Here are just some of the features.</p>
            </div>
        </div>
    </div>
    
    <div class="container-fluid gray-bg mt-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Transcribe Podcasts</h3>
                    <div class="heading-line"><img src="assets/images/heading-small-line.png" alt=""/></div>
                </div>
                <div class="col-lg-12 text-center mt-3">
                    <div class="row">
                        <div class="col-lg-4 transcribe col-sm-4">
                            <div class="col-lg-12 transcribe-inner">
                                <span></span>
                                <h6>Transcribe Podcasts in Seconds</h6>
                                <hr>
                                <p>As a user you are able to have any podcast transcribed so you that you can quickly view the contents of the episode you are interested in. Most podcast episodes only takea few seconds to transcribe using our unique AI and deep learning technology.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 transcribe col-sm-4">
                            <div class="col-lg-12 transcribe-inner">
                                <span></span>
                                <h6>Search Within Transcripts</h6>
                                <hr>
                                <p>By transcribing a podcast you are able to find the parts of the episode that you find the most interesting. If you want to share part of it with a friend you can find the exact spot within seconds. We’ve made it very inexpensive and easy to transcribe podcasts.   </p>
                            </div>
                        </div>
                        <div class="col-lg-4 transcribe col-sm-4">
                            <div class="col-lg-12 transcribe-inner">
                                <span></span>
                                <h6>Learn Faster</h6>
                                <hr>
                                <p>Additionally by transcribing the podcast you can learn much faster.If you listen at a faster rate of speed while following the words you are engaging more sensory processes in your learning which allow for much better understanding and recall at the faster rate.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 text-center mt-3"><p class="m-0">We’ve made it very inexpensive and easy to transcribe podcasts.</p></div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="container mt-30">
        <div class="row">
            <div class="col-lg-12 text-center">
            <h3>Highlighting</h3>
            <div class="heading-line"><img src="assets/images/heading-small-line.png" alt=""/></div>
            </div>
            <div class="col-lg-12 mt-30">
            <div class="row">
                    <div class="col-lg-7 highlight-text">
                        <p>Once you’ve transcribed a podcast you are able to highlight parts of the episode that you want to remember. If they were talking about a particular topic of interest you can highlight the precise words so you can come back to it later.</p>
                        <br>
                    <p>Additionally other users can highlight the same podcast. So you can quickly see what others have found important within that podcast episode. Using our Highlight Density tool you can choose the density of highlights for that episode. For ex using the slider you can show only sections where 3 or more people highlighted or 6 or more. This is useful in the case where an episode has a ton of highlights. The more times people highlighted the same passage, the more likely it is to be important or useful to you</p>
                    </div>
                    <div class="col-lg-5 highlight-img">
                        <img src="assets/images/highlighting-img.png" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
    <div class="container-fluid gray-bg search-transcript mt-30 pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Search Within the Transcript</h3>
                    <div class="heading-line"><img src="assets/images/heading-small-line.png" alt=""/></div>
                </div>
                <div class="col-lg-12 mt-30">
                <div class="row">
                        <div class="col-lg-6 highlight-img">
                            <img src="assets/images/search_transcript-img.png" alt=""/>
                        </div>
                        <div class="col-lg-6 highlight-text">
                            <p>Our search engine searches within all available episodes but one unique feature is that you can search for many different words within each transcript. You can search for as many words as you want and each word will be highlighed a different color through out the text. </p>
                            <br>
                            <p>This will make it very easy to find sections of the transcript that are most interesting and relevant to you. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="container-fluid">
        <div class="container mt-30">
        <div class="row">
            <div class="col-lg-12 text-center mb-30">
            <h3>Collections</h3>
            <div class="heading-line"><img src="assets/images/heading-small-line.png" alt=""/></div>
            </div>
            <div class="col-lg-6 collections-text col-sm-12">
                <div class="text-box"><p class="m-0">As you highlight your favorite parts of each podcast episode you can add those highlights to collections. For example if you are researching a certain topic then you can search and highlight parts from many different podcasts and put them into one collection.Then you can Play that collection as you would any other podcast. It would play the highlighted sections from the multiple podcasts as if it were like one audio file.</p></div>
            </div>
            <div class="col-lg-3 collections-text col-sm-6">
                <div class="text-box"><p class="m-0">Additionally you can select if your Collection is Public or Private. Having your collection Public, others can see your collection and you can get credit. It will also link back to your public page if you choose to create one.</p></div>
            </div>
            <div class="col-lg-3 collections-text col-sm-6">
                <div class="text-box"><p class="m-0">You can also just search through highlights you made and highlights others have made in the Collections tab. Searching this way makes the content you find much more likely to be valuable if someone highlighted it.</p></div>
            </div>
        </div>
    </div>
    </div>
    
    
    <div class="container-fluid mt-30 pattern-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center bookmark-bg">
                    <h3>Bookmarks</h3>
                    <div class="heading-line"><img src="assets/images/heading-small-line.png" alt=""/></div>
                    <p>If you are listening to a podcast and hear something really interesting, with the click of a button you can Bookmark it so that you can come back to it later.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container mt-30">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Search</h3>
                <div class="heading-line"><img src="assets/images/heading-small-line.png" alt=""/></div>
                <p>Using the LIGHT search bar you can search through the content of all of millions of podcast episodes and transcripts for those that are available. It searches through millions of records in sub second times finding you the best and most relevant results.</p>
            </div>
            <div class="col-lg-12 search-category text-center w-100">
                <ul>
                    <li class="list-inline"><a href="#">Podcast Name</a></li>
                    <li class="list-inline"><a href="#">Category</a></li>
                    <li class="list-inline"><a href="#">Episode Release Date</a></li>
                    <li class="list-inline"><a href="#">Podcast Author</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    
    <div class="container-fluid gray-bg mt-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 edit-transcripts-text text-center">
                    <h3>Edit Transcripts</h3>
                    <div class="heading-line"><img src="assets/images/heading-small-line.png" alt=""/></div>
                    <p>While our AI derived transcripts are around 95% accurate they are still not perfect. If you see parts of the transcript that are incorrect, you can easily edit it in the user interface. You will also get credit for making the correction.<br><br>The edited text will be highlighted and when a user hovers over it, it will show that you edited it and a link back to your public profile page.</p>
                </div>
                <div class="col-lg-5 highlight-img">
                    <img src="assets/images/edit-transcripts-img.png" alt=""/>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="container mt-30 mb-lg-5">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Public Profile Page</h3>
                    <div class="heading-line"><img src="assets/images/heading-small-line.png" alt=""/></div>
                </div>
                <div class="col-lg-12 highlight-text">
                    <p>Having your own public profile page you can showcase aspects of yourself or your business. You can use it to promote your business or just let people know who you are. There are many ways to engage socially within LIGHT which all link back to this page about yourself or business.</p>
                    <br>
                    <p>If you transcribe a podcast it will show that you transcribed it on the transcription page and also within the search results. This will link back to this public profile page of yours.</p>
                    <br>
                    <p>Additionally if you highlight and create collections it will show that you created it and link back to your public profile page. </p>
                    <br>
                    <p>There are many ways within LIGHT that will link back to this page.</p>
                </div>
            </div>
        </div>
    </div>   
    </div><!--row end-->
    
    
    
</div><!-- main content wrapper end-->