.nav-link {
  cursor:pointer;
}

.tag-pill{
  cursor:pointer;
}

.home{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../../assets/images/home_banner.png);
  background-color: #cccccc;
  font-family: 'ralewaybold';
  font-size: 28px;
  color: white;
}
.heading{
  height: 20%;
}
.heading_link{
  height: 20%;
}
.heading .odd_{
  color: white;
  font-size: 2.5rem;
  text-shadow: 0px 5px 5px #001135;
}
.heading .even_{
  color: #f7941d;
  font-size: 4rem;
  text-shadow: 0px 5px 5px #001135;
}
.nav-link{
  font-size: 1.4rem;
}

@media screen and (min-width:1474px){
	.heading .odd_{
    color: white;
    font-size: 60px;
    text-shadow: 0px 5px 5px #001135;
  }
  .heading .even_{
    color: #f7941d;
    font-size: 80px;
    text-shadow: 0px 5px 5px #001135;
  }
  .nav-link{
    font-size: 2rem;
  }
}

.home ul{
  list-style-type: none;
  float: left;
}
.home ul li{
  float: left;
  padding: 0px 10px 0px 10px;
  border-color: #f7941d;
  border-left-style: solid;
}


.heading_middle{
  height: 40%;
}

.heading_search{
  height: 20%;
}

@media (max-width: 1000px) {
  .col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; 
  }
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 50.666667%;
    max-width: 50.666667%; }
  .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;}
  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
}

.home_navigation{
  background-color: #cccccc;
}

.home_navigation .nav_learn_more{
  /* height: 200px; */
  background-color: white;
  border-radius: 5px;
  border-style: solid;
  border-width: 0px;
  -webkit-box-shadow: 2px 4px 11px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 4px 11px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 4px 11px 0px rgba(0,0,0,0.75);
}

.nav_learn_more ul{
  /* list-style-type: none; */
  list-style-position: inside;
  list-style-image: url(../../assets/images/Rectangle.png);
}
.nav_learn_more ul li{
  font-size: 15px;
  font-weight: 600;
}
.button-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-center input{
  border-radius: 10px;
  font-size: 17px;
  font-weight: 600;
}
.nav_heading{
  font-family: 'ralewaybold';
  font-size: 1.5rem;
  color: #f26522;
}
.nav_title{
  font-family: 'ralewaybold';
  font-size: 1.4rem;
  color: #0072bc;
}

.home_register_btn_pos{
  position: absolute;
  left: 112px;
  top: 199px;
}

.home_register_btn{
  position: absolute;
  left: 24%;
  top: 67%;
  border-width: 2px;
  border-color: white;
  background: #7db9e8; /* Old browsers */
  background: -moz-linear-gradient(top, #7db9e8 0%, #1e5799 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #7db9e8 0%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #7db9e8 0%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
}

.ln-search-input-container input{
  font-size: 1rem;
}