<!--=================================
 Main content -->
<div class="content-wrapper p-0" style="top:0px;">
	<div class="home px-lg-5 px-md-4 px-2 py-5 row">
		<div class="col-12 heading">
			<span class="odd_">The </span><span class="even_">Search Engine </span><span class="odd_">For </span><span class="even_">Podcasts</span>
		</div>
		<div class="col-12 heading_link mt-lg-5 mt-md-0">
			<ul>
				<li><a class="nav-link">Search for Podcasts</a></li>
				<li><a class="nav-link">Search within Podcasts</a></li>
				<li><a class="nav-link">Engage with Podcasts</a></li>	
			</ul>
		</div>
		<div class="col-12 heading_middle mt-lg-5 mt-md-0">
			<div class="row">
				<div class="col-xl-8 col-lg-7 col-md-12">
					<span>LIGHT uses AI and Deep Learning<br>so you can search within<br>podcast episodes.</span>
				</div>
				<div class="col-xl-4 col-lg-5 col-md-12 middle_login position-relative">
					<img style="width:100%;" src="assets/images/register_img.png" />
					<button *ngIf="!isAuthenticated" [routerLink]="['/register']" class="btn-reguler mb-2 home_register_btn home_register_btn_pos" type="button">
						Register</button>
				</div>
			</div>
		</div>
		<div class="col-12 heading_search px-5 mt-lg-5 mt-md-0">
			<div>
				<button *ngIf="!isAuthenticated" [routerLink]="['/login']" class="btn-reguler mb-2" type="button">
					LOGIN</button>
			</div>
			<div class="ln-search-input-container input-group input-group-lg">
				<input type="text" class="form-control ln-search-input" [formControl]="searchTerm" (keydown.enter)="onEnterSearch($event)" placeholder="Enter keyword or phrase to begin" [matAutocomplete]="auto">
				<div class="input-group-append">
					<button class="btn btn-primary ln-search-button"><i class="fas fa-search"></i></button>
				</div>
				<mat-autocomplete #auto="matAutocomplete">
					<mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option>
					<ng-container *ngIf="!isLoading">
						<mat-option  *ngFor="let item of searchResult" [value]="item">
							<p [routerLink]="['/podcastdetails']" [queryParams]="{podcastId:item.topPodcast.podcastId}" queryParamsHandling="merge">
								<img style="width:50px;height:50px;" *ngIf="item.topPodcast.thumbnail" src="{{item.topPodcast.thumbnail}}">
								<img style="width:50px;height:50px;" *ngIf="!item.topPodcast.thumbnail" src="http://www.seiu121rn.org/files/2018/06/blank-avatar1.png">
								{{ item.topPodcast.name}}
							</p>
						</mat-option>
					</ng-container>
				</mat-autocomplete>          
			</div>
		</div>
	</div>
	<div class="row home_navigation px-lg-5 py-lg-5">
		<div class="col-lg-4 col-12 px-3">
			<div class="col-12 nav_learn_more px-3 py-3 my-lg-0 my-2">
				<div class="row">
					<div class="col-12">
						<div class="row">
							<div class="col-xl-4 col-12">
								<img class="center-block" src="assets/images/Layer 5.png" />
							</div>
							<div class="col-xl-8 col-12">
								<span class="nav_heading">Podcast Enthusiasts -</span>
								<span class="nav_title">Learn more of how you can</span>
							</div>
						</div>
					</div>
					<div class="col-12 mt-4">
						<ul>
							<li>Search for podcast content</li>
							<li>Inexpensively transcribe your favorite podcasts within minutes</li>
							<li>Multi-highlight within transcripts</li>
							<li>Bookmark</li>
							<li>Highlight</li>
							<li>Create collections of highlights for different episodes</li>
							<li>And see the highlights and collections of others</li>
						</ul>
					</div>
					<div class="col-12 mt-3 button-center">
						<input type="button" [routerLink]="['/podcastenthusiast']" class="btn btn-primary" value="LEARN MORE"/>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-12 px-3">
			<div class="col-12 nav_learn_more px-3 py-3 my-lg-0 my-2">
				<div class="row">
					<div class="col-12">
						<div class="row">
							<div class="col-xl-4 col-12">
								<img class="center-block" src="assets/images/Layer 4.png" />
							</div>
							<div class="col-xl-8 col-12">
								<span class="nav_heading">Podcasters -</span>
								<span class="nav_title">Get more exposure and interaction</span>
							</div>
						</div>
					</div>
					<div class="col-12 mt-4">
						<ul>
							<li>Make your content more searchable</li>
							<li>Make your content more dynamic</li>
							<li>Allow users to highlight your content</li>
							<li>Allow users to bookmark your content</li>
							<li>Allow users to create collections with your content</li>
							<li>Create collections of highlights for different episodes</li>
							<li>Advertise to get your podcasts much more exposure</li>
						</ul>
					</div>
					<div class="col-12 mt-3 button-center">
						<input [routerLink]="['/podcaster']" type="button" class="btn btn-primary" value="LEARN MORE"/>
					</div>
				</div>	
			</div>
		</div>
		<div class="col-lg-4 col-12 px-3">
			<div class="col-12 nav_learn_more px-3 py-3 my-lg-0 my-2">
				<div class="row">
					<div class="col-12">
						<div class="row">
							<div class="col-xl-4 col-12">
								<img class="center-block" src="assets/images/Layer 3.png" />
							</div>
							<div class="col-xl-8 col-12">
								<span class="nav_heading">Advertisers -</span>
								<span class="nav_title">Big opportunities to advertise your brand or products</span>
							</div>
						</div>	
					</div>
					<div class="col-12 mt-4">
						<ul>
							<li>Advertise your brand on popular podcast pages</li>
							<li>Transcribe podcasts and get your ad and company name in the search results</li>
							<li>Create your own public page</li>
							<li>New marketplace without the competition like Google and Facebook have</li>
							<li>Get in on the ground floor</li>
						</ul>
					</div>
					<div class="col-12 mt-3 button-center">
						<input type="button" [routerLink]="['/advertiser']" class="btn btn-primary" value="LEARN MORE"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


