<!--=================================
 Main content -->
<div class="content-wrapper">

<div class="content" style="margin-top: 25px;">
  <div class="">
  <!------------------------podcast-start------------------------>          
    <div class="row px-lg-5">
      <div class="col-12">
        <h1 *ngIf="highlights.length>0" class="page-header">{{highlights[0].collectionName}}</h1>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-xl-10 col-lg-10 col-12 scrollbar square scrollbar-lady-lips px-xl-5 px-lg-3 px-0" infiniteScroll
              [infiniteScrollDistance]="2"
              [infiniteScrollThrottle]="50"
              (scrolled)="onScroll()"
              [scrollWindow]="false" style=" height: 48rem; overflow-y: auto;">
            <div *ngIf="highlights.length>0"> 
              <div *ngFor="let highlight of highlight_collections|slice:0:scroll_limit;" class="row h-divider p-2">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12"> 
                  <span [routerLink]="['/episodedetails']" [queryParams]="{episodeId:highlight.episodeId,podcastId:highlight.podcastId}" routerLinkActive="active" queryParamsHandling="merge" title="{{highlight['podcastName']}}" class="img-hover">
                    <h5><strong>Episode Name:</strong> {{highlight.episodeTitle}}</h5>
                  </span>
                  <br>
                  <span class="cursor_point" (click)="playAudios($event,highlight)" title="Play"><strong>Between:</strong> {{secondsToMinute(highlight.startTime/1000)}} ~ {{secondsToMinute(highlight.endTime/1000)}}</span>
                  <br>
                  <span><strong>Highlighted Text:</strong><p [innerHtml]="highlight.highlightedText"></p></span>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                  <span class="text-center float-right">{{highlight.createdTime|date}}</span>
                  <br>
                  <img [routerLink]="['/podcastdetails']" [queryParams]="{podcastId:highlight.podcastId}"  routerLinkActive="active" queryParamsHandling="merge" src="{{highlight['image']}}" style="width:100px;height:100px;" title="{{highlight['podcastName']}}" class="float-right rounded border img-hover">
                </div>
              </div>	
            </div>  
          </div>
          <div class="col-xl-2 col-lg-2 col-12 px-2 mt-xl-0 mt-lg-0 mt-3">
            <div class="row transcripts mb-5">
              <div class="col-12 px-2">
                <mat-form-field  class="float-right" style="width:80%;">
                  <input matInput placeholder="Search Collection" [(ngModel)]="keyword" (keydown.enter)="onSearchCollection($event)" type="text">
                  <span matSuffix class = "fa fa-search"></span>
                </mat-form-field>
              </div>
              <div class="col-12 text-center">
                <h3>Search Within Highlights</h3>
              </div>
              <div id="showmore" class="col-12 transcripts-showmore px-3">
                  <textarea type="text" [(ngModel)]="query" class="form-control text-area-search" placeholder="Search keywords..." (keyup)="search_word($event)"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!--row-->
  </div><!--container-->

<!------------------------podcast-end------------------------>
</div><!--content-->

</div>
